<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    It contains form necessary for adding author to group.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/group/AddAuthorToGroupPanel.html
    Code - cz.larpovadatabaze.components.panel.group.AddAuthorToGroupPanel.html
    -->
    <form wicket:id="addAuthorToGroup">
        <fieldset>
            <div>
                <label for="name"><wicket:message key="form.name">Jméno</wicket:message></label>
                <input type="text" wicket:id="name" />
                <span class="feedback" wicket:id="nameFeedback"></span>
            </div>

            <div>
                <label for="since"><wicket:message key="group.memberSince">Členem od:</wicket:message></label>
                <input type="text" wicket:id="start"/>
                <span class="feedback" wicket:id="startFeedback"></span>
            </div>

            <div>
                <label for="to"><wicket:message key="group.memberTo">Členem do:</wicket:message></label>
                <input type="text" wicket:id="end"/>
                <span class="feedback" wicket:id="endFeedback"></span>
            </div>

            <div>
                <input type="button" value="Uložit" wicket:message="value:save" wicket:id="submit"/>
            </div>

        </fieldset>
    </form>
</wicket:panel>