<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    It contains link to the page for creating new Group.
    It is shown only to the logged user.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/group/AddGroupPanel.html
    Code - cz.larpovadatabaze.components.panel.group.AddGroupPanel.html
    -->

            <div class="pridatPopis">
                <a wicket:id="createGroupIconLink"><i class="fa fa-plus"></i></a>
                <a wicket:id="createGroupLink"><wicket:message key="group.create">Přidat skupinu</wicket:message></a>
            </div>

</wicket:panel>