<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div>
        <form wicket:id="addGroup">
            <h2><wicket:message key="group.create">Přidat skupinu</wicket:message></h2>

            <div>
                <label for="name"><wicket:message key="form.name">Jméno</wicket:message></label>
                <input type="text" wicket:id="name"/>
                <span wicket:id="nameFeedback"></span>
            </div>

            <div>
                <label for="image"><wicket:message key="form.image">Obrázek</wicket:message></label>
                <input type="file" wicket:id="image"/>
                <span wicket:id="imageFeedback"></span>
            </div>

            <div>
                <input type="submit" value="Uložit" wicket:message="value:form.save" wicket:id="submit"/>
            </div>
        </form>
    </div>
</wicket:panel>