<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    Encapsulation of form used for creating groups. It may be used on more than one place. It can also be used for
    editing group if group is given as parameter. If it isn't it gets empty one as a model.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/group/CreateOrUpdateGroupPanel.html
    Code - cz.larpovadatabaze.components.panel.group.CreateOrUpdateGroupPanel.html
    -->
    <form class="sky-form" wicket:id="addGroup">
        <fieldset>
            <section>
                <label class="input">
                    <input type="text" wicket:id="name" wicket:message="placeholder:form.name" />
                    <b class="tooltip tooltip-bottom-right" wicket:id="nameFeedback"></b>
                </label>
            </section>

            <section>
                <label class="input">
                    <input type="file" wicket:id="image"/>
                    <b><wicket:message key="form.image" /></b>
                </label>
            </section>

            <section>
                <label class="input">
                    <select wicket:id="lang"></select>
                </label>
            </section>

            <section>
                <input type="button" class="btn-u" wicket:message="value:form.save" wicket:id="submit"/>
            </section>
        </fieldset>
    </form>
</wicket:panel>