<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    Encapsulation of form used for creating groups. It may be used on more than one place. It can also be used for
    editing group if group is given as parameter. If it isn't it gets empty one as a model.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/group/CreateOrUpdateGroupPanel.html
    Code - cz.larpovadatabaze.components.panel.group.CreateOrUpdateGroupPanel.html
    -->
    <div>
        <form wicket:id="addGroup">
            <h2><wicket:message key="group.create">Přidat skupinu</wicket:message></h2>

            <div>
                <label for="name"><wicket:message key="form.name">Jméno</wicket:message></label>
                <input type="text" wicket:id="name"/>
                <span wicket:id="nameFeedback"></span>
            </div>

            <div>
                <label for="image"><wicket:message key="form.image">Obrázek</wicket:message></label>
                <input type="file" wicket:id="image"/>
                <span wicket:id="imageFeedback"></span>
            </div>

            <div>
                <label for="language"><wicket:message key="game.lang"></wicket:message></label>
                <select wicket:id="lang"></select>
            </div>

            <div>
                <input type="button" value="Uložit" wicket:message="value:form.save" wicket:id="submit"/>
            </div>
        </form>
    </div>
</wicket:panel>