<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
     It consists of link to the page for editing actual group.
     It is shown only for the logged users, who have rights to manage the group.
     It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/group/EditGroupPanel.html
     Code - cz.larpovadatabaze.components.panel.group.EditGroupPanel.html
    -->
    <div class="panel panel-default">
        <div class="panel-heading" >
                <a wicket:id="editGroup"><wicket:message key="group.edit">Editovat skupinu</wicket:message></a>
        </div>
    </div>
</wicket:panel>