<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div wicket:id="addAuthor"></div>

    <table>
        <thead>
        <tr>
            <th><wicket:message key="form.name">Jméno</wicket:message></th>
            <th><wicket:message key="group.memberSince">Členem od:</wicket:message></th>
            <th><wicket:message key="group.memberTo">Členem do:</wicket:message></th>
            <th></th>
        </tr>
        </thead>
        <tbody wicket:id="groupMembers">
        <tr>
            <td>
                <span wicket:id="name"></span>
            </td>
            <td>
                <span wicket:id="since"></span>
            </td>
            <td>
                <span wicket:id="to"></span>
            </td>
            <td>
                <div class="button" wicket:id="remove">X</div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="button" wicket:id="add"></div>
</wicket:panel>