<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="levaCast administration">
        <ul>
        <wicket:enclosure child="manageUserRights"><li><a wicket:id="manageUserRights"><wicket:message key="admin.manageUserRights">Správa uživatelských práv</wicket:message></a></li></wicket:enclosure>
        <li><a wicket:id="manageLabels"><wicket:message key="admin.manageLabels">Správa štítků</wicket:message></a></li>
        <li><a wicket:id="manageComments"><wicket:message key="admin.manageComments">Správa komentářů</wicket:message></a></li>
        </ul>
    </div>

    <!-- PRAVE MENU -->

    <div class="pravaCast">

    </div>
</wicket:extend>