<wicket:extend xmlns:wicket="http://wicket.apache.org">

    <div class="levaCast" id="admin">
        <div wicket:id="manageLabels">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.admin.ManageLabelsPanel.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/admin/ManageLabelsPanel.html
            -->
        </div>
    </div>

    <!-- PRAVE MENU -->

    <div class="pravaCast" id="admin">

    </div>
</wicket:extend>