<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    Panel used for registering new user or adding new Author into the database.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/user/CreateOrUpdateUserPanel.html
    Code - cz.larpovadatabaze.components.panel.user.CreateOrUpdateUserPanel.html
    -->
    <script type="text/javascript">
        /*
        $(document).ready(function () {
            $("input, textarea").each(function (idx, elm) {
                if($(elm).attr("type") == "file"){
                    return;
                }
                if ($(elm).attr("value") == "") {
                    $(elm).attr("value", $(elm).attr("title"));
                }
            });

            $("input, textarea").bind("click", function (event) {
                var el = $(this);
                if(el.attr("type") != "file"){
                    if (el.attr("value") == el.attr("title")) {
                        el.attr("value", "");
                    }
                }
            });

            $("#submitButton").bind("mousedown", function(event){
                $("input, textarea").each(function (idx, elm){
                    var el = $(elm);
                    if(el.attr("type") == "file"){
                        return;
                    }
                    if (el.attr("value") == el.attr("title")) {
                        el.attr("value", "");
                    }
                });
            });
        });
        */
    </script>

    <form class="sky-form gamepanel" novalidate="novalidate" wicket:id="addUser">
        <header><wicket:message key="user.register">Registrace</wicket:message></header>
        <fieldset>
    <section>
        <wicket:message key="user.welcome">Vítejte na česko-slovenské larpové databázi. Po vyplnění krátkého
            formuláře vlevo se stanete registrovaným uživatelem a můžete tak využít všech funkcí jako hodnocení a a
            komentování jednotlivých larpů, stejně jako jejich zařazení do vaší larpotéky.
        </wicket:message>
    </section>
            <section>
                <label class="input">
                    <i class="icon-append fa fa-envelope"></i>
                    <input type="email" wicket:id="person.email" wicket:message="placeholder:form.email"/>
                    <b class="tooltip tooltip-bottom-right"><wicket:message key="form.loginMail">E-mail slouží zároveň jako login</wicket:message></b>
                </label>
            </section>
            <section>
                <label class="input">
                    <i class="icon-append fa fa-lock"></i>
                    <input type="password" wicket:id="password" />
                    <b class="tooltip tooltip-bottom-right"><wicket:message key="form.description.password">Zadejte vaše heslo</wicket:message></b>
                </label>
            </section>
            <section>
                <label class="input">
                    <i class="icon-append fa fa-lock"></i>
                    <input type="password" wicket:id="passwordAgain" />
                    <b class="tooltip tooltip-bottom-right"><wicket:message key="form.description.passwordAgain">Zadejte vaše heslo znovu pro kontrolu</wicket:message></b>
                </label>
            </section>
        </fieldset>
        <fieldset>
            <section>
                <label class="input">
                    <input type="file" wicket:id="image"/>
                    <b class="tooltip tooltip-bottom-right"><wicket:message key="form.description.image">Vyberte svoji profilovou fotografii o rozměrech 120x120px. Maximální velikost fotografie jsou 2MB.</wicket:message></b>
                </label>
            </section>
            <div class="row">
                <section class="col col-6">
                    <label class="input">
                        <input type="text" wicket:id="person.name" wicket:message="placeholder:form.name"/>
                        <b class="tooltip tooltip-bottom-right"><wicket:message key="form.description.wholeName">Zadejte své celé jméno</wicket:message></b>
                    </label>
                </section>
                <section class="col col-6">
                    <label class="input">
                        <input type="text" wicket:id="person.nickname" wicket:message="placeholder:form.nickname"/>
                        <b class="tooltip tooltip-bottom-right"><wicket:message key="form.description.nickname">Chcete-li, zadejte svoji přezdívku</wicket:message></b>
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-6">
                    <label class="input">
                        <input type="text" wicket:id="person.city" wicket:message="placeholder:form.city"/>
                        <b class="tooltip tooltip-bottom-right"><wicket:message key="form.description.city">Chcete-li, zadejte město, ve kterém bydlíte (studujete, pracujete, ...)</wicket:message></b>
                    </label>
                </section>
                <section class="col col-6">
                    <label class="input">
                        <input type="text" wicket:id="person.birthDate" wicket:message="placeholder:form.dateOfBirthProg"/>
                        <b class="tooltip tooltip-bottom-right"><wicket:message key="form.description.dateOfBirth">Chcete-li, zadejte své datum narození ve formátu DD.MM.YYYY</wicket:message></b>
                    </label>
                </section>
            </div>
            <section>
                <label class="input">
                    <select wicket:id="userHasLanguages"></select>
                    <b class="tooltip tooltip-bottom-right"><wicket:message key="form.description.userHasLanguages">Vyberte jazyky, které vás zajímají</wicket:message></b>
                </label>
            </section>
            <section>
                <label class="input">
                    <div wicket:id="reCaptcha"></div>
                    <b class="tooltip tooltip-bottom-right"><wicket:message key="form.description.reCaptcha"></wicket:message></b>
                </label>
            </section>
            <section>
                <label class="input">
                    <textarea class="textarea" wicket:id="person.description"s wicket:message="placholder:form.description.about"></textarea>
                </label>
            </section>
            <section>
                <input class="btn-u" type="button" wicket:message="value:form.register" wicket:id="submit" />
            </section>
        </fieldset>
    </form>



</wicket:panel>