<?xml version="1.0" encoding="UTF-8" ?>
<!--
This panel is found in package: cz.larpovadatabaze.components.panel.user.SignInPanel.html
It is external panel, and therefore it is not found on GitHub
-->
<html xmlns:wicket="http://wicket.apache.org" xmlns:wicker="http://wicket.apache.org">
<body>
<wicket:panel>
    <wicker:enclosure child="feedback">
        <span>
            <wicket:container wicket:id="feedback" />
        </span>
    </wicker:enclosure>
    <form wicket:id="signInForm" class="sky-form" novalidate="novalidate">
        <fieldset>
            <section>
                <label class="input">
                    <input wicket:id="username" type="text" wicket:message="placeholder:form.email"/>
                </label>
            </section>
            <section>
                <label class="input">
                    <input wicket:id="password" type="password" wicket:message="placeholder:form.password"/>
                </label>
            </section>
            <section wicket:id="rememberMeRow">
                <label class="checkbox">
                    <input wicket:id="rememberMe" type="checkbox" /><i></i><wicket:message key="form.rememberMe">Remember Me</wicket:message>
                </label>
            </section>
            <section>
                <a wicket:id="forgotPassword" style="color: #00A0B0;" ><wicket:message key="user.forgottenPassword">Zapomenuté heslo</wicket:message></a>
            </section>
            <section>
                <input type="submit" name="submit" class="btn-u" wicket:id="submitButton" />
            </section>
        </fieldset>
    </form>
</wicket:panel>
</body>
</html>
