<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    It shows info about actually logged user.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/user/LoggedBoxPanel.html
    Code - cz.larpovadatabaze.components.panel.user.LoggedBoxPanel.html
    -->
    <table wicket:id="wrapper">
        <tbody><tr>
            <td>
                <a wicket:id="loggedUserLink">
                    <img wicket:id="loggedUserImage" class="obrazekUzivatel">
                </a>
            </td>
            <td class="obsah">
                <a wicket:id="loggedUserLinkContent">
                    <div wicket:id="loggedUserNick" class="nick">Balda</div>
                    <div wicket:id="loggedUserName" class="jmeno">Jakub Balhar</div>
                </a>

                <div class="popisek"><a wicket:id="editConfiguration"><wicket:message key="user.configuration">Nastavení</wicket:message></a></div>
                <div class="popisek"><a wicket:id="logout"><wicket:message key="user.logout">Odhlásit se</wicket:message></a></div>

            </td>
        </tr>
        </tbody></table>
</wicket:panel>