<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <li class="visible-md visible-sm visible-xs visible-lg">
        <a wicket:id="loggedUserLink">
            <img wicket:id="loggedUserImage" height="25" />
            <wicket:container wicket:id="loggedUserName">Jakub Balhar</wicket:container>
        </a>
    </li>

    <li class="dropdown visible-md hidden-xs visible-sm hidden-lg">
        <a wicket:id="settings1" class="dropdown-toggle" data-toggle="dropdown"><wicket:message key="user.configuration">Nastavení</wicket:message></a>
        <ul class="dropdown-menu">
            <li><a wicket:id="settings2"><wicket:message key="user.configuration">Nastavení</wicket:message></a></li>
            <li><a wicket:id="logout2"><wicket:message key="user.logout">Odhlásit se</wicket:message></a></li>
        </ul>
    </li>
    <li class="hidden-md hidden-sm visible-lg visible-xs"><a wicket:id="settings3"><wicket:message key="user.configuration">Nastavení</wicket:message></a></li>
    <li class="hidden-md hidden-sm visible-lg visible-xs"><a wicket:id="logout3"><wicket:message key="user.logout">Odhlásit se</wicket:message></a></li>
</wicket:panel>