<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    It shows links to the registration and login page.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/user/LoginBoxPanel.html
    Code - cz.larpovadatabaze.components.panel.user.LoginBoxPanel.html
    -->
    <table>
        <tbody>
        <tr>
            <td class="obsah">
                <div class="popisek"><a wicket:id="register"><wicket:message key="user.register">Registrace</wicket:message></a></div>
                <div class="popisek"><a wicket:id="signIn"><wicket:message key="user.login">Přihlášení</wicket:message></a></div>
            </td>
        </tr>
        </tbody>
    </table>
</wicket:panel>