<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    It shows information about the user, who has most comments.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/user/MostActiveCommenter.html
    Code - cz.larpovadatabaze.components.panel.user.MostActiveCommenter.html
    -->
    <div class="nadpisSekce">
        <a wicket:id="mostActiveCommenterHead"><wicket:message key="user.mostActiveCommenter">Nejaktivnější komentátor</wicket:message></a>
    </div>
    <table>
        <tbody>
        <tr>
            <td>
                <a wicket:id="mostActiveCommenter">
                    <img wicket:id="mostActiveCommenterImage" class="obrazekUzivatel">
                </a>
            </td>
            <td class="obsah">
                <a wicket:id="mostActiveCommenterContent">
                    <span class="nick" wicket:id="mostActiveCommenterNick"></span>
                    <span class="jmeno" wicket:id="mostActiveCommenterName"></span>
                </a>

                <div class="popisekUzivatel"><wicket:message key="user.mostActiveCommenterPrize">ocenění za největší počet komentářů</wicket:message></div>
                <div class="popisekUzivatel"><span wicket:id="amountCommented">38</span><wicket:message key="user.commentedGames">komentovaných her</wicket:message></div>
            </td>
        </tr>
        </tbody>
    </table>
</wicket:panel>