<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    It lists ratings given in as parameter in similar way to games. You get Game info and then your rating of game.

    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/user/RatingsListPanel.html
    Code - cz.larpovadatabaze.components.panel.user.RatingsListPanel.html
    -->
    <div wicket:id="listGames">
        <!-- Beginning of repetitive content for every Rating -->
        <div class="obsahPolozka">
            <span wicket:id="myRating" class="ratingNum"></span>

            <div wicket:id="gameRating" class="ctverecek"></div>

            <a wicket:id="gameDetail">
                <span wicket:id="gameName"></span>
                (<span wicket:id="gameYear"></span>)
            </a>
        </div>
        <!-- End of repetitive content for every Rating -->
    </div>
</wicket:panel>