<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    This Panel gets List of Users and simply creates list of them with links to their details.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/user/SimpleListUsersPanel.html
    Code - cz.larpovadatabaze.components.panel.user.SimpleListUsersPanel.html
    -->
    <table wicket:id="users">
        <!-- Beginning of repetitive content for every User -->
        <tr>
            <td>
                <a wicket:id="user"><span wicket:id="userNickname"></span> <span
                        wicket:id="userName"></span></a>
            </td>
        </tr>
        <!-- End of repetitive content for every User -->
    </table>
</wicket:panel>