<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    This panel allows editing of user.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/user/UpdateUserPanel.html
    Code - cz.larpovadatabaze.components.panel.user.UpdateUserPanel.html
    -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("input, textarea").each(function (idx, elm) {
                if($(elm).attr("type") == "file"){
                    return;
                }
                if ($(elm).attr("value") == "") {
                    $(elm).attr("value", $(elm).attr("title"));
                }
            });

            $("input, textarea").bind("click", function (event) {
                var el = $(this);
                if(el.attr("type") != "file"){
                    if (el.attr("value") == el.attr("title")) {
                        el.attr("value", "");
                    }
                }
            });

            $("#submitButton").bind("mousedown", function(event){
                $("input, textarea").each(function (idx, elm){
                    var el = $(elm);
                    if(el.attr("type") == "file"){
                        return;
                    }
                    if (el.attr("value") == el.attr("title")) {
                        el.attr("value", "");
                    }
                });
            });
        });
    </script>

    <form class="cmxform" id="PridatHru" wicket:id="addUser">
        <table>
            <tr>
                <td>
                    <input class="textbox required" type="password" wicket:id="password" />
                </td>
                <td class="popis">
                    <wicket:message key="form.description.password">Zadejte vaše heslo</wicket:message>
                </td>
            </tr>

            <tr>
                <td colspan="2" class="error">
                    <span wicket:id="passwordFeedback"></span>

                </td>
            </tr>

            <tr>
                <td>
                    <input class="textbox required" type="password" wicket:id="passwordAgain" />
                </td>
                <td class="popis">
                    <wicket:message key="form.description.passwordAgain">Zadejte vaše heslo znovu pro kontrolu</wicket:message>
                </td>
            </tr>

            <tr>
                <td colspan="2" class="error">
                    <span wicket:id="passwordAgainFeedback"></span>

                </td>
            </tr>

            <tr>
                <td>
                    <input type="file" wicket:id="image"/>
                </td>
                <td class="popis">
                    <wicket:message key="form.description.image">Vyberte svoji profilovou fotografii o rozměrech 120x120px. Maximální velikost fotografie jsou 2MB.</wicket:message>
                </td>
            </tr>

            <tr>
                <td colspan="2" class="error">
                    <span wicket:id="imageFeedback"></span>
                </td>
            </tr>

            <tr>
                <td>
                    <input class="textbox required" type="text" wicket:id="person.name" title="Jméno" wicket:message="title:form.name"/>
                </td>
                <td class="popis">
                    <wicket:message key="form.description.wholeName">Zadejte své celé jméno</wicket:message>
                </td>
            </tr>

            <tr>
                <td colspan="2" class="error">
                    <span wicket:id="nameFeedback"></span>
                </td>
            </tr>

            <tr>
                <td>
                    <input class="textbox required" type="text" wicket:id="person.nickname" title="Přezdívka" wicket:message="title:form.nickname"/>
                </td>
                <td class="popis">
                    <wicket:message key="form.description.nickname">Chcete-li, zadejte svoji přezdívku</wicket:message>
                </td>
            </tr>

            <tr>
                <td colspan="2" class="error">
                    <span wicket:id="nicknameFeedback"></span>
                </td>
            </tr>

            <tr>
                <td>
                    <input class="textbox required" type="text" wicket:id="person.city" title="Město" wicket:message="title:form.city"/>
                </td>
                <td class="popis">
                    <wicket:message key="form.description.city">Chcete-li, zadejte město, ve kterém bydlíte (studujete, pracujete, ...)</wicket:message>
                </td>
            </tr>

            <tr>
                <td colspan="2" class="error">
                    <span wicket:id="cityFeedback"></span>
                </td>
            </tr>

            <tr>
                <td>
                    <input class="textbox required" type="text" wicket:id="person.birthDate" title="dd.mm.YYYY" wicket:message="title:form.dateOfBirthProg"/>
                </td>
                <td class="popis">
                    <wicket:message key="form.description.dateOfBirth">Chcete-li, zadejte své datum narození ve formátu DD.MM.YYYY</wicket:message>
                </td>
            </tr>

            <tr>
                <td colspan="2" class="error">
                    <span wicket:id="birthDateFeedback"></span>
                </td>
            </tr>
        </table>

        <div>
            <textarea class="textarea" style="width: 100%" name="popis" id="popis"
                      wicket:id="person.description" title="Napište něco o sobě"
                      wicket:message="title:form.description.about"></textarea>
            <span wicket:id="descriptionFeedback"></span>
        </div>

        <div style="clear:both; width:100%;"></div>

        <input class="pridatHruButton" type="button" value="Upravit" wicket:message="value:form.update" wicket:id="submit" id="submitButton"/>
    </form>
</wicket:panel>