<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="praveMenu">
        <div class="nadpisMenu"><wicket:message key="user.users">Uživatelé</wicket:message></div>
    </div>
    <div class="sekce" wicket:id="addGame">
        <!--
        This panel is found in package: cz.larpovadatabaze.components.panel.game.AddGamePanel.html
        https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/AddGamePanel.html
        -->
    </div>
    <div class="sekce" wicket:id="mostCommentedGames">
        <!--
        This panel is found in package: cz.larpovadatabaze.components.panel.user.MostActiveCommenter.html
        https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/user/MostActiveCommenter.html
        -->
    </div>
</wicket:panel>