<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="levaCast" id="Autori">
        <div class="nadpisStranky">
            <img wicket:id="authorsIcon" class="ikonaStranky" /><wicket:message key="authorsCapitalized">Autoři</wicket:message>
        </div>
        <table>
            <thead>
            <th wicket:id="orderByName"><wicket:message key="form.name">Jméno</wicket:message></th>
            <th wicket:id="orderByBestGame"><wicket:message key="author.bestGames">Nejlepší hra autora</wicket:message></th>
            </thead>
            <tr class="polozkaAutor" wicket:id="listAuthor">
                <td class="larp">
                    <a wicket:id="authorName">
                        <span class="autorPrezdivka" wicket:id="authorNicknameContent"></span>
                        <span class="AutorJmeno" wicket:id="authorNameContent"></span>
                    </a>
                </td>
                <td class="nejlepsiHraAutor">
                    <a wicket:id="gameName">
                        <span wicket:id="bestGameName"></span>
                        (<span wicket:id="bestGame"></span>%)
                    </a>
                </td>
            </tr>
        </table>
        <span wicket:id="navigator">[dataview navigator]</span>
    </div>

    <div class="pravaCast" id="Autori" wicket:id="addAuthorPanel">
    </div>
</wicket:extend>