<wicket:extend xmlns:wicket="http://wicket.apache.org">

    <div class="profile_bar">
        <div class="container">
            <div class="row">
                <div>
                    <a class="">
                        <div class="btn btn-default gameFiltr btn-xs">Author name</div>
                    </a>
                    <a class="">
                        <div class="btn btn-default gameFiltr btn-xs"># of LARPS</div>
                    </a>
                    <a class="">
                        <div class="btn btn-default gameFiltr btn-xs">His best game</div>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="profile_bar switcher">
        <div class="container">

        </div>
    </div>

    <div class="container main">

        <div class="row">

            <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="levaCast" id="Autori">

                    <div class="nadpisStranky hide">
                        <i class="fa fa-user"></i><i class="fa fa-pencil"></i>
                        <wicket:message key="authorsCapitalized">Autoři</wicket:message>
                    </div>

                    <div class="hide" wicket:id="orderByName">
                        <wicket:message key="form.name">Jméno</wicket:message>
                    </div>
                    <div class="hide" wicket:id="orderByBestGame">
                        <wicket:message key="author.bestGames">Nejlepší hra autora</wicket:message>
                    </div>

                    <!-- Beginning of repetitive content for every author -->
                    <div class="row listGames" wicket:id="listAuthor">

                        <div class="col-md-3 col-sm-2 col-xs-10">
                            <div class="t-data info recent-games">

                                <a class="larpOdkaz" wicket:id="authorName">
                                    <span wicket:id="authorNicknameContent"></span>
                                    <span class="AutorJmeno" wicket:id="authorNameContent"></span>
                                </a>

                            </div>
                        </div>

                        <div class="col-md-1 col-sm-1 col-xs-2">
                            <div class="t-data info detail recent-games">

                                <span><span wicket:id="amountOfCreated"></span><i class="fa fa-pencil-square"></i></span>

                            </div>
                        </div>

                        <wicket:container wicket:id="bestGameWrapper">
                            <div class="col-md-1 col-sm-2 col-xs-12">
                                <div class="t-data info poradi recent-games">
                                    <div class="alert alert-info score" wicket:id="ratingWrapper"><span wicket:id="rating">6.3</span></div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12" wicket:id="nameAndLabels">
                            </div>

                            <div class="col-md-1 col-sm-1 col-xs-4">
                                <div class="t-data info detail">
                                    <span wicket:id="year"></span>
                                </div>
                            </div>

                            <div class="col-md-1 col-sm-1 col-xs-4">
                                <div class="t-data info detail">
                                    <span wicket:id="ratings"></span> <i class="fa fa-star-half-full"></i>
                                </div>
                            </div>

                            <div class="col-md-1 col-sm-1 col-xs-4">
                                <div class="t-data info detail">
                                    <span wicket:id="comments"></span> <i class="fa fa-comments-o"></i>
                                </div>
                            </div>
                        </wicket:container>
                    </div>
                    <!-- End of repetitive content for every author -->

                    <div class="navigator">
                        <span wicket:id="navigator">[dataview navigator]</span>
                    </div>

                </div>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="pravaCast" id="Autori" wicket:id="addAuthorPanel">
                    <!--
                    This panel is found in package: cz.larpovadatabaze.components.panel.author.AddAuthorsPanel.html
                    https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/author/AddAuthorsPanel.html
                    -->
                </div>
            </div>

        </div>
    </div>
</wicket:extend>