<wicket:panel xmlns:wicket="http://wicket.apache.org">
        <table>
            <tbody><tr>
                <td>
                    <a wicket:id="addGameIconLink">
                        <img wicket:id="addGameIcon" class="pridatIkona">
                    </a>
                </td>
                <td class="pridatPopis">
                    <a wicket:id="addGameLink"><wicket:message key="game.add">Přidat hru</wicket:message></a>
                </td>
            </tr>
            </tbody></table>
</wicket:panel>