<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    It contains link to page for creating new Game. Link consists of image and text.
    It is shown only to logged user.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/AddGamePanel.html
    Code - cz.larpovadatabaze.components.panel.game.AddGamePanel.html
    -->

            <div class="pridatPopis">
                <a wicket:id="addGameIconLink">
                    <i class="fa fa-plus"></i>
                </a>                
                <a wicket:id="addGameLink">
                    <wicket:message key="game.add">Přidat hru</wicket:message>
                </a>
            </div>
            
</wicket:panel>