<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <h2><wicket:message key="label.required">Požadované</wicket:message></h2>
    <div wicket:id="requiredLabels">  <!-- This contains list of Labels. -->
        <input type="button" class="" wicket:id="name" />
    </div>
    <h2><wicket:message key="label.optional">Volitelné</wicket:message></h2>
    <div wicket:id="otherLabels">  <!-- This contains list of Labels. -->
        <input type="button" class="" wicket:id="name" />
    </div>
</wicket:panel>