<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div wicket:id="commentList" class="komentar">
        <table>
            <tbody>
            <tr>
                <td class="bunkaObrazek">
                    <img wicket:id="authorsAvatar" class="obrazekUziv" alt=""><br>

                    <div wicket:id="commentDate" class="datum">2013-07-31</div>
                </td>
                <td class="bunkaKomentar">
                    <a wicket:id="authorsDetail">
                        <span wicket:id="authorsNick" class="nick">Bedus</span>
                        <span wicket:id="authorsName" class="jmeno">Tereza Bednarska</span>
                    </a>

                    <div wicket:id="commentsContent" class="obsahKomentar">Síla bratrství byl můj první komorní larp. A
                        stále ve mě rezonuje jako
                        jeden z nejlepších komoráků, které jsem dosud měla tu čest hrát. Pohlcující tíživá atmosféra,
                        beznadějné osudy postav... Odnesla jsem si opravdu silný prožitek a trvalo mi docela dlouho, než
                        jsem se z toho setřepala :) Dobře fungovala i forma hry, nebyla tam žádná hluchá místa a scény
                        navazovaly přirozeně a nenásilně. Skvělá byla taky podkresová hudba. Opravdu doporučuji! :)
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</wicket:panel>