<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    This panel allows user to Comment given game
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/CommentsPanel.html
    Code - cz.larpovadatabaze.components.panel.game.CommentsPanel.html
    -->
    <form wicket:id="comment">
        <textarea wicket:id="textOfComment" style="width: 100%; height: 70px;"></textarea>
        <input type="button" wicket:message="value:form.addComment" value="Přidat" wicket:id="addComment" />
    </form>
</wicket:panel>