<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div wicket:id="createGroup"></div>
    <div wicket:id="createAuthor"></div>
    <div wicket:id="createLabel"></div>

    <form wicket:id="addGame">
        <fieldset>
            <div class="feedback" wicket:id="feedback"></div>

            <div>
                <label for="name"><wicket:message key="form.name">Jméno</wicket:message></label>
                <input type="text" wicket:id="name"/>
            </div>

            <div>
                <label for="description"><wicket:message key="form.description">Popis</wicket:message></label>
                <textarea wicket:id="description"></textarea>
            </div>

            <div>
                <label for="year"><wicket:message key="form.year">Rok</wicket:message></label>
                <input type="text" wicket:id="year"/>
            </div>

            <div>
                <label for="web"><wicket:message key="form.web">Web</wicket:message></label>
                <input type="text" wicket:id="web"/>
            </div>

            <div>
                <label for="hours"><wicket:message key="form.hours">Hodiny</wicket:message></label>
                <input type="text" wicket:id="hours"/>
            </div>

            <div>
                <label for="days"><wicket:message key="form.days">Dny</wicket:message></label>
                <input type="text" wicket:id="days"/>
            </div>

            <div>
                <label for="players"><wicket:message key="form.players">Hráči</wicket:message></label>
                <input type="text" wicket:id="players"/>
            </div>

            <div>
                <label for="menRole"><wicket:message key="form.menRole">Mužské role</wicket:message></label>
                <input type="text" wicket:id="menRole"/>
            </div>

            <div>
                <label for="womenRole"><wicket:message key="form.womenRole">Ženské role</wicket:message></label>
                <input type="text" wicket:id="womenRole"/>
            </div>

            <div>
                <label for="bothRole"><wicket:message key="form.anyRole">Obojetné role</wicket:message></label>
                <input type="text" wicket:id="bothRole"/>
            </div>

            <div>
                <label for="videoPath"><wicket:message key="form.video">Video</wicket:message></label>
                <input type="text" wicket:id="videoPath"/>
            </div>

            <div>
                <label for="image"><wicket:message key="form.image">Obrázek</wicket:message></label>
                <input type="file" wicket:id="image"/>
            </div>

            <div>
                <label for="authors"><wicket:message key="authorsCapitalized">Autoři</wicket:message></label>
                <div wicket:id="authors"></div>
                <input type="button" value="Nový autor" wicket:message="value:form.newAuthor" wicket:id="createAuthor"/>
            </div>

            <div>
                <label for="groups"><wicket:message key="form.authorGroups">Autorské skupiny</wicket:message></label>
                <div wicket:id="groups"></div>
                <input type="button" value="Nová skupina" wicket:messsage="value:form.newGroup" wicket:id="createGroup"/>
            </div>

            <div>
                <div wicket:id="chooseLabels"></div>
                <input type="button" value="Nový štítek" wicket:message="value:form.newLabel" wicket:id="createLabel"/>
            </div>

            <div>
                <input type="submit" value="Uložit" wicket:message="value:form.save" wicket:id="submit"/>
            </div>
        </fieldset>
    </form>
</wicket:panel>