<wicket:panel xmlns:wicket="http://wicket.apache.org">
<!--
This panel is used when you want to create or update game in the database.
It encapsulates relevant createOrUpdateGame with associated HTML markup.
It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/CreateOrUpdateGamePanel.html
Code - cz.larpovadatabaze.components.panel.game.CreateOrUpdateGamePanel.html
-->
<div wicket:id="createGroup">
    <!-- This will contain popup modal window with CreateOrUpdateGroupPanel -->
</div>
<div wicket:id="createAuthor">
    <!-- This will contain popup modal window with CreateOrUpdateAuthorPanel -->
</div>
<div wicket:id="createLabel">
    <!-- This will contain popup modal window with CreateOrUpdateLabelPanel -->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("input, textarea").each(function (idx, elm) {
            if($(elm).attr("type") == "file"){
                return;
            }
            if ($(elm).attr("value") == "") {
                $(elm).attr("value", $(elm).attr("title"));
            }
        });

        $("input, textarea").bind("click", function (event) {
            var el = $(this);
            if(el.attr("type") != "file"){
                if (el.attr("value") == el.attr("title")) {
                    el.attr("value", "");
                }
            }
        });

        $("#submitButton").bind("mousedown", function(event){
            $("input, textarea").each(function (idx, elm){
                var el = $(elm);
                if(el.attr("type") == "file"){
                    return;
                }
                if (el.attr("value") == el.attr("title")) {
                    el.attr("value", "");
                }
            });
        });
    });
</script>

<form id="pridatHru" wicket:id="addGame">
<div class="sekce" style="padding-right: 5px;">
<div class="nadpisStranky">
    <!-- TODO Change Image to wicket handled one -->
    <i class="fa fa-plus"></i><wicket:message key="game.add">Přidat hru</wicket:message></div>

<table>
    <tbody>
    <tr>
        <td>
            <div wicket:id="feedback"></div>
        </td>
        <td>

        </td>
    </tr>

    <tr>
        <th colspan="2">
            <wicket:resource key="form.game.section.required" />
        </th>
    </tr>

    <!-- Name -->
    <tr>
        <td>
            <input class="textbox" type="text" wicket:id="name" title="Jméno" wicket:message="title:form.name"/>
        </td>
        <td class="popis">
            <label for="name">
                <wicket:message key="form.game.name">Jméno</wicket:message>
            </label>
        </td>
    </tr>

    <tr>
        <td colspan="2" class="error">
            <span wicket:id="nameFeedback"></span>
        </td>
    </tr>

    <!-- Tags -->
    <tr>
        <td colspan="2">
            <div class="stitky popis"><wicket:message key="form.game.labels">Označte štítky, které vystihují Váš larp. Pokud nespadá jednoznačně pod jednu kategorii, vyberte jich více.</wicket:message></div>
            <div wicket:id="labels"></div>
            <div style="width:100%;" wicket:id="labelsFeedback"></div>
            <input type="button" value="Nový štítek" wicket:message="value:form.newLabel" wicket:id="createLabel"/>

            <div style="clear:both; width:100%; margin-bottom: 5px;"></div>
        </td>
    </tr>

    <!-- Description -->
    <tr>
        <td colspan="2">
            <textarea class="textarea"
                      title="Zde zadejte popis hry"
                      name="popis"
                      id="popis"
                      wicket:id="description"
                      wicket:message="title:form.game.description"
                      style="width:100%;"
                      rows=8
                    ></textarea>
            <span wicket:id="descriptionFeedback"></span>

            <div style="clear:both; width:100%;"></div>
        </td>
    </tr>

    <tr>
        <th colspan="2">
            <wicket:resource key="form.game.section.extended" />
        </th>
    </tr>

    <!-- Authors -->
    <tr>
        <td>
            <div wicket:id="authors"></div>
        </td>
        <td class="popis">
            <label for="authors">
                <wicket:message key="form.game.authors">Autoři</wicket:message>
            </label>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <input type="button" value="Nový autor" wicket:message="value:form.newAuthor"
                   wicket:id="createAuthor"/>
        </td>
    </tr>

    <!-- Group -->
    <tr>
        <td>
            <div wicket:id="groupAuthor"></div>
        </td>
        <td class="popis">
            <label for="groups">
                <wicket:message key="form.game.authorGroups">Autorské skupiny</wicket:message>
            </label>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <input type="button" value="Nová skupina" wicket:messsage="value:form.newGroup"
                   wicket:id="createGroup"/>
        </td>
    </tr>

    <!-- Year -->
    <tr>
        <td>
            <input class="textbox" type="text" wicket:id="year" title="Rok" wicket:message="title:form.year"/>
        </td>
        <td class="popis">
            <label for="year">
                <wicket:message key="form.game.year">Rok</wicket:message>
            </label>
        </td>
    </tr>

    <tr>
        <td colspan="2" class="error">
            <span wicket:id="yearFeedback"></span>
        </td>
    </tr>

    <!-- Lang -->
    <tr>
        <td>
            <select wicket:id="lang" title="Jazyk" wicket:message="title:game.lang"/>
        </td>
        <td class="popis">
            <label for="lang">
                <wicket:message key="game.lang">Jazyk</wicket:message>
            </label>
        </td>
    </tr>

    <tr>
        <td colspan="2" class="error">
            <span wicket:id="langFeedback"></span>
        </td>
    </tr>

    <!-- Statistics -->
    <tr>
        <th colspan="2">
            <wicket:resource key="form.game.section.statistics" />
        </th>
    </tr>


    <!-- Players -->
    <tr>
        <td>
            <input class="textbox" type="text" wicket:id="players" title="Hráči"
                   wicket:message="title:form.players"/>
        </td>
        <td class="popis">
            <label for="players">
                <wicket:message key="form.game.players">Hráči</wicket:message>
            </label>
        </td>
    </tr>

    <tr>
        <td colspan="2" class="error">
            <span wicket:id="playersFeedback"></span>
        </td>
    </tr>

    <!-- Men/women/both role -->
    <tr>
        <td>
            <input style="width:28%" class="textbox" type="text" wicket:id="menRole" title="Mužské"
                   wicket:message="title:form.menRole"/>
            <input style="width:28%" class="textbox" type="text" wicket:id="womenRole" title="Ženské"
                   wicket:message="title:form.womenRole"/>
            <input style="width:27%" class="textbox" type="text" wicket:id="bothRole" title="Obojetné"
                   wicket:message="title:form.bothRole"/>
        </td>
        <td class="popis">
            <label for="menRole">
                <wicket:message key="form.game.roles">Mužské role</wicket:message>
            </label>
        </td>
    </tr>

    <tr>
        <td colspan="2" class="error">
            <span wicket:id="menRoleFeedback"></span>
            <span wicket:id="womenRoleFeedback"></span>
            <span wicket:id="bothRoleFeedback"></span>
        </td>
    </tr>

    <!-- Hours -->
    <tr>
        <td>
            <input style="width:43%" class="textbox" type="text" wicket:id="hours" title="Hodiny"
                   wicket:message="title:form.hours"/>
            <input style="width:43%" class="textbox" type="text" wicket:id="days" title="Dny"
                   wicket:message="title:form.days"/>
        </td>
        <td class="popis">
            <label for="hours">
                <wicket:message key="form.game.time">Hodiny</wicket:message>
            </label>
        </td>
    </tr>

    <tr>
        <td colspan="2" class="error">
            <span wicket:id="hoursFeedback"></span>
            <span wicket:id="daysFeedback"></span>
        </td>
    </tr>

    <tr>
        <th colspan="2">
            <wicket:resource key="form.game.section.presentation" />
        </th>
    </tr>

    <!-- Image -->
    <tr>
        <td style="width:200px">
            <div wicket:id="image"></div>
        </td>
        <td class="popis">
            <label for="image">
                <wicket:message key="form.game.image">Obrázek</wicket:message>
            </label>
        </td>
    </tr>

    <tr>
        <td colspan="2" class="error">
            <span wicket:id="imageFeedback"></span>
        </td>
    </tr>


    <!--  Web -->
    <tr>
        <td>
            <input class="textbox" type="text" wicket:id="web" title="Web" wicket:message="title:form.web"/>
        </td>
        <td class="popis">
            <label for="web">
                <wicket:message key="form.game.web">Web</wicket:message>
            </label>
        </td>
    </tr>

    <tr>
        <td colspan="2" class="error">
            <span wicket:id="webFeedback"></span>
        </td>
    </tr>

    <!-- Gallery -->
    <tr>
        <td>
            <input class="textbox" type="text" wicket:id="galleryURL" title="" wicket:message="title:form.galleryURL"/>
        </td>
        <td class="popis">
            <label for="galleryURL">
                <wicket:message key="form.game.galleryURL">Galerie</wicket:message>
            </label>
        </td>
    </tr>

    <tr>
        <td colspan="2" class="error">
            <span wicket:id="galleryFeedback"></span>
        </td>
    </tr>

    <!-- Photo author -->
    <tr>
        <td>
            <input class="textbox" type="text" wicket:id="photoAuthor" title="" wicket:message="title:form.photoAuthor"/>
        </td>
        <td class="popis">
            <label for="photoAuthor">
                <wicket:message key="form.game.photoAuthor">Autor fotografií</wicket:message>
            </label>
        </td>
    </tr>

    <tr>
        <td colspan="2" class="error">
            <span wicket:id="photoAuthorFeedback"></span>
        </td>
    </tr>

    <!-- Video -->
    <tr>
        <td>
            <input class="textbox" type="text" wicket:id="video.path" title="video"
                   wicket:message="title:form.video"/>
        </td>
        <td class="popis">
            <label for="video.path">
                <wicket:message key="form.game.video">Video</wicket:message>
            </label>
        </td>
    </tr>

    <tr>
        <td colspan="2" class="error">
            <span wicket:id="videoPathFeedback"></span>
        </td>
    </tr>

    <!-- Settings -->
    <tr>
        <wicket:resource key="form.game.section.settings" />
    </tr>

    <!-- Ratings disabled -->
    <tr>
        <td>
            <input type="checkbox" wicket:id="ratingsDisabled" /><wicket:message key="form.ratingsDisabled" />
        </td>
        <td class="popis">
            <label for="ratingsDisabled">
                <wicket:message key="form.game.ratingsDisabled" />
            </label>
        </td>
    </tr>

    <!-- Comments disabled -->
    <tr>
        <td>
            <input type="checkbox" wicket:id="commentsDisabled" /><wicket:message key="form.commentsDisabled" />
        </td>
        <td class="popis">
            <label for="commentsDisabled">
                <wicket:message key="form.game.commentsDisabled" />
            </label>
        </td>
    </tr>

    </tbody>
</table>

<input type="button" class="pridatHruButton" value="Uložit" wicket:message="value:form.save"
       wicket:id="submit" id="submitButton"/>

</div>
</form>
</wicket:panel>