<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    It is used for creating and updating Labels for games.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/CreateOrUpdateLabelPanel.html
    Code - cz.larpovadatabaze.components.panel.game.CreateOrUpdateLabelPanel.html
    -->
    <form wicket:id="createOrUpdateLabel">
        <div>
            <label for="name"><wicket:message key="form.name">Jméno</wicket:message></label>
            <input id="name" type="text" wicket:id="name"/>
        </div>

        <div>
            <label for="description"><wicket:message key="form.description">Popis</wicket:message></label>
            <textarea id="description" type="text" wicket:id="description"></textarea>
        </div>

        <div>
            <label for="lang"><wicket:message key="game.lang">Jazyk</wicket:message></label>
            <select wicket:id="lang" title="Jazyk" wicket:message="title:game.lang"/>
        </div>

        <div>
            <input type="button" wicket:message="value:form.save" wicket:id="submit"/>
        </div>
    </form>
</wicket:panel>