<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    It is used for creating and updating Labels for games.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/CreateOrUpdateLabelPanel.html
    Code - cz.larpovadatabaze.components.panel.game.CreateOrUpdateLabelPanel.html
    -->
    <form class="sky-form" wicket:id="createOrUpdateLabel">
        <fieldset>
            <section>
                <label class="input">
                    <input type="text" wicket:id="name" wicket:message="placeholder:form.name"/>
                    <b class="tooltip tooltip-bottom-right" wicket:id="nameFeedback"></b>
                </label>
            </section>

            <section>
                <label class="textarea">
                    <textarea class="textarea" wicket:id="description" wicket:message="placeholder:form.description"></textarea>
                </label>
            </section>

            <section>
                <label class="input">
                    <select wicket:id="lang" wicket:message="title:game.lang"/>
                </label>
            </section>

            <section>
                <input type="button" wicket:message="value:form.save" wicket:id="submit"/>
            </section>
        </fieldset>
    </form>
</wicket:panel>