<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <form wicket:id="createOrUpdateLabel">
        <div>
            <label for="name">Jméno </label>
            <input id="name" type="text" wicket:id="name"/>
        </div>

        <div>
            <label for="description">Popis </label>
            <textarea id="description" type="text" wicket:id="description"></textarea>
        </div>

        <div>
            <input type="submit" value="Vytvořit" wicket:id="submit"/>
        </div>
    </form>
</wicket:panel>