<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    This panel contains link to the page for editing game.
    It is shown only to logged user, with rights toward the specific game.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/EditGamePanel.html
    Code - cz.larpovadatabaze.components.panel.game.EditGamePanel.html
    -->
    <table>
        <tbody>
            <tr>
                <td class="pridatPopis">
                    <a wicket:id="editGame">
                        <wicket:message key="game.edit">Editovat hru</wicket:message>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</wicket:panel>