<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    It contains basic characteristics of the game and allows user to filter by them.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/FilterGamesPanel.html
    Code - cz.larpovadatabaze.components.panel.game.FilterGamesPanel.html
    -->
    <script type="text/javascript">
        $(document).ready(function(){
            $("#labelsRequiredText").css("display","none");
        });
    </script>
    <form wicket:id="filterForm">
        <div class="sekce">
            <div class="nadpisFiltr"><wicket:message key="game.amountOfPlayers">Počty hráčů</wicket:message></div>
            <div class="hraciFiltr">
                <input wicket:id="minPlayers" class="textbox blur" type="number" title="min" value=""
                       style="width: 60px;">
                <input wicket:id="maxPlayers" class="textbox blur" type="number" title="max" value=""
                       style="width: 60px;"></div>
            <div class="nadpisFiltr"><wicket:message key="game.length">Délka hry</wicket:message></div>
            <div class="delkaFiltr">
                <input wicket:id="minHours" class="textbox blur" type="number" title="min hod" value=""
                       style="width: 60px;">
                <input wicket:id="maxHours" class="textbox blur" type="number" title="max hod" value=""
                       style="width: 60px;">
                <input wicket:id="minDays" class="textbox blur" type="number" title="min dnů" value=""
                       style="width: 60px;">
                <input wicket:id="maxDays" class="textbox blur" type="number" title="max dnů" value=""
                       style="width: 60px;">
            </div>
            <div class="titleLang"><wicket:message key="game.lang">Jazyk:</wicket:message></div>
            <div class="langFilter">
                <select wicket:id="language"></select>
            </div>
        </div>
        <div class="sekce">
            <div wicket:id="filterByLabels">
                <!--
                This panel is found in package: cz.larpovadatabaze.components.panel.game.ChooseLabelsPanel.html
                https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/ChooseLabelsPanel.html
                -->
            </div>
            <input wicket:id="submit" type="button"
                   class="filtrovatButton" title="filtrovat" wicket:message="value:game.filter" value="Filtrovat" />
        </div>
    </form>
</wicket:panel>