<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    This panel shows basic information about the game, like its duration, description.
    amount of players, labels and so on.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/GameDetailPanel.html
    Code - cz.larpovadatabaze.components.panel.game.GameDetailPanel.html
    -->
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <h1 wicket:id="name"></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <p>
                    <wicket:container wicket:id="players" /> <wicket:message key="game.detail.players">hráčů</wicket:message>,
                    <wicket:container wicket:id="menRole" /> <wicket:message key="game.detail.men">mužů</wicket:message>,
                    <wicket:container wicket:id="womenRole" /> <wicket:message key="game.detail.women">žen</wicket:message>,
                    <wicket:container wicket:id="bothRole" /> <wicket:message key="game.detail.both">obojetných</wicket:message>
                </p>
                <p>
                    <wicket:container wicket:id="hours" /> <wicket:message key="game.detail.hours">hodin</wicket:message>,
                    <wicket:container wicket:id="days" /> <wicket:message key="game.detail.days">dnů</wicket:message>,
                    <wicket:container wicket:id="year" />
                </p>
                <wicket:enclosure child="webGameLink">
                    <p>Web: <a wicket:id="webGameLink"></a></p>
                </wicket:enclosure>
                <wicket:enclosure child="webGalleryLink">
                    <p><wicket:message key="form.galleryURL">Galerie</wicket:message>: <a wicket:id="webGalleryLink"></a></p>
                </wicket:enclosure>
                <wicket:enclosure child="photoAuthor">
                    <p><wicket:message key="game.detail.photos.author">Autor fotografií</wicket:message>: <wicket:container wicket:id="photoAuthor" /></p>
                </wicket:enclosure>
            </div>

            <div class="col-md-7 col-sm-7 col-xs-12">
                <p>
                    <strong><wicket:message key="authorsCapitalized">Autoři:</wicket:message></strong>
                    <wicket:container wicket:id="authors"><wicket:container wicket:id="separator" /><a wicket:id="authorDetailLink"><wicket:container wicket:id="authorName"></wicket:container></a></wicket:container>
                </p>
                <p>
                    <wicket:message key="group.group">Skupiny:</wicket:message>
                    <wicket:container wicket:id="authorsGroups"><wicket:container wicket:id="separator" /><a wicket:id="authorGroupDetailLink"><wicket:container wicket:id="authorGroupName"></wicket:container></a></wicket:container>
                    <wicket:container wicket:id="dash">&mdash;</wicket:container>
                </p>
            </div>
        </div>

        <div class="row description">
            <div class="col-md-11 col-sm-11 col-xs-12">
                <div class="line"></div>
                <wicket:container wicket:id="description" />
                <div class="line"></div>
                <p class="tags row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <wicket:container wicket:id="labels">
                            <a href="#" class="btn btn-default btn-xs" wicket:id="link"><wicket:container wicket:id="label" /></a>
                        </wicket:container>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <wicket:container wicket:id="socialShareButtons" />
                    </div>

                </p>
            </div>
        </div>
    </div>

</wicket:panel>