<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    It contains all games in a pageable list, there are four possible ways to order
    the list. Order alphabetically, Order by rating or order by amount of ratings, or
    by amount of comments.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/ListGamePanel.html
    Code - cz.larpovadatabaze.components.panel.game.ListGamePanel.html
    -->
    <table>
        <thead>
        <tr>
            <td></td>
            <td wicket:id="orderByName">
                <wicket:message key="form.larpname">Název LARPu</wicket:message>
            </td>
            <td wicket:id="orderByRating">
                <wicket:message key="game.rating">Hodnocení</wicket:message>
            </td>
            <td wicket:id="orderByRatingAmount">
                <wicket:message key="game.amountOfRatings">Hodnoceno</wicket:message>
            </td>
            <td wicket:id="orderByCommentAmount">
                <wicket:message key="game.amountOfComments">Počet komentářů</wicket:message>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr wicket:id="listGames" class="polozkaZebricek">
            <!-- Beginning of repetitive content for every Game -->
            <td class="poradi">
                <span wicket:id="order"></span>
            </td>
            <td class="larp">
                <a wicket:id="gameLink" class="larpOdkaz">
                    <span wicket:id="gameName"></span>
                </a>
                (<span wicket:id="gameYear"></span>)
            </td>
            <td class="hodnoceni"><span wicket:id="rating">94</span></td>
            <td class="pocet_hodnoceni">
                <span wicket:id="ratings"></span>x <i class="fa fa-star-half-full"></i>
            </td>
            <td class="pocet_hodnoceni">
                <span wicket:id="comments"></span><i class="fa fa-comments-o"></i>
            </td>
            <!-- End of repetitive content for every Game -->
        </tr>
        </tbody>
    </table>
    <div class="navigator">
    <span wicket:id="navigator">[dataview navigator]</span>
    </div>
</wicket:panel>