<wicket:panel xmlns:wicket="http://wicket.apache.org">
<!--
It shows pageable list of games ordered by time when they were added to the database
It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/ListGamesWithAnnotations.html
Code - cz.larpovadatabaze.components.panel.game.ListGamesWithAnnotations.html
-->
<div class="nadpisStranky">
    <i class="fa fa-bars"></i><wicket:message key="games">Hry</wicket:message>
</div>
<div wicket:id="gamesView">
    <!-- Beginning of repetitive content for every Game -->
    <div class="pridanaHra" style="width: 100%;">
        <div class="HraIkonka" style="float:left; height: 100%;">
            <a wicket:id="gameIconLink">
                <img style='width: 75px; height: 75px;' wicket:id="gameIcon" class="obrazekPopis">
            </a><br/>

        </div>
        <div class="obsah" style="float:left; width: 85%;">
            <span wicket:id="gameRating" class="ctverecek"></span>
            <a wicket:id="gameLink">
                <span wicket:id="gameName" class="nadpisHra">Protector X.</span>
            </a>

            <div class="HraKomentarPopisek"><div class="HraKomentarPopisekInner" style="min-height: 0"><wicket:container wicket:id="players">1200</wicket:container> hráčů</div>
                <div class="HraKomentarPopisekInner">
                    <wicket:container wicket:id="gameDescription" />
                    <a wicket:id="gameMoreLink" class="HraKomentarVice">... více</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End of repetitive content for every Game -->
</div>
<span wicket:id="navigator">[dataview navigator]</span>

</wicket:panel>