<wicket:panel xmlns:wicket="http://wicket.apache.org">
<!--
It shows pageable list of games ordered by time when they were added to the database
It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/ListGamesWithAnnotations.html
Code - cz.larpovadatabaze.components.panel.game.ListGamesWithAnnotations.html
-->
<div class="row recent-games played" wicket:id="rows">
    <wicket:container wicket:id="game1" />
    <wicket:container wicket:id="game2" />
</div>

</wicket:panel>