<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
     The Played Panel has three states of being. Either the player does not have any
     interest in game or the player played the game, or the player is interested in
     playing the game.
     It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/PlayedPanel.html
     Code - cz.larpovadatabaze.components.panel.game.PlayedPanel.html
    -->
    <form wicket:id="gameState">
        <select wicket:id="stateOfGame">
            <option wicket:id="didntPlay">Nehrál jsem</option>
            <option wicket:id="played">Hrál jsem</option>
            <option wicket:id="wantToPlay">Chci hrát</option>
        </select>
    </form>
</wicket:panel>