<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
     The Played Panel has three states of being. Either the player does not have any
     interest in game or the player played the game, or the player is interested in
     playing the game.
     It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/PlayedPanel.html
     Code - cz.larpovadatabaze.components.panel.game.PlayedPanel.html
    -->
    <a wicket:id="didntPlay"><wicket:message key="game.notPlayed">Nehrál jsem</wicket:message></a>
    <a wicket:id="played"><wicket:message key="game.played">Hrál jsem</wicket:message></a>
    <a wicket:id="wantToPlay"><wicket:message key="game.wishToPlay">Chci hrát</wicket:message></a>
</wicket:panel>