<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    This panel shows result of rating of a game. It has background based on the rating and the amount of rating as
    number.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/RatingsResultPanel.html
    Code - cz.larpovadatabaze.components.panel.game.RatingsResultPanel.html
    -->
    <div class="col-xs-5">
        <div class="alert alert-info score" wicket:id="ratingResult">9.7</div>
        <p class="text-center">Vaše hodnocení: <wicket:container wicket:id="myResult">4</wicket:container></p>
        <p class="text-center"><wicket:container wicket:id="amountOfResults">75</wicket:container> celkem</p>
        <br>
        <p class="text-center" wicket:id="playedPanel">
        </p>
    </div>
    <div class="col-xs-7">
        <wicket:container wicket:id="starsAndBars">
            <div class="pull-left"><wicket:container wicket:id="number" /></div>
            <div class="progress"><div wicket:id="bar" class="progress-bar progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div> </div>
        </wicket:container>
    </div>
</wicket:panel>