<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    This panel contains Slider which allows user to rate game. It also has info about rating the game, if the game was
    not rated by the user previously.
    -->
    <form wicket:id="ratingForm" id="hodnoceniFormular">
        <div wicket:id="slider"></div>
        <div class="hodnoceniUziv">
            <wicket:message key="game.yourRating">Vaše hodnocení je: </wicket:message><span wicket:id="rating"></span>
        </div>
    </form>

</wicket:panel>