<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    This panel contains Slider which allows user to rate game. It also has info about rating the game, if the game was
    not rated by the user previously.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/RatingsPanel.html
    Code - cz.larpovadatabaze.components.panel.game.RatingsPanel.html
    -->
    <p class="text-center">Vaše hodnocení</p>
    <p class="text-center stars">
        <span><i wicket:id="star1" class="fa fa-star"></i></span>
        <span><i wicket:id="star2" class="fa fa-star"></i></span>
        <span><i wicket:id="star3" class="fa fa-star"></i></span>
        <span><i wicket:id="star4" class="fa fa-star"></i></span>
        <span><i wicket:id="star5" class="fa fa-star"></i></span>
        <span><i wicket:id="star6" class="fa fa-star"></i></span>
        <span><i wicket:id="star7" class="fa fa-star"></i></span>
        <span><i wicket:id="star8" class="fa fa-star"></i></span>
        <span><i wicket:id="star9" class="fa fa-star"></i></span>
        <span><i wicket:id="star10" class="fa fa-star"></i></span>
    </p>

</wicket:panel>