<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    This panel contains Slider which allows user to rate game. It also has info about rating the game, if the game was
    not rated by the user previously.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/RatingsPanel.html
    Code - cz.larpovadatabaze.components.panel.game.RatingsPanel.html
    -->
      <div class="rating-stars">
        <div class="rating-message"><wicket:message key="game.yourRating">Vaše hodnocení</wicket:message></div>
        <span><i wicket:id="star1" class="icon-star"></i></span>
        <span><i wicket:id="star2" class="icon-star"></i></span>
        <span><i wicket:id="star3" class="icon-star"></i></span>
        <span><i wicket:id="star4" class="icon-star"></i></span>
        <span><i wicket:id="star5" class="icon-star"></i></span>
        <span><i wicket:id="star6" class="icon-star"></i></span>
        <span><i wicket:id="star7" class="icon-star"></i></span>
        <span><i wicket:id="star8" class="icon-star"></i></span>
        <span><i wicket:id="star9" class="icon-star"></i></span>
        <span><i wicket:id="star10" class="icon-star"></i></span>
      </div>
</wicket:panel>