<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    This panel shows textbox usable to contact author of the game or possibly people who wants to play the game.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/SendInformation.html
    Code - cz.larpovadatabaze.components.panel.game.SendInformation.html
    -->

    <form wicket:id="sendInfoForm">
        <div wicket:id="feedback"></div>

        <div class="sendInfoText">
            <textarea wicket:id="mailBody"></textarea>
        </div>
        <div>
            <input type="submit" wicket:message="value:game.sendButton">
        </div>

        <div class="nadpisSekce">
            <wicket:message key="game.wishesToPlay">Chtějí hrát</wicket:message>
        </div>
        <div wicket:id="wantsToPlay"></div>
    </form>
</wicket:panel>