<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    This panel contains link for deleting the game.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/DeleteGamePanel.html
    Code - cz.larpovadatabaze.components.panel.game.DeleteGamePanel.html
    -->
    <table>
        <tbody>
        <tr>
            <td class="pridatPopis">
                <span wicket:id="translateGame"></span>
            </td>
        </tr>
        </tbody>
    </table>
</wicket:panel>