<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--It allows user to basically manage photos.  -->
    <h2><wicket:message key="photo.manage"></wicket:message></h2>
    <div><wicket:message key="photo.howTo"></wicket:message></div>
    <div wicket:id="uploadedPhotosFeedback"></div>
    <form method="post" wicket:id="uploadPhotos">
        <div>
            <label for="photoOne"><wicket:message key="photo.one"></wicket:message></label>
            <input id="photoOne" type="file" wicket:id="photoOne" />
        </div>
        <div>
            <label for="photoTwo"><wicket:message key="photo.two"></wicket:message></label>
            <input id="photoTwo" type="file" wicket:id="photoTwo" />
        </div>
        <div>
                <label for="photoThree"><wicket:message key="photo.three"></wicket:message></label>
            <input id="photoThree" type="file" wicket:id="photoThree" />
        </div>
        <div>
            <label for="photoFour"><wicket:message key="photo.four"></wicket:message></label>
            <input id="photoFour" type="file" wicket:id="photoFour" />
        </div>
        <div>
            <label for="photoFive"><wicket:message key="photo.five"></wicket:message></label>
            <input id="photoFive" type="file" wicket:id="photoFive" />
        </div>

        <div>
            <div wicket:id="progress"></div>
        </div>

        <input type="button" wicket:id="submit" wicket:message="value:form.add"/>
    </form>
    <div wicket:id="uploadedPhotos"></div>
</wicket:panel>