<?xml version="1.0" encoding="UTF-8"?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    Box containing field for queryString and submitting button.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/search/SearchBoxPanel.html
    Code - cz.larpovadatabaze.search.components.SearchBoxPanel.html
    -->
    <div class="nav navbar-nav navbar-right hidden-sm">
        <form wicket:id="search" class="navbar-form navbar-left" role="search" autocomplete="off">
            <div class="input-group">
                <input wicket:id="searchExpression" type="text" class="form-control" wicket:message="placeholder:home.searchExpression">
                  <span class="input-group-btn">
                      <button type="submit"  wicket:id="sendSearch" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                  </span>
                <div class="search-on-type">
                    <a wicket:id="previewLink" class="jsPreviewLink" style="display: none" />
                    <div class="inner" wicket:id="searchResultWrapper">
                        <wicket:container wicket:id="games">
                            <wicket:container wicket:id="game" />
                        </wicket:container>
                        <div class="showAll" wicket:id="showAllLink"><a href="#" onclick="$(this).parents('form').submit()" ><wicket:message key="home.showMore" /></a></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</wicket:panel>
