<html xmlns:wicket="http://wicket.apache.org">

<wicket:panel>
    <!--
    It contains select for choosing language used on the page at the moment.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/common/i18n/LocalePicker.html
    Code - cz.larpovadatabaze.components.common.i18n.LocalePicker.html
    -->
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span wicket:id="name"></span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <wicket:container wicket:id="locales" />
        </ul>
    </div>
</wicket:panel>

<!-- Fragment for available item -->
<wicket:fragment wicket:id="localeItemAvailable">
    <li>
        <a wicket:id="link" class="localePickerLink">
            <span wicket:id="name"></span>
        </a>
    </li>
</wicket:fragment>

</html>