<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <form action="" id="sky-form4" class="sky-form gamepanel" novalidate="novalidate" wicket:id="addNews">
        <fieldset>
            <label class="textarea" wicket:id="newsWrapper">
                <textarea class="textarea"
                          wicket:id="text"
                          wicket:message="title:form.news.text"
                          style="width:100%;"
                          rows=8
                        ></textarea>
                <b wicket:id="newsFeedback"></b>
            </label>

            <input type="button" class="btn-u" wicket:message="value:form.save" wicket:id="submit"
                    onclick="tinyMCE.triggerSave(true,true);"/>
        </fieldset>
    </form>
</wicket:panel>