<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div wicket:id="updateNews"></div>

    <div wicket:id="newsList" class="list-group-item">
        <h4 class="list-group-item-heading">
            <a wicket:id="authorLink">
                <span class="comment-user-picture"><img class="media-object" wicket:id="avatar" alt=""></span>
                <span class="comment-user-nickname label label-info" wicket:id="nick">Imi</span><span
                    class="comment-user-name" wicket:id="name">Stanislava Pajerová</span>
            </a>
            <span class="comment-date" wicket:id="newsDate">8. 4. 2014</span>
            <a wicket:id="updateNews" class="fa fa-pencil-square-o"></a>
        </h4>
        <wicket:container wicket:id="newsContent" />
    </div>
</wicket:panel>