<wicket:extend xmlns:wicket="http://wicket.apache.org">

    <div class="container main">
        <div class="row">
            <div class="col-md-12">
                <wicket:container wicket:id="createOrUpdateUser">
                    <!--
                    This panel is found in package: cz.larpovadatabaze.components.panel.user.CreateOrUpdateUserPanel.html
                    https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/user/CreateOrUpdateUserPanel.html
                    -->
                </wicket:container>
            </div>
        </div>
    </div>

</wicket:extend>