<wicket:extend xmlns:wicket="http://wicket.apache.org">

     <div class="container main">

        <div class="row">
            
        <form action="" id="sky-form4" class="sky-form gamepanel" wicket:id="forgotPassword">
        <header><i class="fa fa-paper-plane-o"></i> <wicket:message key="form.email">Email</wicket:message></header>
            <div wicket:id="feedback"></div>
            <fieldset>  
                  <section>
                      <label class="input">
                          <input type="email" wicket:id="mail" placeholder="Zadejte e-mail">
                      <b class="tooltip tooltip-bottom-right">Zadejte e-mail</b>
                      </label>
                  </section>
                  <section>
                      <input type="submit" wicket:id="submit" />
                  </section>
                </fieldset>
              </form>
          
        </div>            
     </div>
</wicket:extend>