<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="levaCast" id="Uzivatele">
        <div class="sekce sekceUzivatele">
            <div class="nadpisStranky">
                <i class="fa fa-user"></i><wicket:message key="user.users">Uživatelé</wicket:message>
            </div>
            <table>
                <thead>
                    <td wicket:id="orderByName"><wicket:message key="form.name">Jméno</wicket:message></td>
                    <td wicket:id="orderByCommented"><wicket:message key="user.commented">Komentovaných</wicket:message></td>
                    <td wicket:id="orderByPlayed"><wicket:message key="user.played">Hraných</wicket:message></td>
                </thead>
                <tr wicket:id="listAuthor" class="polozkaUzivatel">
                    <!-- Beginning of repetitive part for every user -->
                    <td class="larp">
                        <a wicket:id="userLink">
                            <span wicket:id="userNickname" class="uzivatelPrezdivka">Monty</span>
                            <span wicket:id="userName" class="uzivatelJmeno"> Martin Bezdíček</span>
                        </a>
                    </td>
                    <td class="pocetherUzivatel komentare">
                        <span wicket:id="commentedGames">38</span><wicket:message key="user.commentedGames"> komentovaných her</wicket:message>
                    </td>
                    <td class="pocetherUzivatel">
                        <span wicket:id="onlyPlayed">38</span><wicket:message key="user.playedGames"> odehraných her</wicket:message>
                    </td>
                    <!-- End of repetitive part for every user -->
                </tr>
            </table>
              <div class="navigator">
              <span wicket:id="navigator">[dataview navigator]</span>
              </div>
        </div>
    </div>

    <div class="pravaCast" id="Uzivatele" wicket:id="userPanel">
        <!--
        This panel is found in package: cz.larpovadatabaze.components.panel.user.UsersPanel.html
        https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/user/UsersPanel.html
        -->
    </div>
</wicket:extend>