<wicket:extend xmlns:wicket="http://wicket.apache.org">

    <div class="profile_bar">
        <div class="container">
            <div class="row">

                <div wicket:id="personDetail">
                    <!--
                    This panel is found in package: cz.larpovadatabaze.components.panel.user.PersonDetailPanel.html
                    https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/user/PersonDetailPanel.html
                    -->
                </div>

            </div>
        </div>
    </div>

    <div class="profile_bar switcher">
        <div class="container">
            <a  wicket:id="userProfileLink" class="small_bar">
                <wicket:message key="user.profile" />
                <div class="glyphicon glyphicon-home"></div>
            </a>
            <a href="javascript:void(0)" class="small_bar">
                <wicket:message key="user.settings" />
                <div class="active glyphicon glyphicon-home"></div>
            </a>
        </div>
    </div>

    <div class="container main">
        <div class="row">
            <div wicket:id="updateUser">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.user.UpdateUserPanel.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/user/UpdateUserPanel.html
            -->
            </div>
        </div>
    </div>

</wicket:extend>