<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="levaCast">
        <div wicket:id="updateUser">
        <!--
        This panel is found in package: cz.larpovadatabaze.components.panel.user.UpdateUserPanel.html
        https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/user/UpdateUserPanel.html
        -->
        </div>
    </div>

    <div class="pravaCast">
        <div class="praveMenu">
            <div class="nadpisMenu">
                <wicket:message key="user.help">Nápověda</wicket:message>
            </div>
        </div>

        <div class="sekce">
            <span>Úprava informací o vás.</span>
        </div>
    </div>
</wicket:extend>