<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="levaCast" id="uzivatel">
        <div wicket:id="personDetail">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.user.PersonDetailPanel.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/user/PersonDetailPanel.html
            -->
        </div>

        <div wicket:id="annotatedGamesOfAuthor">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.game.ListGamesWithAnnotations.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/ListGamesWithAnnotations.html
            -->
        </div>

        <h2><wicket:message key="user.comments">Komentáře</wicket:message></h2>
        <div wicket:id="comments">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.game.CommentsListPanel.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/CommentsListPanel.html
            -->
        </div>


    </div>

    <!-- PRAVE MENU -->

    <div class="pravaCast" id="uzivatel">
        <div class="praveMenu">
            <div class="nadpisMenu"><wicket:message key="user.panel">Uživatelův panel</wicket:message></div>
        </div>

        <div class="sekce">
            <div class="nadpisSekce"><div class="ratingNum" wicket:id="ratingLabel"><wicket:message key="author.myRating" /></div><wicket:message key="user.playedLarps">Moje larpotéka</wicket:message></div>
            <div class="obsah">
                <wicket:container wicket:id="ratedGames" />
                <wicket:container wicket:id="playedGames" />
            </div>
        </div>

        <div class="sekce">
            <div class="nadpisSekce"><wicket:message key="user.wantsToPlay">Chci hrát</wicket:message></div>
            <div class="obsah" wicket:id="wantedGamesPanel">
                <!--
                This panel is found in package: cz.larpovadatabaze.components.panel.game.GameListPanel.html
                https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/GameListPanel.html
                -->
            </div>
        </div>
    </div>
</wicket:extend>