<wicket:extend xmlns:wicket="http://wicket.apache.org">
<div class="profile_bar">
        <div class="container">        
                        <div class="row">
 
        <div wicket:id="personDetail">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.user.PersonDetailPanel.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/user/PersonDetailPanel.html
            -->
        </div>                            

            </div> 
            </div>               
            </div>


       <div class="profile_bar switcher">
        <div class="container">       
         <div class="small_bar">Profil<div class="active glyphicon glyphicon-home"></div></div><div class="small_bar">Nastavení<div class="glyphicon glyphicon-home"></div></div>
        </div>
       </div>
                             
        <div class="container main">
   
        <div class="row">    
            <div class="col-md-9">
                <div class="panel panel-default comments">
                    <div class="list-group">
                        

                        
          <!-- played games -->
          
          <div class="created-games-list">              
     
            <div class="row">    
            <div class="col-md-12">

        <div class="row recent-games played">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div id="testimonials-2" class="testimonials testimonials-v1">
                            <div class="carousel-inner">
                                <a href="hell-on-wheels">
                                <div class="item active">
                                    <div class="testimonial-info">
                                    
                          <div class="alert alert-info score great">7.2</div>
                          <div class="recent-game">Hra</div>
                            <div class="row">
                            <div class="col-xs-7">                          
                          <div class="comment-date recent-game-players"><i class="fa fa-user"></i> 24</div>
                          <div class="comment-date recent-game-players"><i class="fa fa-comment"></i> 69</div>
                          <div class="comment-date recent-game-players"><i class="fa fa-star"></i> 37x</div>
                              </div>
                              </div>

                                    </div>
                                </div>
                                </a>    
                            </div>
                        </div>
                        </div> 
                                           
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div id="testimonials-2" class="testimonials testimonials-v1">
                            <div class="carousel-inner">
                                <a href="hell-on-wheels">
                                <div class="item active">
                                    <div class="testimonial-info">
                                    
                          <div class="alert alert-info score great">8.4</div>
                          <div class="recent-game">Operační systém</div>
                            <div class="row">
                            <div class="col-xs-7">                          
                          <div class="comment-date recent-game-players"><i class="fa fa-user"></i> 82</div>
                          <div class="comment-date recent-game-players"><i class="fa fa-comment"></i> 154</div>
                          <div class="comment-date recent-game-players"><i class="fa fa-star"></i> 256x</div>
                              </div>
                              </div>
                                    </div>
                                </div>
                                </a>    
                            </div>
                        </div>
                        </div> 
                        </div>
                        
                    
                <div class="row recent-games played">                                  
                    
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div id="testimonials-2" class="testimonials testimonials-v1">
                            <div class="carousel-inner">
                                <a href="hell-on-wheels">
                                <div class="item active">
                                    <div class="testimonial-info">
                                    
                          <div class="alert alert-info score notrated">-</div>
                          <div class="recent-game">Pavučina snů: Klíč k jaru</div>
                            <div class="row">
                            <div class="col-xs-7">                          
                          <div class="comment-date recent-game-players"><i class="fa fa-user"></i> 25</div>
                          <div class="comment-date recent-game-players"><i class="fa fa-comment"></i> 2</div>
                          <div class="comment-date recent-game-players"><i class="fa fa-star"></i> 15x</div>
                              </div>
                              </div>

                                    </div>
                                </div>
                                </a>    
                            </div>
                        </div>
                        </div>
                                            
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div id="testimonials-2" class="testimonials testimonials-v1">
                            <div class="carousel-inner">
                                <a href="hell-on-wheels">
                                <div class="item active">
                                    <div class="testimonial-info">
                                    
                          <div class="alert alert-info score average">6.7</div>
                          <div class="recent-game">Todesspiel - Hra se smrtí</div>
                            <div class="row">
                            <div class="col-xs-7">                          
                          <div class="comment-date recent-game-players"><i class="fa fa-user"></i> 16</div>
                          <div class="comment-date recent-game-players"><i class="fa fa-comment"></i> 25</div>
                          <div class="comment-date recent-game-players"><i class="fa fa-star"></i> 6x</div>
                              </div>
                              </div>

                                    </div>
                                </div>
                                </a>
                            </div> 
                        </div>
                        </div> 
                        </div>

                <div class="row recent-games played">                                                                                        
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div id="testimonials-2" class="testimonials testimonials-v1">
                            <div class="carousel-inner">
                                <a href="hell-on-wheels">
                                <div class="item active">
                                    <div class="testimonial-info">
                                    
                          <div class="alert alert-info score mediocre">5.1</div>
                          <div class="recent-game">Tenkrát v Berlíně</div>
                            <div class="row">
                            <div class="col-xs-7">                          
                          <div class="comment-date recent-game-players"><i class="fa fa-user"></i> 8</div>
                          <div class="comment-date recent-game-players"><i class="fa fa-comment"></i> 5</div>
                          <div class="comment-date recent-game-players"><i class="fa fa-star"></i> 23x</div>
                              </div>
                              </div>
                                    </div>
                                </div>
                                </a>    
                            </div>
                        </div>
                        </div> 
                        
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div id="testimonials-2" class="testimonials testimonials-v1">
                            <div class="carousel-inner">
                                <a href="hell-on-wheels">
                                <div class="item active">
                                    <div class="testimonial-info">
                                    
                          <div class="alert alert-info score great">9.2</div>
                          <div class="recent-game">Hell on Wheels</div>
                            <div class="row">
                            <div class="col-xs-7">                          
                          <div class="comment-date recent-game-players"><i class="fa fa-user"></i> 56</div>
                          <div class="comment-date recent-game-players"><i class="fa fa-comment"></i> 82</div>
                          <div class="comment-date recent-game-players"><i class="fa fa-star"></i> 96x</div>
                              </div>
                              </div>

                                    </div>
                                </div>
                                </a>    
                            </div>
                        </div>
                        </div> 
                        
                    </div>
                    
                                        
                </div>
            </div>                     
            

        <div class="row">    
            <div class="col-md-12">

        <div class="row recent-games played">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div id="testimonials-2" class="testimonials testimonials-v1">
                            <div class="carousel-inner">
                                <a href="hell-on-wheels">
                                <div class="item active">
                                    <div class="testimonial-info">
                                    
                          <div class="alert alert-info score great">7.2</div>
                          <div class="recent-game">Hra</div>
                            <div class="row">
                            <div class="col-xs-7">                          
                          <div class="comment-date recent-game-players"><i class="fa fa-user"></i> 24</div>
                          <div class="comment-date recent-game-players"><i class="fa fa-comment"></i> 69</div>
                          <div class="comment-date recent-game-players"><i class="fa fa-star"></i> 37x</div>
                              </div>
                              </div>

                                    </div>
                                </div>
                                </a>    
                            </div>
                        </div>
                        </div> 
                                           
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div id="testimonials-2" class="testimonials testimonials-v1">
                            <div class="carousel-inner">
                                <a href="hell-on-wheels">
                                <div class="item active">
                                    <div class="testimonial-info">
                                    
                          <div class="alert alert-info score great">8.4</div>
                          <div class="recent-game">Operační systém</div>
                            <div class="row">
                            <div class="col-xs-7">                          
                          <div class="comment-date recent-game-players"><i class="fa fa-user"></i> 82</div>
                          <div class="comment-date recent-game-players"><i class="fa fa-comment"></i> 154</div>
                          <div class="comment-date recent-game-players"><i class="fa fa-star"></i> 256x</div>
                              </div>
                              </div>
                                    </div>
                                </div>
                                </a>    
                            </div>
                        </div>
                        </div> 
                        </div>
                        
                    
                <div class="row recent-games played">                                  
                    
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div id="testimonials-2" class="testimonials testimonials-v1">
                            <div class="carousel-inner">
                                <a href="hell-on-wheels">
                                <div class="item active">
                                    <div class="testimonial-info">
                                    
                          <div class="alert alert-info score notrated">-</div>
                          <div class="recent-game">Pavučina snů: Klíč k jaru</div>
                            <div class="row">
                            <div class="col-xs-7">                          
                          <div class="comment-date recent-game-players"><i class="fa fa-user"></i> 25</div>
                          <div class="comment-date recent-game-players"><i class="fa fa-comment"></i> 2</div>
                          <div class="comment-date recent-game-players"><i class="fa fa-star"></i> 15x</div>
                              </div>
                              </div>

                                    </div>
                                </div>
                                </a>    
                            </div>
                        </div>
                        </div>
                                            
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div id="testimonials-2" class="testimonials testimonials-v1">
                            <div class="carousel-inner">
                                <a href="hell-on-wheels">
                                <div class="item active">
                                    <div class="testimonial-info">
                                    
                          <div class="alert alert-info score average">6.7</div>
                          <div class="recent-game">Todesspiel - Hra se smrtí</div>
                            <div class="row">
                            <div class="col-xs-7">                          
                          <div class="comment-date recent-game-players"><i class="fa fa-user"></i> 16</div>
                          <div class="comment-date recent-game-players"><i class="fa fa-comment"></i> 25</div>
                          <div class="comment-date recent-game-players"><i class="fa fa-star"></i> 6x</div>
                              </div>
                              </div>

                                    </div>
                                </div>
                                </a>
                            </div> 
                        </div>
                        </div> 
                        </div>

                <div class="row recent-games played">                                                                                        
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div id="testimonials-2" class="testimonials testimonials-v1">
                            <div class="carousel-inner">
                                <a href="hell-on-wheels">
                                <div class="item active">
                                    <div class="testimonial-info">
                                    
                          <div class="alert alert-info score mediocre">5.1</div>
                          <div class="recent-game">Tenkrát v Berlíně</div>
                            <div class="row">
                            <div class="col-xs-7">                          
                          <div class="comment-date recent-game-players"><i class="fa fa-user"></i> 8</div>
                          <div class="comment-date recent-game-players"><i class="fa fa-comment"></i> 5</div>
                          <div class="comment-date recent-game-players"><i class="fa fa-star"></i> 23x</div>
                              </div>
                              </div>
                                    </div>
                                </div>
                                </a>    
                            </div>
                        </div>
                        </div> 
                        
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div id="testimonials-2" class="testimonials testimonials-v1">
                            <div class="carousel-inner">
                                <a href="hell-on-wheels">
                                <div class="item active">
                                    <div class="testimonial-info">
                                    
                          <div class="alert alert-info score great">9.2</div>
                          <div class="recent-game">Hell on Wheels</div>
                            <div class="row">
                            <div class="col-xs-7">                          
                          <div class="comment-date recent-game-players"><i class="fa fa-user"></i> 56</div>
                          <div class="comment-date recent-game-players"><i class="fa fa-comment"></i> 82</div>
                          <div class="comment-date recent-game-players"><i class="fa fa-star"></i> 96x</div>
                              </div>
                              </div>

                                    </div>
                                </div>
                                </a>    
                            </div>
                        </div>
                        </div> 
                        
                    </div>
                    
                                        
                </div>
            </div>                                       
            <!-- played games end -->
            
            <div class="row">
              <div class="col-md-12">
                <div class="row">            
                 <a href="#"><div class="view-more-btn played">+ View more</div></a>  
                </div>          
              </div>          
            </div>
          </div>       
                     
                        
                        
                        
                        
                        
        <div class="delete" wicket:id="annotatedGamesOfAuthor">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.game.ListGamesWithAnnotations.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/ListGamesWithAnnotations.html
            -->
        </div>

       
        <div wicket:id="comments">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.game.CommentsListPanel.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/CommentsListPanel.html
            -->
        </div>
                        
                    </div>
                    
                </div>
            </div>
            


            <div class="col-md-3 game-meta">
                
                <div class="row">
                    
                    <div class="col-md-12 col-xs-12 col-sm-6">
                        <div class="panel panel-default"> 
                            <div class="panel-heading">
                                <div class="panel-title delete"><wicket:message key="user.playedLarps">Prepsat text na "Played LARPs" --> moje larpoteka je zavadejici</wicket:message></div>
                                <div class="panel-title">Played LARPs
                                <div class="ratingNum" wicket:id="ratingLabel"><wicket:message key="author.myRating" /></div></div>
                                
                            </div>
                            <div class="panel-body">
                               <ul class="rating">
                                    <li><div class="game-square great"></div><a href="#">NikdyKde I - III (2004)</a></li>
                                    <li><div class="game-square average"></div><a href="#">Porta Rossa MDVII (2011)</a></li>
                                    <li><div class="game-square average"></div><a href="#">FK Perseus (2012)</a></li>
                                    <li><div class="game-square average"></div><a href="#">Osada 12 (2011)</a></li>
                                    <li><div class="game-square notrated"></div><a href="#">Bezčasí (2013)</a></li>
                                    <li><div class="game-square great"></div><a href="#">Moon (2011)</a></li>
                                    <li><div class="game-square notrated"></div><a href="#">Obora 2P915 (2012)</a></li>
                                    <li><div class="game-square great"></div><a href="#">Skoro Rassvet (2012)</a></li>
                                    <li><div class="game-square notrated"></div><a href="#">Odznak (2010)</a></li>
                                    <li><div class="game-square great"></div><a href="#">I speak only da Truth (2011)</a></li>
                                    <li><div class="game-square mediocre"></div><a href="#">Salon Moravia (2012)</a></li>
                                </ul>
                            </div> 
                        </div>
                    </div>

                    <div class="col-md-12 col-xs-12 col-sm-6">
                        <div class="panel panel-default"> 
                            <div class="panel-heading">
                                <h2 class="panel-title">Wants to play</h2> 
                            </div>
                            <div class="panel-body">
                               <ul class="rating">
                                    <li><div class="game-square great"></div><a href="#">NikdyKde I - III (2004)</a></li>
                                    <li><div class="game-square average"></div><a href="#">Porta Rossa MDVII (2011)</a></li>
                                    <li><div class="game-square average"></div><a href="#">FK Perseus (2012)</a></li>
                                    <li><div class="game-square average"></div><a href="#">Osada 12 (2011)</a></li>
                                    <li><div class="game-square notrated"></div><a href="#">Bezčasí (2013)</a></li>
                                    <li><div class="game-square great"></div><a href="#">Moon (2011)</a></li>
                                    <li><div class="game-square notrated"></div><a href="#">Obora 2P915 (2012)</a></li>
                                    <li><div class="game-square great"></div><a href="#">Skoro Rassvet (2012)</a></li>
                                    <li><div class="game-square notrated"></div><a href="#">Odznak (2010)</a></li>
                                    <li><div class="game-square great"></div><a href="#">I speak only da Truth (2011)</a></li>
                                    <li><div class="game-square mediocre"></div><a href="#">Salon Moravia (2012)</a></li>
                                </ul>
                            </div> 
                        </div>
                    </div>

                </div>
                
            </div>
            
        </div>
            
            



    <!-- PRAVE MENU -->

            <div class="delete"><wicket:message key="user.panel">Uživatelův panel</wicket:message>


                <wicket:container wicket:id="ratedGames" />
                <wicket:container wicket:id="playedGames" />

            <div class="nadpisSekce"><wicket:message key="user.wantsToPlay">Chci hrát</wicket:message></div>
            <div class="obsah" wicket:id="wantedGamesPanel">
                <!--
                This panel is found in package: cz.larpovadatabaze.components.panel.game.GameListPanel.html
                https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/GameListPanel.html
                -->
            </div>            
            </div>
            
        </div>                 


           
</wicket:extend>