<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="levaCast" id="uzivatel">
        <div wicket:id="personDetail"></div>
    </div>

    <!-- PRAVE MENU -->

    <div class="pravaCast" id="uzivatel">
        <div class="praveMenu">
            <div class="nadpisMenu"><wicket:message key="user.panel">Uživatelův panel</wicket:message></div>
        </div>

        <div class="sekce">
            <div class="nadpisSekce"><wicket:message key="user.playedLarps">Moje larpotéka</wicket:message></div>
            <div class="obsah" wicket:id="playedGamesPanel"></div>
        </div>

        <div class="sekce">
            <div class="nadpisSekce"><wicket:message key="user.wantsToPlay">Chci hrát</wicket:message></div>
            <div class="obsah" wicket:id="wantedGamesPanel"></div>
        </div>


        <div class="sekce">
            <div class="nadpisSekce"><wicket:message key="author.myLarps">Moje larpy</wicket:message></div>
            <div class="obsah" wicket:id="authoredGamesPanel"></div>
        </div>
    </div>
</wicket:extend>