<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    It shows basic information about Group.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/group/GroupDetailPanel.html
    Code - cz.larpovadatabaze.components.panel.group.GroupDetailPanel.html
    -->
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 wicket:id="name"></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <img wicket:id="groupImage" style="float: left;">
                Tvůrci <span wicket:id="organized"></span> larpů

                <p>
                    <b><wicket:message key="group.authorsOf" />:</b>
                </p>
            </div>
        </div>
    </div>

</wicket:panel>