<wicket:head xmlns:wicket="http://wicket.apache.org">
	<wicket:link>
		<link rel="stylesheet" type="text/css" href="CreateEventPanel.css"/>
		<script type="application/javascript" src="datepicker-cs.js"></script>
		<script type="application/javascript" src="modalWindow.js"></script>
	</wicket:link>
</wicket:head>

<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<div wicket:id="createGame"></div>

	<form action="" id="sky-form4" class="sky-form gamepanel" novalidate="novalidate" wicket:id="addEvent">
		<div class="row">

			<div class="col-md-9">
                <header><span class="fa fa-plus"></span>
                    <wicket:message key="event.add">Přidat událost</wicket:message>
                </header>

                <fieldset>
                    <wicket:message key="form.game.section.required"/>
                </fieldset>

                <fieldset>
                    <legend>Detaily události</legend>
                    <label class="input">
                        <span class="icon-append fa fa-folder-open"></span>
                        <input type="text" name="name" wicket:id="name"
                               wicket:message="placeholder:form.event.name">
                        <strong class="tooltip tooltip-bottom-right" wicket:id="nameFeedback"></strong>
                    </label>

                    <div class="row">
						<span class="col col-6">
							<label class="input">
								<span class="icon-append fa fa-calendar"></span>
								<input type="text" name="from" wicket:id="from"
                                       wicket:message="placeholder:form.dateFrom">
								<strong class="tooltip tooltip-bottom-right" wicket:id="fromFeedback"></strong>
							</label>
						</span>
						<span class="col col-6">
							<label class="input">
								<span class="icon-append fa fa-clock-o"></span> 
								<input type="text" name="from" wicket:id="fromTime"
                                       wicket:message="placeholder:form.dateFrom">
								<strong class="tooltip tooltip-bottom-right" wicket:id="fromTimeFeedback"></strong>
							</label>
						</span>
					</div>

					<div class="row">
						<span class="col col-6">
							<label class="input">
								<span class="icon-append fa fa-calendar"></span> 
								<input type="text" name="to" wicket:id="to" wicket:message="placeholder:form.dateTo">
								<strong class="tooltip tooltip-bottom-right" wicket:id="toFeedback"></strong>
							</label>
						</span>
						<span class="col col-6">
							<label class="input">
								<span class="icon-append fa fa-clock-o"></span> 
								<input type="text" name="from" wicket:id="toTime"
                                       wicket:message="placeholder:form.dateFrom">
								<strong class="tooltip tooltip-bottom-right" wicket:id="toTimeFeedback"></strong>
							</label>
						</span>
					</div>

                    <label class="input">
                        <span class="icon-append fa fa-users"></span>
                        <input type="number" name="amountOfPlayers" wicket:id="amountOfPlayers"
                               wicket:message="placeholder:form.event.amountOfPlayers">
                        <strong class="tooltip tooltip-bottom-right" wicket:id="amountOfPlayersFeedback"></strong>
                    </label>

                    <label class="input">
                        <span class="icon-append fa fa-external-link-square"></span>
                        <input type="text" wicket:id="web" wicket:message="placeholder:form.game.web">
                        <strong class="tooltip tooltip-bottom-right" wicket:id="webFeedback"></strong>
                    </label>

                    <label class="input">
                        <span class="icon-append fa fa-location-arrow"></span>
                        <input type="text" name="location" wicket:id="loc"
                               wicket:message="placeholder:form.event.location">
                        <strong class="tooltip tooltip-bottom-right" wicket:id="locFeedback"></strong>
                    </label>

                    <label class="textarea" wicket:id="descriptionWrapper">
                        <div wicket:id="toolbar"></div>
                        <div wicket:id="description"
                             style="width:100%;"
                        ></div>
                        <br/>
                        <div wicket:id="feedback"></div>
                        <br/>
                        <strong wicket:id="descriptionFeedback"></strong>
                    </label>
				</fieldset>

                <fieldset>
                    <legend>Vyberte souvisejísí hry</legend>
                    <label class="input" wicket:id="gamesWrapper">
                        <span class="icon-append fa fa-circle-plus icon-link" wicket:id="createGameBtn"></span>


                        <input type="text" wicket:id="games" wicket:message="placeholder:form.event.games">
                        <strong class="tooltip tooltip-bottom-right" wicket:id="gamesFeedback"></strong>
                    </label>

                    <input type="button" wicket:id="createGameSpecButton" wicket:message="value:game.add"/>
                </fieldset>

                <fieldset>
                    <legend>Nastavte lokalitu události</legend>
                    <div class="mapRow">
                        <strong>
                            <wicket:message key="event.map">Klikněte na místo konání na mapě</wicket:message>
                        </strong>
                    </div>

                    <div class="mapRow">
                        <wicket:message key="location.coordinates"></wicket:message>
                    </div>

                    <div class="mapRow">
						<input type="text" wicket:id="customLocation">
						<input type="button" wicket:id="goToLocation" wicket:message="value:gotolocation">
					</div>
					<div class="map" wicket:id="map">Map</div>
				</fieldset>

                <fieldset>
                    <legend>Vytvořte událost</legend>
                    <section>
                        <br>
                        <input type="button" wicket:id="submit" class="btn-u" wicket:message="value:form.save"
                               id="submitButton"/>
                    </section>
                </fieldset>

			</div>

			<div class="col-md-3">
				<wicket:message key="form.game.labels"></wicket:message>
				<div wicket:id="labelsFeedbackWrapper" class="errorWrapper">
					<wicket:container wicket:id="labelsFeedback"/>
				</div>

				<div wicket:id="labels"></div>
			</div>

		</div>
	</form>
</wicket:panel>