<wicket:head xmlns:wicket="http://wicket.apache.org">
	<wicket:link>
		<link rel="stylesheet" type="text/css" href="CreateEventPanel.css"/>
		<script type="application/javascript" src="datepicker-cs.js"></script>
	</wicket:link>
</wicket:head>


<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<!--
	It contains basic characteristics of the game and allows user to filter by them.
	It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/FilterGamesSidePanel.htmlhtml
	Code - cz.larpovadatabaze.components.panel.game.FilterGamesSidePanelanel.html
	-->
	<form class="sky-form sky-labels" wicket:id="filterForm">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<wicket:message key="event.dateFrom">From</wicket:message>
				</h2>
			</div>

			<div class="panel-body">
				<input type="text" wicket:id="from">
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<wicket:message key="event.dateTo">To</wicket:message>
				</h2>
			</div>

			<div class="panel-body">
				<input type="text" wicket:id="to">
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<wicket:message key="event.adm">Kraj</wicket:message>
				</h2>
			</div>

			<div class="panel-body">
				<select wicket:id="region"></select>
			</div>
		</div>

		<!-- Required labels -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<wicket:message key="label.required">Popular tags</wicket:message>
				</h2>
			</div>

			<div class="panel-body" wicket:id="requiredLabels">
			</div>
		</div>

		<!-- Other labels -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<wicket:message key="label.optional">Popular tags</wicket:message>
				</h2>
			</div>

			<div class="panel-body" wicket:id="otherLabels">
			</div>
		</div>
	</form>
</wicket:panel>