<wicket:extend xmlns:wicket="http://wicket.apache.org">

    <div class="profile_bar">
        <div class="container">
            <div class="row">
                <!-- Nothing for now -->
            </div>
        </div>
    </div>

    <div class="profile_bar switcher">
        <div class="container">
            <!-- Nothing for now -->
        </div>
    </div>

    <div class="container main" wicket:id="addGroup">
        <!--
        This panel is found in package: cz.larpovadatabaze.components.panel.group.CreateOrUpdateGroupPanel.html
        https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/group/CreateOrUpdateGroupPanel.html
        -->
    </div>

</wicket:extend>