<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="levaCast" id="skupina">
        <div wicket:id="groupDetail"></div>
    </div>

    <!-- PRAVE MENU -->

    <div class="pravaCast" id="uzivatel">
        <div class="praveMenu">
            <div class="nadpisMenu"><wicket:message key="group.panel">Panel skupiny</wicket:message></div>
        </div>

        <div class="sekce">
            <div class="nadpisSekce"><wicket:message key="author.myLarps">Moje larpy</wicket:message></div>
            <div class="obsah" wicket:id="authoredGamesPanel"></div>
        </div>
    </div>
</wicket:extend>