<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="levaCast" id="Skupiny">
        <div class="sekce sekceAutori">
            <div class="nadpisStranky">
                <wicket:link>
                    <i class="fa fa-users"></i><wicket:message key="group.group">Skupiny</wicket:message>
                </wicket:link>
            </div>
            <table>
                <thead>
                    <td></td>
                    <td><wicket:message key="form.name">Jméno</wicket:message></td>
                    <td><wicket:message key="form.averageOfAllGames">Průměrné hodnocení her</wicket:message></td>
                    <td><wicket:message key="form.amountOfGames">Počet hodnocených her</wicket:message></td>
                </thead>
                <tr wicket:id="listGroups">
                    <!-- Beginning of repetitive part for every group -->
                    <td></td>
                    <td><a wicket:id="groupDetail"><span wicket:id="groupName"></span></a></td>
                    <td><span wicket:id="averageOfAllGames"></span></td>
                    <td><span wicket:id="amountOfGames"></span></td>
                    <!-- End of repetitive part for every group -->
                </tr>
            </table>
            <div class="navigator">
            <span wicket:id="navigator">[dataview navigator]</span>
            </div>
        </div>
    </div>

    <div class="pravaCast" id="Skupiny">
        <div class="praveMenu">
            <div class="nadpisMenu"><wicket:message key="group.group">Skupiny</wicket:message></div>
        </div>

        <div class="sekce" wicket:id="addGroup">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.group.AddGroupPanel.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/group/AddGroupPanel.html
            -->
        </div>
    </div>
</wicket:extend>
