<wicket:extend xmlns:wicket="http://wicket.apache.org">

    <div class="profile_bar" wicket:id="profileBar">
        <div class="container">
            <div class="row">
                <div>
                    <a wicket:id="orderByName" class="">
                        <div class="btn btn-default gameFiltr btn-xs">Group name</div>
                    </a>
                    <a wicket:id="orderByNumber" class="">
                        <div class="btn btn-default gameFiltr btn-xs"># of LARPS</div>
                    </a>
                    <a wicket:id="orderByRating" class="">
                        <div class="btn btn-default gameFiltr btn-xs">Rating &Oslash;</div>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="profile_bar switcher">
        <div class="container">

        </div>
    </div>

    <div class="container main" wicket:id="main">

            <div class="col-md-12">
                <div class="levaCast" id="Autori">

                    <!-- Beginning of repetitive content for every author -->
                    <div class="row listGames col-md-4 col-sm-6 col-xs-10" wicket:id="listGroups">

                        <div class="col-md-6 col-sm-6 col-xs-8">
                            <div class="t-data info recent-games">

                                <a class="larpOdkaz" wicket:id="groupDetail">
                                    <span></span>
                                    <span class="AutorJmeno" wicket:id="groupName"></span>
                                </a>

                            </div>
                        </div>

                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <div class="t-data info detail recent-games">

                                <span><span wicket:id="amountOfGames"></span><i class="fa fa-pencil-square"></i></span>

                            </div>
                        </div>


                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="t-data info poradi recent-games">
                                <div class="alert alert-info score average">&Oslash;&nbsp;<span wicket:id="averageOfAllGames"></span></div>
                            </div>
                        </div>

                    </div>
                    <!-- End of repetitive content for every author -->
                </div>

                <div class="navigator">
                    <span wicket:id="navigator">[dataview navigator]</span>
                </div>

            </div>

    </div>

</wicket:extend>
