<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="profile_bar recent-games">
        <div class="container">
            <div class="row">

                <!-- Recent games -->
                <wicket:container wicket:id="recentGames" />

                <!-- larp.cz calendar -->
                <wicket:container wicket:id="calendar" />
            </div>
        </div>
    </div>

    <!-- Profile bar -->
    <div class="profile_bar switcher home">
        <div class="container">
            <div class="small_bar"><wicket:message key="home.recent" /><div class="active glyphicon glyphicon-home"></div><!--</div><div class="small_bar">Kalendář akcí<div class="glyphicon glyphicon-home"></div></div><div class="small_bar">Statistiky<div class="glyphicon glyphicon-home"></div>--></div>
        </div>
    </div>

    <!-- Comments -->
    <wicket:container wicket:id="lastComments" />

    <!-- something -->
    <div class="profile_bar events">
        <div class="container">

            <div class="col-md-12">

                <div class="heading-testimonials">
<!--                    Something (maybe slider) -->
                </div>

            </div>
        </div>
    </div>
    <!-- end of something -->

    <!-- pinteresting tweets .D -->
    <wicket:container wicket:id="news" />

    <!-- Recently added photographs -->
    <wicket:container wicket:id="recentPhotos" />

</wicket:extend>