<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <script type="text/javascript">


    </script>

    <div class="levaCast">
        <div id="nivoSlider" class="nivoSlider">
            <img wicket:id="randomImages" width="642" height="435" alt=""/>
        </div>

        <div style="clear:both; width:100%;"></div>

        <div id="vypisy">
            <div class="sloupecLevy">
                <div wicket:id="lastGames">
                    <!--
                    This panel is found in package: cz.larpovadatabaze.components.panel.home.LastGamesPanel.html
                    https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/home/LastGamesPanel.html
                    -->
                </div>
            </div>
            <div class="sloupecPravy">
                <div wicket:id="lastComments">
                    <!--
                    This panel is found in package: cz.larpovadatabaze.components.panel.home.LastCommentsPanel.html
                    https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/home/LastCommentsPanel.html
                    -->
                </div>
            </div>
        </div>
    </div>

    <div class="pravaCast">
        <div class="praveMenu">
            <div class="nadpisMenu">
                <wicket:message key="home.navigation">rychlá navigace</wicket:message>
            </div>
        </div>

        <div class="sekce" wicket:id="createGamePanel">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.game.AddGamePanel.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/AddGamePanel.html
            -->
        </div>

        <div class="sekce">
            <div class="nadpisSekce">Kalendář akcí</div>
            <div id="kalendarObsah">
                <!-- obsah z javascriptu v "hlavicce" -->
            </div>
            <div class="viceOdkazKalendar"><a href="http://kalendar.larp.cz" target="_blank"> více ...</a></div>
        </div>

        <div class="sekce" wicket:id="randomLarpPanel">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.home.RandomLarpPanel.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/home/RandomLarpPanel.html
            -->
        </div>

        <div class="sekce" wicket:id="statisticsPanel">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.home.StatisticsPanel.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/home/StatisticsPanel.html
            -->
        </div>
    </div>


    <script type="text/javascript">
        $(function () {
            jQuery.getJSON('http://files.korh.cz/larp.cz-kalendar-api/kalendar.php', function (data) { //vyžádáme si data z api, zpracujeme je jako JSON a uložíme do proměnné "data" s kterou budeme dál pracovat
                var maxAkci = 3; //ruční limit počtu vypsaných akcí - databázový je 30 (více se ani tak nevypíše)
                if (data.chyba)  //pokud nastala chyba php, měla by nám být předána v parametru chyba, vypsat
                {
                    alert(data.chyba.popis);
                }
                else if (!data.larpy) //pokud neexistuje parametr larpy (ale nebyla chyba), něco je kardinálně špatně
                {
                    alert('Špatný formát přijatých dat');
                }
                else //zřejmě je vše v pořádku
                {
                    var larpy = data.larpy; //do proměnné larpy si uložíme pole larpů, které se nám načetlo z JSONu
                    var text = ''; //výstupní buffer, do kterého si budeme ukládat html připravované tabulky
                    var temp = 0;
                    var randomIndex = 0;
                    var random = 0;
                    var pool = new Array(0, 1, 2, 3, 4, 5, 6, 7, 8, 9);
                    var k = new Array();
                    for (var i = 0; i < larpy.length && i < maxAkci; i++) {
                        randomIndex = Math.floor(Math.random() * pool.length);
                        random = pool[randomIndex];
                        pool.splice(randomIndex, 1); //odstraní prvek z pole
                        k[i] = random;
                    }
                    k.sort();
                    for (var i = 0; i < larpy.length && i < maxAkci; i++) //projdeme polem larpů
                    {
                        temp = k[i];
                        var larp = larpy[temp]; //aktuální larp si uložíme do proměnné larp
                        //začátek (konec) larpu jsou uvedeny v javascriptem zpracovatelném formátu, vytvoříme si z nich tedy objekty typu Date (datum)
                        text += '<div class="polickoSekce">'; //postupně si vytváříme řádek budoucí tabulky a ukládáme do proměnné text
                        text += '<div class="datumKalendar">' + larp.datum + '</div><a href="' + larp.link + '" target="_blank"><div class="nadpisKalendar"><b> ' + larp.nazev + '</b></div></a>';
                        text += '<div class="popisek">' + larp.obec + ', ' + larp.kraj + '</div><div class="popisekNormal">pořádá ' + larp.poradatel + '</div>';
                        text += '</div>';
                    }
                    //nakonec přepíšeme celý obsah elementu tbody proměnnou text
                    jQuery('#kalendarObsah').html(text);
                }
            });
        });
        /*
        (function () {
            var j = jQuery.noConflict();
            j(window).load(function () {
                var total = j('#nivoSlider img').length;
                var rand = Math.floor(Math.random() * total);

                j("#nivoSlider").nivoSlider({
                    effect: 'boxRainGrow',
                    slices: 15,
                    boxCols: 8,
                    boxRows: 4,
                    animSpeed: 500,
                    pauseTime: 6000,
                    startSlide: rand,
                    directionNav: true,
                    controlNav: false,
                    controlNavThumbs: false,
                    pauseOnHover: false,
                    manualAdvance: false
                });
            });
        })();
        */
    </script>
</wicket:extend>