<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    This Panel gets List of Users and simply creates list of them with links to their details and checkboxes in front of them.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/user/CheckBoxSelectionUsers.html
    Code - cz.larpovadatabaze.users.components.panel.CheckBoxSelectionUsers.html
    -->
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <ul>
                <li wicket:id="users">
                    <input type="checkbox" wicket:id="selectUser" />
                    <a wicket:id="user">
                        <wicket:container wicket:id="userNickname"></wicket:container>
                        <wicket:container wicket:id="userName"></wicket:container>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</wicket:panel>