<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <li class="visible-md visible-sm visible-xs visible-lg">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img class="logged-user-img" wicket:id="loggedUserImage" height="18" />
            <wicket:container wicket:id="loggedUserName"></wicket:container>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a wicket:id="loggedUserLink"><wicket:message key="user.userPage">Moje stránka</wicket:message></a></li>
            <li><a wicket:id="settings"><wicket:message key="user.configuration">Nastavení</wicket:message></a></li>
            <wicket:container wicket:id="adminPanel"/>
            <li><a wicket:id="logout"><wicket:message key="user.logout">Odhlásit se</wicket:message></a></li>
        </ul>
    </li>
</wicket:panel>