<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    It lists ratings given in as parameter in similar way to games. You get Game info and then your rating of game.

    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/user/RatingsListPanel.html
    Code - cz.larpovadatabaze.users.components.panel.RatingsListPanel.html
    -->

    <ul class="rating">
        <li wicket:id="listGames">
            <div style="float: right;" wicket:id="myRating"></div>
            <div wicket:id="gameRating" class="game-square"></div>
            <a wicket:id="gameDetail">
                <wicket:container wicket:id="gameName" />
                (<wicket:container wicket:id="gameYear" />)
            </a>
        </li>
    </ul>
</wicket:panel>