<wicket:panel xmlns:wicket="http://wicket.apache.org">

<div class="levaCastVyhledavani">
    <table class="prvniTabulka" wicket:id="fullGames">

        <tr>
            <td>
                <a wicket:id="gameLink">
                    <img wicket:id="gameLinkImage" class="obrazekVyhledavani">
                </a>
                <br>
            </td>
            <td class="obsah">
                <div wicket:id="gameRating" class="ctverecek"></div>
                <span class="nadpisHra">
                    <a wicket:id="gameLinkContent">
                        <span wicket:id="gameName">Bitvy o Divočinu: Dary bohů</span>
                    </a>
                </span>
            </td>
        </tr>

    </table>

    <div class="dalsiVysledky"><wicket:message key="search.moreResults">Další výsledky:</wicket:message></div>

    <table class="druhaTabulka" wicket:id="shortGames">
        <tr>
            <td>
                <a wicket:id="shortGameLink" class="hraStrucna">
                    <span wicket:id="shortGameName">Posel boží (2004) - Velká válka</span>
                </a> (<span wicket:id="shortGameYear">2004</span>)
            </td>
        </tr>
    </table>
</div>

</wicket:panel>