<wicket:panel xmlns:wicket="http://wicket.apache.org">
<!--
It shows game results of search.
It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/search/GamesResultsPanel.html
Code - cz.larpovadatabaze.components.panel.search.GamesResultsPanel.html
-->
<div class="levaCastVyhledavani">
    <table class="prvniTabulka" wicket:id="fullGames">
        <!-- Beginning of repetitive content for first three Games -->
        <tr>
            <td>
                <a wicket:id="gameLink">
                    <img wicket:id="gameLinkImage" class="obrazekVyhledavani">
                </a>
                <br>
            </td>
            <td class="obsah">
                <div wicket:id="gameRating" class="ctverecek"></div>
                <span class="nadpisHra">
                    <a wicket:id="gameLinkContent">
                        <span wicket:id="gameName">Bitvy o Divočinu: Dary bohů</span>
                    </a>
                </span>
            </td>
        </tr>
        <!-- End of repetitive content for first three Games -->
    </table>

    <div class="dalsiVysledky" wicket:id="moreResults"><wicket:message key="search.moreResults">Další výsledky:</wicket:message></div>

    <table class="druhaTabulka" wicket:id="shortGames">
        <!-- Beginning of repetitive content for more result Games -->
        <tr>
            <td>
                <a wicket:id="shortGameLink" class="hraStrucna">
                    <span wicket:id="shortGameName">Posel boží (2004) - Velká válka</span>
                    (<span wicket:id="shortGameYear">2004</span>)
                </a>
            </td>
        </tr>
        <!-- End of repetitive content for more result Games -->
    </table>
</div>

</wicket:panel>