<?xml version="1.0" encoding="UTF-8"?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    Box containing field for queryString and submitting button.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/search/SearchBoxPanel.html
    Code - cz.larpovadatabaze.components.panel.search.SearchBoxPanel.html
    -->
    <div class="nav navbar-nav navbar-right hidden-sm">
        <form wicket:id="search" class="navbar-form navbar-left" role="search">
            <div class="input-group">
                <input wicket:id="searchExpression" type="text" class="form-control" wicket:message="placeholder:home.searchExpression">
                          <span class="input-group-btn">
                              <button type="submit"  wicket:id="sendSearch" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                          </span>
            </div>
        </form>
    </div>
</wicket:panel>
