<?xml version="1.0" encoding="UTF-8"?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    Box containing field for queryString and submitting button.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/search/SearchBoxPanel.html
    Code - cz.larpovadatabaze.components.panel.search.SearchBoxPanel.html
    -->
    <form wicket:id="search">
        <input wicket:id="searchExpression" type="text" class="hledatBox" id="search_pwd" name="searchGame" title="Hledat">
        <label for="search"><i class="fa fa-search"></i></label>
        <input wicket:id="sendSearch" id="search" type="submit" class="glass" value="">
    </form>
</wicket:panel>
