<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    It shows user results of search.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/search/UserResultsPanel.html
    Code - cz.larpovadatabaze.components.panel.search.UserResultsPanel.html
    -->
    <div class="row listGames" wicket:id="fullResults">
        <div class="col-md-3 col-sm-2 col-xs-10">
            <div class="t-data info recent-games">
                <a class="larpOdkaz" wicket:id="authorLinkContent">
                    <span class="nick" wicket:id="authorNick"></span>
                    <span class="jmeno autorJmeno" wicket:id="authorName"></span>
                </a>
            </div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-2">
            <div class="t-data info detail recent-games">
                <span>
                    <span wicket:id="amountOfRecentGames"></span>
                    <i class="fa fa-pencil-square"></i>
                </span>
            </div>
        </div>
    </div>
</wicket:panel>