<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    It shows user results of search.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/search/UserResultsPanel.html
    Code - cz.larpovadatabaze.components.panel.search.UserResultsPanel.html
    -->
    <div class="pravaCastVyhledavani">
        <table class="prvniTabulka" wicket:id="fullResults">
            <!-- Beginning of repetitive content for first three authors -->
            <tr>
                <td>
                    <a wicket:id="authorLink">
                        <img wicket:id="authorLinkImage" class="obrazekVyhledavani">
                    </a>
                </td>
                <td class="obsah">
                    <a wicket:id="authorLinkContent">
                        <span class="nick" wicket:id="authorNick"></span>
                        <span class="jmeno" wicket:id="authorName"></span>
                    </a>
                    <div class="popisek">
                        <wicket:enclosure child="year"><span wicket:id="year"></span> let</wicket:enclosure>
                        <span wicket:id="city"></span>
                    </div>
                </td>
            </tr>
            <!-- End of repetitive content for first three authors -->
        </table>

        <div class="dalsiVysledky" wicket:id="moreResults"><wicket:message key="search.moreResults">Další výsledky:</wicket:message></div>

        <table class="druhaTabulka" wicket:id="shortResults">
            <!-- Beginning of repetitive content for other authors -->
            <tr>
                <td>
                    <a wicket:id="authorShortLink">
                        <span class="nick" wicket:id="authorShortNick">Vanda</span>
                        <span class="jmeno" wicket:id="authorShortName">Šárka Boudníková</span>
                    </a>
                </td>
            </tr>
            <!-- End of repetitive content for other authors -->
        </table>
    </div>
</wicket:panel>