@charset "utf-8";
/* CSS Document */

/* Barvy */
/*
nadpis přechod - 2a89b6 -> 34abe3
logo přechod - 2a89b6 -> 35b1eb
menu světle modrá - 37b2f0
nadpisy tmavě modrá - 214c61
hodnocení černošedá - 535353
hodnocení modrá - 0072bc
hodnocení červená - c1001f
pozadí přechod skorobílá - f8f8f8
pozadí přechodu šedá - cccccc
checkbox zelená - a0d85b
světle šedá (popisky) - 666
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,latin-ext,cyrillic-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400);
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@font-face {
    font-family: Baskerville;
    src: url('fonts/baskvill.ttf');
    font-family: Lobster;
    src: url('fonts/lobster.ttf');
}

/* Body */
body {
    background-image: url(../img/background.png);
    background-repeat: repeat;
    font-family: Open Sans;
    font-size: 12px;
}

.page {
    width: 1000px;
    left: 50%;
    margin-left: -500px;
    position: absolute;
}

.nadpisStranky {
    font-size: 20px;
    padding-bottom: 12px;
    padding-top: 10px;
    margin-left: -6px;
    text-align: center;
    color: #214c61;
    vertical-align: middle;
    font-weight: bold;
}

.ikonaStranky {
    margin-right: 6px;
    margin-bottom: 1px;
}

.levaCast {
    float: left;
    width: 642px;
    background-color: #F0F0F0;
    border:  4px #F0F0F0 solid;   
    border-radius: 3px; 
    box-shadow:  0 0 1px 1px #F0F0F0;   
}

.pravaCast {
    float: left;
    margin-left: 20px;
    width: 330px;
}

.pravaCast a:hover {
    text-decoration: underline;
}

img {
    border: 0px;
}

a{
  color: #00A0B0;
  text-decoration: none;
}
a:hover{
  color: #CC333F;
  text-decoration: underline;
}
h1{
    color: #00A0B0;
    font-size: 16px;
}
h2{
    color: #00A0B0;
    font-size: 14px;
}
#levaCastOdatabazi h3{
  padding:  4px;
  padding-left: 25px;
}
/* Header */
#logoNadpis {
    margin-top: 51px;
    height: 43px;
    width: 43px;
    margin-left: 30px;
    margin-bottom: 10px;
    float: left;
}

#nadpisHlavni {
    margin-top: 24px;
    float: left;
}

#loginBox {
    position: absolute;
    right: 0px;
    top: 24px;
    font-size: 10pt;
    text-align: right;
}

#loginBoxPrihlaseny {
    position: absolute;
    right: 0px;
    top: 28px;
    font-size: 10pt;
    text-align: right;
}

#loginBoxPrihlaseny td {
    vertical-align: top;
    text-align: left;
}

#loginBoxPrihlaseny a {
    text-decoration: none;
}

#loginBoxPrihlaseny a:hover {
    text-decoration: underline;
    color: black;
}

#loginBoxPrihlaseny a:visited {
    text-decoration: underline;
    color: black;
}

#loginBoxPrihlaseny .nick {
    font-weight: bold;
    font-size: 11pt;
    color: black;
}

#loginBoxPrihlaseny .popisek {
    color: #666;
    font-style: normal;
}

#loginBoxPrihlaseny .popisek a {
    color: #666;
    font-style: normal;
}

#loginBoxPrihlaseny .popisek a:visited {
    color: #666;
    font-style: normal;
}

#loginBox a {
    text-decoration: none;
    color: grey;
}

#loginBox a:hover {
    color: black;
}

#odkazRozjizdeni {
    cursor: pointer;
    color: #666;
}

#odkazRozjizdeni:hover {
    cursor: pointer;
    color: black;
}

#prihlaseniObalovaciVnitrni {
    position: absolute;
    top: 50px;
    right: 0px;
}

#prihlaseniObalovaci {
    margin-top: -4px;
}

.overflowDiv {
    overflow: hidden;
    height: 66px;
    width: 450px;
    position: relative;
}

.menu {
    width: 1000px;
    background-color: #00C8DC;
    background-repeat: repeat-x; 
    border-radius: 2px;
    margin: 0 auto;
    box-shadow:  0 0 1px 1px #D0D0D0;
    background-image: url("./smoothness/images/ui-bg_diagonals-small_50_262626_40x40.png");
    background-repeat: repeat;
    background-position: center top;
    position: relative;
    text-shadow: 1px 1px 1px grey;
    font-family: 'Lobster';
}

.menu .polozky {
    width: 1000px;
    height: 48px;
    display: inline-block;
}

.menu .mezera {
    margin-left: 25px;
}

.menu a.menuItem {
    text-decoration: none;
    padding:  5px 25px;
    color: #F8F8F8;
    font-size: 17px;
    border-right:  1px #D0D0D0 dotted;
    position: relative;
    left: -10px;
    line-height: 48px;
}
.menu a.menuItem:last-child {
    border: 0;
    }
.menu a.menuItem:hover{
  color: #CC333F;
  text-shadow: 1px 1px 1px white;
}
.menu a.menuItem:first-letter{
  text-transform: uppercase;
}

.menu #divProHledani {
    position: absolute;
    width: 171px;
    left: 800px;
    top: 13px;
}

#divProHledani .hledatBox {
    width: 150px;
    color: grey;
    border-radius: 2px;
    border: 1px #EFEFEF solid;

}

#divProHledani .glass {
    border: 0;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: 2px;
    cursor: pointer;
    border-radius: 2px;
    border: 1px #EFEFEF solid;
    margin-left: 2px;
}

#divProHledani a {
    text-decoration: none;
}

/* homepage */

#vypisy {
    margin-top: 10px;
}

.nadpis {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 6px;
    color: #00A0B0;
}

.sloupecLevy {
    float: left;
    margin-left: 10px;
}

.sloupecPravy {
    float: left;
    margin-left: 10px;
}

.pridanaHra {
    width: 310px;
    height: 102px;
    margin-bottom: 10px;
}

.pridanaHra .datum {
    font-size: 8pt;
    color: #535353;
    margin-left: 9px;
    margin-top: 4px;
}

.pridanaHra .obsah {
    padding-left: 6px;
}

.pridanaHra .popisek {
    color: #535353;
    font-size: 12px;
    text-align: justify;
    position: relative;
}

.pridanaHra .commentInner {
    min-height: 34px;
    max-height: 49.5px;
    overflow: hidden;
    position: relative;
}

.pridanaHra .HraKomentarPopisek {
margin: 10px 5px;
border-radius: 4px;
box-shadow: 0 0 1px 1px #D0D0D0;
background-color: #F8F8F8;
color: #535353;
    padding: 5px;
    padding-bottom: 6px;
}

.pridanaHra .HraKomentarPopisekInner {
    overflow: hidden;
    position: relative;
    font-size: 12px;
    text-align: justify;
    min-height: 34px;
    max-height: 49.5px;
}

.pridanaHra .HraKomentarVice {
    color: #535353;
    font-size: 11px;
    text-align: right;
    z-index: 10;
    position: absolute;
    padding-left: 3px;
    right: 0;
    bottom: 0;
    background-color: #F8F8F8;
    font-weight: bold;
}

.pridanaHra .nadpisHra {
    font-size: 12px;
}

.pridanaHra a {
    text-decoration: none;
    color: black;
}

.pridanaHra .obrazekPopis {
    vertical-align: top;
    margin-left: -1px;
    box-shadow:  0 0 2px 2px #D0D0D0;
    border-radius: 2px;
    border-collapse: separate;
}

.pridanaHra td {
    vertical-align: top;
    padding: 0px;
}

.ctverecek {
    width: 12px;
    height: 12px;
    margin-right: 4px;
    vertical-align: -5%;
    display: inline-block;
    border-radius: 2px;
}

#dalsiPridaneHry {
    display: none;
}

#dalsiKomentare {
    display: none;
}

.viceOdkaz {
    text-align: right;
    margin-bottom: 6px;
    margin-top: -6px !important;
    margin-right: 6px;
}

.viceOdkaz a {
    text-align: right;
    color: #666;
    text-decoration: none;
}

.viceOdkaz a:hover {
    text-decoration: underline;
}

.mediocre {
    background-color: #757575
}

.great {
    background-color: #CC333F
}

.average {
    background-color: #00A0B0
}

.notrated {
    background-color: #CCC
}

/*
.sekce {
    padding-left: 6px;
    background: url(../img/menu_zip_pozadi.png) repeat-x;
    text-align: center;
} */

.praveMenu {
    width: 328px;
    background-color: #00C8DC;
    background-repeat: repeat-x;
    text-align: center; 
    border-radius: 2px;
    margin: 0 auto;
    box-shadow:  0 0 1px 1px #D0D0D0;
    background-image: url("./smoothness/images/ui-bg_diagonals-small_50_262626_40x40.png");
    background-repeat: repeat;
    background-position: center top;
     }

.praveMenu .nadpisMenu {
    width: 200px;
    padding:  10px;
    display: inline-block;
    color: #F8F8F8;
    font-size: 22px;
    font-family: Lobster;
    text-shadow: 1px 1px 1px grey;
}
.praveMenu .nadpisMenu:before, .praveMenu .nadpisMenu:after{
  content: " * ";
}
.sekce {
    padding-left: 6px;
    padding-bottom: 10px;
    margin-top: 10px;
    position: relative;
    background-color: #F0F0F0;
    border:  4px #F0F0F0 solid;   
    border-radius: 3px; 
    box-shadow:  0 0 1px 1px #F0F0F0;  
}

.sekce a {
    text-decoration: none;
    color: black;
}

.nadpisSekce {
    color: #00A0B0;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 10px;
}

.popisek {
    color: #535353;
    font-size: 10pt;
    text-align: left;
    font-style: italic;
}

.popisekNormal {
    color: #535353;
    font-size: 10pt;
    text-align: left;
    font-style: normal;
}

.nadpisKalendar {
    margin-top: 10px;
}

.nadpisHra {
    color: #006276;
    font-size: 16px;
}
.sekce .nadpisHra{
    font-size: 12px;
}
.obsah {
    padding-left: 6px;
}

.viceOdkazKalendar {
    text-align: right;
    margin-top: 6px;
    margin-right: 6px;
}

.viceOdkazKalendar a {
    text-align: right;
    color: #666;
    text-decoration: none;
}

.viceOdkazKalendar a:hover {
    text-decoration: underline;
}

.obrazekHra {
    width: 70px;
    height: 70px;
    box-shadow:  0 0 2px 2px #D0D0D0;
    border-radius: 2px;
    border-collapse: separate;
    border: 0px;
}

.pruhStatistika {
    font-size: 10pt;
    color: #000;
    padding-left: 3px;
    background-color: rgba(0,160,176,0.6);
}

/* user */


.obrazekUzivatel {
    width: 120px;
    height: 120px;
    box-shadow:  0 0 2px 2px #D0D0D0;
    border-radius: 2px;
    border-collapse: separate;
}

#uzivatel .bunkaUzivatel {
    vertical-align: top;
    padding-left: 12px;
    padding-top: 6px;
}

#uzivatel .jmenoUzivatel {
    font-size: 16pt;
    margin-bottom: 6px;
}

#uzivatel .popisek {
    color: #666;
    font-size: 10pt;
    font-style: normal;
    margin-bottom: 6px;
}

#uzivatel .obsah {
    color: #666;
    font-size: 10pt;
    font-style: italic;
    margin-bottom: 6px;
    margin-top: 6px;
    line-height: 1.4;
}

#uzivatel .menuUzivatel {
    height: 24px;
    border: 0px;
    border-bottom: 2px;
    border-style: solid;
}

#uzivatel .menuUzivatel .vybranaPolozka {
    float: left;
    font-weight: bold;
    padding: 4px;
}
#uzivatel .menuUzivatel .polozka {
    float: left;
    padding: 4px;
    margin-left: 10px;
}



#uzivatel .bunkaDatum {
    vertical-align: middle;
    padding-top: 6px;
    text-align: center;
    margin-right: 6px;
    width: 70px;
}

#uzivatel .komentar .bunkaObrazek {
    vertical-align: top;
    padding: 0px;
}

#uzivatel .komentar .obrazekUziv {
    vertical-align: top;
    margin-left: -2px;
    margin-top: -2px;
    width: 75px;
    height: 75px;
}

#uzivatel .komentar .nick {
    font-size: 10pt;
    font-weight: bold;
}

#nivoSlider {
    height:435px;
    width:642px;
}

#uzivatel .komentar .jmeno {
    font-size: 10pt;
    color: #666;
}

#uzivatel .komentar .bunkaKomentar {
    padding-left: 4px;
    padding-top: 4px;
    vertical-align: top;
}

#uzivatel .komentar .obsahKomentar {
    font-size: 10pt;
    color: #444;
    margin-top: 4px;
}

#uzivatel .komentar .datum {
    font-size: 8pt;
    color: #535353;
}

/* game */

.levaCast#game {
    float: left;
    width: 642px;
    background-color: #F0F0F0;
    border:  4px #F0F0F0 solid;   
    border-radius: 3px; 
    box-shadow:  0 0 1px 1px #F0F0F0;       
}

.levaCast .obrazekHraBunka {
    vertical-align: top;
}

.levaCast#game .obrazekHra {
    width: 120px;
    height: 120px;
    box-shadow:  0 0 2px 2px #E0E0E0;
    border-radius: 2px;
    border-collapse: separate;
    margin: 5px 0 0 5px;
    border:  0px #F6F6F6 solid;
}

.levaCast#game .bunkaHra {
    vertical-align: top;
    padding-left: 12px;
    padding-top: 6px;
    font-size: 12px;

}

.levaCast#game .nadpisHra {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
    width: 386px;
}

.levaCast#game .popisek {
    color: #666;
    margin-bottom: 6px;
    font-size: 12px;

}

.levaCast#game .popisek a {
    color: #666;
    text-decoration: none;
}

.levaCast#game .popisek a:hover {
    color: #666;
    text-decoration: underline;
}

.levaCast#game .obsah {
    color: #666;
    font-style: italic;
    margin-bottom: 6px;
    margin-top: 6px;
    padding: 10px;
}

.levaCast#game .menuHra {
    height: 24px;
    border: 0px;
    border-bottom: 2px;
    border-style: solid;
}

.menuHra .vybranaPolozka {
    float: left;
    font-weight: bold;
    padding: 4px;
    /* Chrome, Safari */
    background-image: -webkit-linear-gradient(#f8f8f8, #cccccc);
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#f8f8f8), to(#cccccc));
    /* Mozilla */
    background-image: -moz-linear-gradient(#f8f8f8, #cccccc);
    background-image: -moz-gradient(linear, 0 0, 0 bottom, from(#f8f8f8), to(#cccccc));
    /* IE */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f8f8f8', endColorstr = '#cccccc');
    zoom: 1;
}

.menuHra .polozka {
    float: left;
    padding: 4px;
    margin-left: 10px;
}
.levaCast .komentar {
    padding: 5px;
    padding-bottom: 6px;   
    margin: 10px 5px; 
    border-radius: 4px;  
    box-shadow:  0 0 1px 1px #D0D0D0;   
    background-color: #FCFCFC;           
}
.levaCast .komentar:nth-child(2n-1) {
  background-color: #F8F8F8;
}

.levaCast  .komentar a {
    text-decoration: none;
    color: black;
}

.levaCast  .komentar a:hover {
    text-decoration: underline;
    color: black;
}

.levaCast  .komentar .bunkaObrazek  {
    vertical-align: top;
    padding: 0px;

}
.levaCast  .komentar .bunkaObrazek img {
    border-radius: 2px;
    box-shadow:  0 0 1px 1px #D0D0D0;
}

.levaCast  .komentar .bunkaKomentar {
    width: 100%;
}
.levaCast  .komentar .obrazekUziv {
    vertical-align: top;
    margin-left: -2px;
    margin-top: -2px;
    width: 75px;
    height: 75px;
}

.levaCast  .komentar .nick {
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding:  0 5px;
    color: white;
    margin-left: 5px;
    background-color: #00A0B0;
    line-height: 15px;
    border-radius: 2px;
}

.levaCast  .komentar .jmeno {
    font-family: Arial;
    font-size: 11px;
    color: #666;
    padding:  1px 5px 1px 5px;
    background-color: white;
    line-height: 15px;   
    text-align: left; 
    position: relative;
    top: -1px;
    border-radius: 2px;
}

.levaCast  .komentar .bunkaKomentar {
    padding-left: 4px;
    padding-top: 4px;
    vertical-align: top;
}
.levaCast  .komentar .bunkaKomentar a:hover{
    text-decoration: none;
}
.levaCast  .komentar .obsahKomentar {
    font-size: 12px;
    color: #444;
    margin-top: 4px;
    padding:  5px;
    width: 545px;
}

.levaCast .komentar .datum {
    font-size: 8pt;
    color: #535353;
    margin-left: 14px;
    margin-top: 4px;
}

.levaCast .checklist {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 30px;
}

.levaCast .checklist li {
    font-size: 14pt;
    font-weight: bold;
    float: left;
    margin-right: 6px;
    margin-bottom: 6px;
    color: black;
    background-color: #cccccc;
    height: 30px;
    position: relative;
    border-radius: 3px;
    vertical-align: middle;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 6px;
}

.levaCast .checklist li.selected {
    font-size: 14pt;
    font-weight: bold;
    float: left;
    margin-right: 6px;
    margin-bottom: 6px;
    background-color: #37b2f0;
    height: 30px;
    position: relative;
    border-radius: 3px;
    vertical-align: middle;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 6px;
}

.levaCast .checklist li.selected .checkbox-select {
    display: none;
}

.levaCast .checklist li.selected .checkbox-deselect {
    display: block;
}

.levaCast .checkbox-select {
    color: black !important;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-color: #cccccc;
    border-radius: 3px;
    border: 1px;
}

.levaCast .checklist li input {
    display: none;
}

.levaCast .checkbox-deselect {
    color: #000 !important;
    display: none;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-color: #37b2f0;
    border-radius: 3px;
}

.levaCast .pridatKomentarTabulka {
    margin-left: 10px;
    margin-top: 6px;
}

.levaCast .pridatKomentarTabulka td {
    height: 18px;
}

.levaCast .pridatKomentarTabulka img {
    margin-bottom: 6px;
}

.levaCast .pridatKomentarTabulka a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.levaCast .pridatKomentarTabulka a:hover {
    color: black;
    text-decoration: underline;
}

.levaCast .pridatKomentarNadpis {
    padding-bottom: 8px;
}

.levaCast #pridatKomentar {
    display: none;
    margin-bottom: 6px;
}

.levaCast .pridatKomentarButton {
    margin-left: 250px;
}

.pravaCast#game {
    float: left;
    margin-left: 20px;
    width: 330px;
}

.pravaCast#game .hodnoceni {
    height: 100px;
    padding: 20px;
}

.pravaCast#game .hodnoceniVysledne {
    font-size: 42pt;
    text-align: center;
    font-weight: bold;
}

.pravaCast#game .hodnotilo {
    font-size: 10pt;
    text-align: center;
    font-weight: bold;
}

.pravaCast#game .hodnoceniUziv {
    text-align: center;
    margin-bottom: 20px;
    margin-top: -1px;
}

.pravaCast#game #sliderHodnoceni {
    width: 200px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 6px;
}

.pravaCast#game #tlacitkoHodnotit {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    width: 70px;
    height: 24px;
    position: absolute;
    top: 26px;
    left: 240px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    cursor: pointer;
    /* Chrome, Safari */
    background-image: -webkit-linear-gradient(#f8f8f8, #cccccc);
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#f8f8f8), to(#cccccc));
    /* Mozilla */
    background-image: -moz-linear-gradient(#f8f8f8, #cccccc);
    background-image: -moz-gradient(linear, 0 0, 0 bottom, from(#f8f8f8), to(#cccccc));
    /* IE */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f8f8f8', endColorstr = '#cccccc');
    zoom: 1;
}

.pravaCast#game #vypisHodnoceni {
    margin-left: 106px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 12pt;
}

.pravaCast#game .obsahPolozka {
    margin-bottom: 2px;
}

/* add game */
#levaCastPridatHru {
    float: left;
    width: 642px;
}

#levaCastPridatHru td {
    border: 0px;
    padding: 0px;
}

#levaCastPridatHru .stitky {
    padding-top: 10px;
    padding-bottom: 6px;
}

#levaCastPridatHru a.stitekNapoveda {
    position: relative;
    text-decoration: none !important;
    cursor: pointer;
}

a.stitekNapoveda span {
    display: none;
    z-index: 9999;
}

a.stitekNapoveda:hover span {
    display: block;
    position: absolute;
    left: 0px;
    top: 22px;
    width: 300px;
    background-color: #eee;
    color: #000;
    padding: 10px;
    text-decoration: none;
    z-index: 9999;
    font-size: 8pt;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.textbox {
    color: #000;
    border: 1px;
    border-style: solid;
    border-color: #bbb #ddd #ddd #bbb;
    border-radius: 4px;
    padding: 2px;
    margin: 6px 0px 0px 0px;
    background-image: url("../img/textbox-background.png");
    background-repeat: repeat-x;
    width: 90%;
}

.textbox.blur {
    color: #214c61
}

.textarea {
    font-size: 10pt;
    color: #444;
    border: 1px;
    border-style: solid;
    border-color: #bbb #ddd #ddd #bbb;
    border-radius: 4px;
    padding: 2px;
    margin: 6px 0px 0px 4px;
    background-image: url("../img/textarea-background.png");
    background-repeat: repeat-x;
    resize: none;
    width: 90%;
    height: 50px;
}

.pridatStitek {
    margin-left: 6px;
    margin-top: 4px;
}

.pridatStitek a:hover {
    text-decoration: underline;
}

#pridatStitekForm {
    display: none;
}

.pridatStitekButton {
    margin-left: 0px;
}

.pridatAutora:hover {
    text-decoration: underline;
}

.viceAutoru td {
    border: 0;
    margin: 0;
    padding: 0;
}

#pridatAutoraForm {
    display: none;
}

#autor2 {
    display: none;
}

#autor3 {
    display: none;
}

#autor4 {
    display: none;
}

#autor5 {
    display: none;
}

.pridatAutoraButton {
    margin-left: 0px;
}

.pridatHruButton {
    margin-left: 270px;
    font-size: 12pt;
    font-weight: bold;
    width: 100px;
    height: 30px;
    margin-top: 6px;
}

#levaCastPridatHru .popis {
    color: #535353;
    font-size: 10pt;
    text-align: left;
    font-style: italic;
}

#pravaCastPridatHru {
    float: left;
    margin-left: 20px;
    width: 330px;
}

#pravaCastPridatHru ul {
    padding-left: 20px;
}

#pravaCastPridatHru li {
    font-size: 10pt;
    text-align: left;
    font-style: italic;
    margin-top: 10px;
    margin-left: 0px;
}

.popisekNapoveda {
    font-size: 10pt;
    color: #535353;
    text-align: left;
    margin-top: 4px;
    margin-left: 0px;
}

#pravaCastPridatHru .pridatHru {
    margin-left: 300px;
}

/* checkboxes (tags) */
.fieldset {
    border: 0;
    padding: 0;
    width: 642px;
    margin-left: 4px;
}

.checklist {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 20px;
}

.checklist li {
    font-size: 10pt;
    font-weight: normal;
    float: left;
    margin-right: 6px;
    margin-bottom: 6px;
    background-color: #cccccc;
    height: 20px;
    position: relative;
    border-radius: 5px;
    vertical-align: middle;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
}

.checklist li.selected {
    font-size: 10pt;
    font-weight: normal;
    float: left;
    margin-right: 6px;
    margin-bottom: 6px;
    background-color: #37b2f0;
    height: 20px;
    position: relative;
    border-radius: 5px;
    vertical-align: middle;
    border: 1px;
}

.checklist li.selected .checkbox-select {
    display: none;
}

.checklist li.selected .checkbox-deselect {
    display: block;
}

.checkbox-select {
    color: #214c61 !important;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-color: #cccccc;
    border-radius: 5px;
    border: 1px;
}

.checkbox-deselect {
    color: #000 !important;
    display: none;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-color: #37b2f0;
    border-radius: 5px;
}

/* zebricky */
.levaCast#Zebricky .icon-star{
  color: #00A0B0;  
}
.levaCast#Zebricky .sekceZebricky {
    margin-top: 0px;
    padding-top: 10px;
}

.levaCast#Zebricky .polozkaZebricek {
    margin-top: 0px;
}
.levaCast table {
    border: 0;
    padding: 0;
    margin: 0;
    border-spacing: 0px;
}
.levaCast#Zebricky table {
    width: 620px;
}
.levaCast tr:nth-child(odd){
    background-color: #F8F8F8;
}
.levaCast tr:hover,
 .levaCast tr:nth-child(odd):hover{
    background-color: rgba(0,160,176,0.2);
}
.levaCast td {
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    padding: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0;
    border-color: #EFEFEF;
    border-style: solid;
    text-align: left;
}
.levaCast#Zebricky td{
    text-align: right;  
}
.levaCast#Zebricky td:first-child {
    width: 10px;
}
.levaCast#Zebricky td:nth-of-type(2) {
    text-align: left;
}
.levaCast#Zebricky td:nth-of-type(3) {
    text-align: center;
}
.levaCast#Zebricky td:last-child {
    padding-right: 5px;
}
 thead td, thead, th{
    background-color: #FEFEFE;
}
 thead td:nth-child(even){
}
.levaCast#Zebricky .poradi {
    text-align: right;
}

.levaCast#Zebricky .larp {
}

.levaCast#Zebricky .larpOdkaz {
    color: #214c61;
    font-weight: bold;
}

.levaCast#Zebricky .hodnoceni {
    text-align: center;
}

.levaCast#Zebricky .pocet_hodnoceni {
    text-align: right;
    position: relative;
    vertical-align: middle;
    padding-right: 5px;
}
.levaCast#Zebricky .fa-bars,
 .levaCast#uzivatel .fa-bars{
    color: #00A0B0;
    margin-right: 8px;
}
.levaCast#Zebricky .fa-star-half-full,
 .levaCast#Zebricky .fa-comments-o{
    color: #00A0B0;
    font-size: 14px;
}
#levaCastOdatabazi .fa-question{
    color: #00A0B0;  
}
#Autori .fa-user,
 #Uzivatele .fa-user,
  #Autori .fa-user,
   #Autori .fa-pencil,
    #Skupiny .fa-users{
    color: #00A0B0;
    margin-right: 5px;
}
.levaCast#Zebricky .pocet_hodnoceni span {
    margin-right: 2px;
}
.levaCast#game tr:hover, 
.levaCast#game tr:nth-child(odd), 
.levaCast#game td {
  background-color: transparent;
  border: none;
}
.levaCast#game table.poleHra{
  width: 100%;
}
.levaCast#game .poleHra tr{
    background-color: #F8F8F8;    
}
.levaCast .podzebricky div{
    background-color: #FCFCFC;
    border-radius: 2px;
    border: 1px none;
    box-shadow: 0 0 1px 1px #E0E0E0;
    padding: 2px 0px;
    width: 80px;  
    display: inline-block;
    text-align: center;

}
.levaCast .podzebricky a{
  color: rgb(33, 76, 97) !important;
  margin: 0 3px;  
}
.levaCast .podzebricky a.active{
  font-weight: bold;
}
.levaCast .podzebricky a:first-of-type{
  margin-left: 3px;
}
.levaCast .podzebricky a:last-of-type{
  margin-right: 0px;
}
.levaCast .podzebricky{
  margin-bottom: 12px;
}
.sekce .fa-plus{
    color: #00A0B0;  
}
#divProHledani .fa-search{
  color: #00A0B0;
  position: absolute;
  right: 1px;
  top: 4px;
  z-index: 20;
  text-shadow:  none;
  font-size: 14px;
}
.napovedaZebricky {
    font-size: 10pt;
    color: #535353;
    text-align: center;
    width: 80px;
}

.pravaCast#Zebricky {
    float: left;
    margin-left: 20px;
}

.pravaCast#Zebricky .fieldset {
    width: 322px;
}

.nadpisFiltr, .titleLang {
    width: 330px;
    font-size: 11pt;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}



.pravaCast#Zebricky .hraciFiltr {
    margin-left: 100px;
    margin-top: -8px;
}

.pravaCast#Zebricky .delkaFiltr, .pravaCast#Zebricky .langFilter {
    margin-left: 20px;
    margin-top: -8px;
}

/* autori */

.levaCast#Autori .sekceAutori {
    margin-top: 0px;
    padding-top: 10px;
}

.levaCast#Autori .polozkaAutor {
    margin-top: 0px;
    padding: 2px;
}

.levaCast#Autori table {
    border: 0;
    padding: 0;
    margin: 0;
    border-spacing: 0px;
    width: 630px;
}

.levaCast#Autori tr {
    border: 1px;
    border-color: #bbb;
    border-style: solid;
}

.levaCast#Autori td {
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    padding: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0;
    border-color: #bbb;
    border-style: solid;
}
.levaCast#Autori td:nth-of-type(2) {
    text-align: left;
}
.levaCast#Autori .autorPrezdivka {
    color: #214c61;
    font-weight: bold;
}

.levaCast#Autori .autorJmeno {
    color: #535353;
}

.levaCast#Autori .nejlepsiHraAutor {
}

.pravaCast#Autori {
    float: left;
    margin-left: 20px;
    width: 330px;
}

.pravaCast#Autori .popisekAutor {
    font-style: italic;
    color: #535353;
}

.pravaCast#Autori td {
    vertical-align: top;
}

.pravaCast#Autori .nick {
    font-size: 11pt;
    font-weight: bold;
}

.pravaCast#Autori .jmeno {
    font-size: 11pt;
}

/* uzivatele */


.levaCast#Uzivatele .sekceUzivatele {
    margin-top: 0px;
    padding-top: 10px;
}

.levaCast#Uzivatele .polozkaUzivatel {
    margin-top: 0px;
    padding: 2px;
}

.levaCast#Uzivatele table, .levaCast#Skupiny table {
    border: 0;
    padding: 0;
    margin: 0;
    border-spacing: 0px;
    width: 630px;
}
.levaCast#Skupiny td:nth-of-type(3), .levaCast#Skupiny td:nth-of-type(4){
    text-align: center;
}
.levaCast#Uzivatele tr {
    border: 1px;
    border-color: #bbb;
    border-style: solid;
}

.levaCast#Uzivatele td {
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    padding: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0;
    border-color: #bbb;
    border-style: solid;
}

.levaCast#Uzivatele .pocetherUzivatel {
    text-align: left;
}

.levaCast#Uzivatele .uzivatelPrezdivka {
    color: #214c61;
    font-weight: bold;
}

.levaCast#Uzivatele .uzivatelJmeno {
    color: black;
}

.pravaCast#Uzivatele {
    float: left;
    margin-left: 20px;
    width: 330px;
}

.pravaCast#Uzivatele .popisekUzivatel {
    font-style: italic;
    color: #535353;
}

.obrazekUzivatel {
    width: 75px;
    height: 75px;
}

.pravaCast#Uzivatele td {
    vertical-align: top;
}

.pravaCast#Uzivatele .nick {
    font-size: 11pt;
    font-weight: bold;
}

.pravaCast#Uzivatele .jmeno {
    font-size: 11pt;
}

/* o databazi */
#levaCastOdatabazi{
    float: left;
    width: 642px;
    background-color: #F0F0F0;
    border:  4px #F0F0F0 solid;   
    border-radius: 3px; 
    box-shadow:  0 0 1px 1px #F0F0F0;  
}

#levaCastOdatabazi p {
    text-align: justify;
    padding: 2px 8px;
}

#levaCastOdatabazi a {
    line-height: 1.5;
    text-decoration: none;
    color: #214c61;
}

#levaCastOdatabazi ol {
    padding-left: 20px;
}

#levaCastOdatabazi .skryty {
    display: none;
    color: black;
    text-align: justify;
}

#pravaCastOdatabazi {
    float: left;
    margin-left: 20px;
    width: 330px;
}

#pravaCastOdatabazi .napisteNam, a[href^="mailto:"]{
    font-size: 11pt;
    margin-left: 20px;
    color: #00A0B0;
}
#pravaCastOdatabazi a:hover {
    text-decoration: underline;
}

#pravaCastOdatabazi td {
    vertical-align: top;
}

#pravaCastOdatabazi .nick {
    font-size: 11pt;
    font-weight: bold;
}

#pravaCastOdatabazi .jmeno {
    font-size: 11pt;
}

#pravaCastOdatabazi .obrazekModerator {
    width: 75px;
    height: 75px;
    box-shadow:  0 0 2px 2px #D0D0D0;
    border-radius: 2px;
}

/* přihlaseni STARE */
/*

.prihlaseniObalovaci { margin-left: 440px; position: relative; }
.prihlaseniButton { margin-top: 6px; left: 30px; position: relative;}   */

/* vyhledavani */
#vyhledavani {
    margin-top: -10px;
}

#vyhledavani .levaCastVyhledavani {
    width: 312px;
    margin: 0 12px 0 3px;
    float: left;
}

#vyhledavani .pravaCastVyhledavani {
    width: 312px;
    float: left;
}

#vyhledavani .nick {
    font-weight: bold;
    color: #214c61;
}

#vyhledavani .jmeno {
    color: black;
}

#vyhledavani .popisek {
    height: 64px;
}

#vyhledavani .prvniTabulka {
    border: 0;
    padding: 0;
    margin: 0;
    border-spacing: 0px;
    width: 100%;
}

#vyhledavani .prvniTabulka tr {
    border: 1px;
    border-color: #bbb;
    border-style: solid;
}

#vyhledavani .prvniTabulka td:first-child {
    width: 75px;
}

/* toto je buňka obrázku */
#vyhledavani .prvniTabulka td {
    padding-top: 6px;
    padding-bottom: 6px;
    border-color: #bbb;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

#vyhledavani .prvniTabulka .obsah {
    vertical-align: top;
}

#vyhledavani .obrazekVyhledavani {
    width: 75px;
    height: 75px;
}

#vyhledavani .dalsiVysledky {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 30px;
}

#vyhledavani .druhaTabulka {
    margin-top: 10px;
    border-spacing: 0px;
}

#vyhledavani .druhaTabulka td {
    padding: 0px;
}

#vyhledavani .druhaTabulka .hraStrucna {
    color: #214c61;
}

#vyhledavani .druhaTabulka .nick {
    font-weight: bold;
    color: #214c61;
}

.pravaCast #vyhledavani {
    float: left;
    margin-left: 20px;
    width: 330px;
}

#vyhledavani .fieldset {
    width: 322px;
}

.nadpisFiltr {
    width: 330px;
    font-size: 11pt;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}

#vyhledavani .hraciFiltr {
    margin-left: 100px;
    margin-top: -8px;
}

#vyhledavani .delkaFiltr {
    margin-left: 20px;
    margin-top: -8px;
}

.filtrovatButton {
    margin-left: 136px;
    font-size: 10pt;
    font-weight: bold;
    width: 80px;
    height: 26px;
    margin-top: 6px;
}

/* skupina */
#skupina {
    margin-top: -10px;
}

#skupina .levaCastSkupina {
    width: 312px;
    margin-right: 20px;
    float: left;
}

#skupina .pravaCastSkupina {
    width: 312px;
    float: left;
}

#skupina .nick {
    font-weight: bold;
}

#skupina .jmeno {
    color: #666;
}

#skupina .popisek {
    height: 64px;
}

#skupina .Tabulka {
    border: 0;
    padding: 0;
    margin: 0;
    border-spacing: 0px;
    width: 100%;
}

#skupina .Tabulka tr {
    border: 1px;
    border-color: #bbb;
    border-style: solid;
}

#skupina .Tabulka td:first-child {
    width: 75px;
}

/* toto je buňka obrázku */
#skupina .Tabulka td {
    padding-top: 6px;
    padding-bottom: 6px;
    border-color: #bbb;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

#skupina .Tabulka .obsah {
    vertical-align: top;
}

#skupina .obrazekUzivatel {
    width: 75px;
    height: 75px;
}

#skupina .popisSkupina {
    font-style: normal;
    text-align: justify;
}

.pravaCast #skupina {
    float: left;
    margin-left: 20px;
    width: 330px;
}

#skupina .fieldset {
    width: 330px;
}

.nadpisFiltr {
    width: 330px;
    font-size: 11pt;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}

#skupina .hraciFiltr {
    margin-left: 100px;
    margin-top: -8px;
}

#skupina .delkaFiltr {
    margin-left: 20px;
    margin-top: -8px;
}

/* pridat tlacitko */
/* je na konci kvuli priorite*/


.pridatPopis {
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
}

.pridatPopis a {
    text-decoration: none !important;
}
/* navigator */
.navigator{
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  font-size: 11px;  
}
.navigator a{
background-color: #FCFCFC;
border-radius: 2px;
border: 1px none;
margin: 2px;
box-shadow: 0 0 1px 1px #E0E0E0;
padding:  2px 6px 2px 6px;
text-align: center;
}

/* footer */
.footer {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    float: left;
    font-size: 9px;
    color: #F8F8F8;
    background-color: #00C8DC;
    background-repeat: repeat-x; 
    border-radius: 2px;
    box-shadow:  0 0 1px 1px #D0D0D0;
    background-image: url("./smoothness/images/ui-bg_diagonals-small_50_262626_40x40.png");
    background-repeat: repeat;
    background-position: center top;   
     
}

.footer a {
    text-decoration: none;
    color: #444;
}

.footer a:hover {
    text-decoration: underline;
    color: #444;
}

#labelsChooserPanel input[type=button] {
    background-color: #FCFCFC;
    border-radius: 2px;
    border: 1px none;
    color: rgb(33, 76, 97) !important;
    margin: 2px;
    box-shadow: 0 0 1px 1px #E0E0E0;
}

#labelsChooserPanel input[type=button].selected,
#manageLabels input[type=button].selected {
    background-color: rgb(55, 178, 240);
    color: rgb(0, 0, 0) !important;
}

#manageLabels table input[type=button] {
    float: right;
    margin-left: 10px;
}

select[name=stateOfGame]{
    float:right;
}
.wicket-aa{
    background: white;
    border: solid 2px black;
    border-radius: 5px;
    margin-top: 5px;

}

.wicket-aa ul {
    margin: 2px;
    list-style-type: none;
    padding: 0px;
}

.wicket-aa ul li {
    margin-bottom: 3px;
    padding-bottom: 2px;
    border-bottom: solid 1px black;
}

.wicket-aa ul li.selected {
    background-color: #aed9f1;
}

.datumKalendar{
    float: right;
    margin-right: 5px;
}

.cmpGameLabelContainer {
    display: inline-block;
    position: relative;
    overflow: visible;
}

.cmpGameLabel {
    margin: 3px 5px 3px 0;
    padding: 5px;
    background-color: #FCFCFC;
    border: 1px #E0E0E0;
    border-radius: 2px;
    cursor: default;
}

.cmpGameLabelContainer .tooltip {
    display: none;
    position: absolute;
    left: 5px;
    bottom: 25px;
    width: 300px;
    border: 1px solid #808080;
    border-radius: 3px;
    background: whitesmoke;
    padding: 4px;
    z-index: 1;
}

.cmpGameLabelContainer:hover .tooltip {
    display: block;
}

.photoImage {
    float:left;
    margin-right: 5px;
}



/* rating panel with histogram */
.container {
  font-family: 'Roboto', Helvetica;
  color: #393939;
  font-weight: 300;
  width: 320px;
  margin: 0 auto;
  background-color: #EFEFEF;
  padding: 4px;
  position: relative;
}

.inner {
  padding: 1em;
  background-color: white;
  overflow: hidden;
  position: relative; 
  border-radius: 4px; 
}

.rating {
  float: left;
  width: 45%;
  margin-right: 5%;
  text-align: center;
  margin-top: 20px;

}

.rating-num {
  color: #ffffff;
  font-size: 72px;
  font-weight: 100;
  line-height: 1em; 
  padding: 0px 14px 0px 14px;
  border-radius: 2px; 
  position: relative;
  top: -6px;

}

.rating-stars {
  font-size: 19px;
  color: #D0D0D0;
  margin-bottom: .5em;
  cursor: pointer;
  margin: 5px auto;
  text-align: center;
  position: relative;
  left: -3px;
  top: 6px;
}
.rating-stars .active {
  color: #393939;
}
.rating-stars span:nth-of-type(10):hover,
 .rating-stars span:nth-of-type(9):hover,
  .rating-stars span:nth-of-type(8):hover,
   .rating-stars span:nth-of-type(7):hover{
  color: #CC333F;
}
.rating-stars span:nth-of-type(6):hover,
 .rating-stars span:nth-of-type(5):hover,
  .rating-stars span:nth-of-type(4):hover{
  color: #00A0B0;
}
.rating-stars span:nth-of-type(3):hover,
 .rating-stars span:nth-of-type(2):hover,
  .rating-stars span:nth-of-type(1):hover{
  color: #757575;
}
.rating-users {
  font-size: 14px;
  margin: 15px 0 5px 0;
}
.container select[name=stateOfGame]{
    position: relative;
    right: 15px;
    top: 5px;
}
.histo {
  float: left;
  width: 50%;
  font-size: 10px;
}
.histo-star {
  float: left;
  padding: 3px;
  text-align: center;
  width: 25px;
}
.rating-stars .icon-star{
}
.rating-message{
  font-size: 10px;
  font-weight: bold;
  color: #393939;
  margin-bottom: 5px;
}
.histo-rate {
  width: 100%;
  display: block;
  clear: both;
}

.bar-block {
  margin-left: 3px;
  color: black;
  display: block;
  float: left;
  width: 75%;
  position: relative;
  top: 2px;
}

.bar {
  padding: 1px 2px 1px 2px;
  display: block;
  min-width: 0%;
  max-width: 88%;
}

.bar10 {
  width: 0;
  background-color: #CC333F;
}

.bar9 {
  width: 0;
  background-color: #CC333F;
}

.bar8 {
  width: 0;
  background-color: #CC333F;
}

.bar7 {
  width: 0;
  background-color: #CC333F;
}

.bar6 {
  width: 0;
  background-color: #00A0B0;
}

.bar5 {
  width: 0;
  background-color: #00A0B0;
}

.bar4 {
  width: 0;
  background-color: #00A0B0;
}

.bar3 {
  width: 0;
  background-color: #757575;
}

.bar2 {
  width: 0;
  background-color: #757575;
}

.bar1 {
  width: 0;
  background-color: #757575;
}
a.button{
  background-color: #F0F0F0;
  border-radius: 2px;
  padding: 0px 3px;
  font-size: 17px;
  margin: 0 1px;
  float: left;

}
a.button:hover{
  text-decoration: none;
}
a.active.button{
  background-color: #707070;
  color: #F0F0F0;
  text-align: left;
  width: 70px;
}
.playedPanel{
  position: absolute;
  bottom: 24px;
  left: 20px;
  z-index: 20;
}
.playedPanel .wrapper {
  color: #555;
  position: relative;
  text-align: center;
  float: left;  
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.playedPanel .wrapper .tooltip {
  background: #1496bb;
  bottom: 100%;
  color: #fff;
  display: block;
  left: -24px;
  margin-bottom: 15px;
  opacity: 0;
  padding: 5px;
  pointer-events: none;
  position: absolute;
  width: 65px;
  font-size: 10px;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          border-radius: 2px;   
}

.nadpisSekce .ratingNum {
    float: right;
    margin: 2px 10px 0 0;
    font-size: smaller;
}

.obsahPolozka .ratingNum {
    float: right;
    margin: 0 10px;
}

.levaCast .shareButtons {
    text-align: center;
    margin-top: 10px;
}

.shareButtons .fb-like {
    top: -6px;
}

.shareButtons .twitter-share-button {
    position: relative;
    top: -2px;
}

.administration li {
    list-style-type: none;
    margin: 5px 0;
    font-size: 14px;
}


/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.playedPanel .wrapper .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}  

/* CSS Triangles */
.playedPanel .wrapper .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #1496bb 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
  
.playedPanel .wrapper:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.playedPanel .lte8 .wrapper .tooltip {
  display: none;
}

.playedPanel .lte8 .wrapper:hover .tooltip {
  display: block;
}
/* end of rating panel with histogram */

/* file upload */

.cmpFileUploadBar {
    position: relative;
    margin: 5px;
    border: 3px dashed #d0d0d0;
    height: 20px;
    padding: 35px 20px;
    background-color: #fff;
}

.cmpFileUploadBar.dragOver {
    border: 3px dashed #00C8DC;
}

.cmpFileUploadBar input[type=file] {
    display: none;
}

.cmpFileUploadBar .uploadCover {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    padding: 35px;
}

.cmpFileUploadBar .progressBarContainer {
    border: 1px solid #00C8DC;
    position: relative;
    margin: 0 20%;
    height: 18px;
}

.cmpFileUploadBar .upText {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-weight: bold;
}

.cmpFileUploadBar .progressBar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #00A0B0;
}

.cmpFileUploadErrors ul {
    margin: 15px 5px;
    border: 1px solid red;
    background: #ff8d90;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 14px;
}

/* end of file upload */

/* gallery */

.cmpGallery ul {
    padding: 0;
}

.cmpGallery li {
    width: 190px;
    height: 190px;
    list-style-type: none;
    margin: 2px;
    border: 2px solid transparent;
    display: inline-block;
    cursor: pointer;
}

.cmpGallery li.selected {
    border: 2px solid #00C8DC;
}

.cmpGallery li img {
    width: 100%;
    height: 100%;
}

.cmpGallery .display {
    height: 500px;
    position: relative;
}

.cmpGallery .display img {
    position: absolute;
}

.cmpGallery .paging {
    top: 0;
    bottom: 0;
    width: 70px;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    border-radius: 20px;
}

.cmpGallery .paging.left {
    left: 0;
    background: #ddd url('img/sipkal.png') no-repeat 50% 50%;
    opacity:0.6;
    filter:alpha(opacity=60);
}

.cmpGallery .paging.right {
    right: 0;
    background: #ddd url('img/sipkar.png') no-repeat 50% 50%;
    opacity:0.6;
    filter:alpha(opacity=60);
}

.cmpGallery .display:hover .paging {
    visibility: visible;
}

.cmpGallery .bottom {
    position: relative;
    min-height: 75px;
    background-color: #F8F8F8;
    margin-top: 10px;
    padding: 10px 110px 5px 10px;
}

.cmpGallery .buttons {
    position: absolute;
    top: 7px;
    right: 0;
    width: 90px;
}

.cmpGallery .buttons input {
    display: inline-block;
    width: 80px;
}

.cmpGallery textarea {
    display: none;
    width: 100%;
    height: 65px;
    font-family: Open Sans;
}

.cmpGallery .description {
    white-space: pre-wrap;
}

.cmpGallery .orderText {
    margin-top: 10px;
    display: none;
    font-weight: bold;
}

.cmpPhotoWarning {
    font-weight: bold;
    text-align: center;
}


/* end of gallery */

/* tabs component */

.cmpTabs {
    display: block;
    border-bottom: 1px solid #00C8DC;
    overflow: visible;
    height: 31px;
    padding: 0 5px;
}

.cmpTabs li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    border-top: 1px solid #00C8DC;
    border-left: 1px solid #00C8DC;
    border-right: 1px solid #00C8DC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    list-style-type: none;
    background-color: #ffffff;
    font-weight: bold;
}

.cmpTabs li.active {
    top: 1px;
    background-color: #f0f0f0;
}

.cmpTabs a {
    display: block;
    line-height: 20px;
    height: 20px;
    text-align: center;
    padding: 5px 10px;
}

/* end of tabs component */

/* edit dialog */

.cmpEditDialog {
    position: fixed;
    left: 100px;
    top: 100px;
    width: 400px;
    z-index: 100;
    padding: 15px;
    background: #F0F0F0;
    border: 1px solid #808080;
    border-radius: 5px;
    text-align: center;
}

.cmpEditDialog textarea {
    width: 100%;
    height: 200px;
}

/* end of edit dialog */

/* comment hidden button */

.cmpCommentHiddenButton {
    float: right;
    width: 24px;
    height: 24px;
    background: url(../img/oko.png);
    border: 2px solid #ddd;
    border-radius: 4px;
}

.cmpCommentHiddenButton.hidden {
    background-position: -26px 0;
    border: 2px solid black;
}

.cmpCommentHiddenButton:hover {
    border: 2px solid #aaa;
}


/* end of comment hidden button */

/* Rating Hidden button */

.cmpRatingDeleteButton {
    float: right;
    width: 12px;
    height: 12px;
    background: url(../img/bin_small.png);
    border: 2px solid #ddd;
    border-radius: 4px;
}

.cmpRatingDeleteButton:hover {
    border: 2px solid #aaa;
}

/* End of rating hidden button */

.rated, .commented {
    font-weight: bold;
}

.feedbackPanelINFO {
    list-style-type: none;
    font-weight: bold;
}

.sendInfoText {
    width: 90%;
}

ul.localePicker {
    position: absolute;
    top: -1px;
    left: 725px;
    height: 20px;
    border: 1px solid black;
    background: white;
    overflow: hidden;
    padding: 0;
}

ul.localePicker:hover {
    height: auto;
}

li.localePickerItem {
    width: 60px;
    height: 20px;
    list-style-type: none;
    line-height: 23px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    font-family: Sans, Arial;
}

a.localePickerLink {
    display: block;
    text-decoration: none;
    color: black;
}

a.localePickerLink:hover {
    text-decoration: none;
    background-color: #37b2f0;
}

img.localeItemImage {
    float: left;
    width: 24px;
    height: 16px;
    margin: 2px 5px 2px 2px;
}


#gameInfoWithLink {
    position: absolute;
    z-index: 10;
    width: 642px;
    text-align: center;
    background-color: #F0F0F0;
    opacity: 0.4;
    font-weight: bold;
    font-size: 20px;
}