<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div id="levaCastPridatHru">
        <div wicket:id="createOrUpdateGame">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.game.CreateOrUpdateGamePanel.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/CreateOrUpdateGamePanel.html
            -->
        </div>
    </div>

    <div id="pravaCastPridatHru">
        <div class="praveMenu">
            <div class="nadpisMenu">nápověda</div>
        </div>
        <div class="sekce">
            <ul>
                <li><wicket:message key="info.moreLabels">Je záměrem, aby každý larp měl více štítků</wicket:message></li>
                <li><wicket:message key="info.oneRequired">Každý larp musí mít alespoň jeden štítek ze sekce povinné</wicket:message></li>
                <li><wicket:message key="info.labels">Pokud larp nespadá jednoznačně pod jeden štítků, zaškrtněte jich více a upřesněte rozdíl v popisu</wicket:message>
                </li>
                <li><wicket:message key="info.newLabel">Každý nový štítek musí být schválen moderátorem</wicket:message></li>
            </ul>
        </div>
    </div>
</wicket:extend>