<html xmlns:wicket="http://wicket.apache.org">
<wicket:extend>

<div class="levaCast" id="game">
    <div wicket:id="gameDetail">
        <!--
        This panel is found in package: cz.larpovadatabaze.components.panel.game.GameDetailPanel.html
        https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/GameDetailPanel.html
        -->
    </div>

    <wicket:container wicket:id="tabs" />
    <div wicket:id="tabContent">
        <wicket:container wicket:id="tabContentPanel" />
    </div>
</div>

<!-- PRAVE MENU -->

<div class="pravaCast" id="game">
    <div class="praveMenu">
        <div class="nadpisMenu"><wicket:message key="game.panel">Herní panel</wicket:message></div>
    </div>

    <div class="sekce" wicket:id="editGamePanel">
        <!--
        This panel is found in package: cz.larpovadatabaze.components.panel.game.EditGamePanel.html
        https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/EditGamePanel.html
        -->
    </div>

    <div class="sekce" wicket:id="translateGamePanel">
        <!--
        This panel is found in package: cz.larpovadatabaze.components.panel.game.TranslateGamePanel.html
        https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/TranslateGamePanel.html
        -->
    </div>


    <div class="sekce" wicket:id="deleteGamePanel">
        <!--
        This panel is found in package: cz.larpovadatabaze.components.panel.game.DeleteGamePanel.html
        https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/DeleteGamePanel.html
        -->
    </div>

    <div wicket:id="ratingsContainerPanel">
        <div wicket:id="ratingsResults">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.game.RatingsResultPanel.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/RatingsResultPanel.html
            -->
        </div>
        <div class="sekce" wicket:id="canNotRatePanel">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.game.LoginToRatePanel.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/LoginToRatePanel.html
            -->
        </div>
        <div class="sekce" wicket:id="ratingsPanel">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.game.LoginToRatePanel.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/LoginToRatePanel.html
            -->
        </div>
        <form class="sekce" wicket:id="authorRatePanel" >
            <p><wicket:message key="Rating.author" /></p>
            <input type="button" wicket:id="authorRate" style="width: 100%" />
        </form>
    </div>

    <div class="sekce">
        <div class="nadpisSekce"><wicket:message key="game.similar">Podobné larpy</wicket:message></div>
        <div wicket:id="similarGames">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.game.GameListPanel.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/GameListPanel.html
            -->
        </div>
    </div>

    <div class="sekce">
        <div class="nadpisSekce"><wicket:message key="game.authorsLarps">Larpy autorů</wicket:message></div>
        <div wicket:id="gamesOfAuthors">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.game.GameListPanel.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/GameListPanel.html
            -->
        </div>
    </div>

    <div class="sekce">
        <div class="nadpisSekce"><wicket:message key="game.contact">Kontaktovat</wicket:message></div>
        <div wicket:id="contact">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.game.SendInformation.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/user/SendInformation.html
            -->
        </div>


    </div>

    <div class="sekce" wicket:id="ratingsOfUsersPanel">
        <!--
        This panel is found in package: cz.larpovadatabaze.components.panel.admin.AdminAllRatingsPanel.html
        https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/admin/AdminAllRatingsPanel.html
        -->
    </div>
</div>

    <wicket:fragment wicket:id="comments">
        <div wicket:id="addComment">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.game.CommentsPanel.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/CommentsPanel.html
            -->
        </div>
        <div wicket:id="commentsList" class="komentare">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.game.CommentsListPanel.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/CommentsListPanel.html
            -->
        </div>
    </wicket:fragment>

    <wicket:fragment wicket:id="photos">
        <div wicket:id="photos" style="min-height: 200px">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.photo.PhotoPanel.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/photo/PhotoPanel.html
            -->
        </div>
    </wicket:fragment>

    <wicket:fragment wicket:id="video">
        <div class="obsah">
            <iframe wicket:id="video" width="560" height="315" src="a" frameborder="0" allowfullscreen>
                <!--
                This panel is found in package: cz.larpovadatabaze.components.panel.YouTubePanel.html
                https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/YouTubePanel.html
                -->
            </iframe>
        </div>
    </wicket:fragment>

</wicket:extend>


</html>