<wicket:extend xmlns:wicket="http://wicket.apache.org">

<div class="levaCast" id="game">
    <div wicket:id="playedPanel"></div>
    <div wicket:id="gameDetail"></div>
    <div wicket:id="addComment"></div>
    <div wicket:id="commentsList" class="komentare"></div>
</div>

<!-- PRAVE MENU -->

<div class="pravaCast" id="game">
    <div class="praveMenu">
        <div class="nadpisMenu"><wicket:message key="game.panel">Herní panel</wicket:message></div>
    </div>

    <div class="sekce" wicket:id="editGamePanel">
    </div>

    <div class="sekce" wicket:id="deleteGamePanel">
    </div>

    <div wicket:id="ratingsResults"></div>
    <div class="sekce" wicket:id="canNotRatePanel"></div>
    <div class="sekce" wicket:id="ratingsPanel"></div>

    <div class="sekce">
        <div class="nadpisSekce"><wicket:message key="game.similar">Podobné larpy</wicket:message></div>
        <div wicket:id="similarGames"></div>
    </div>

    <div class="sekce">
        <div class="nadpisSekce"><wicket:message key="game.authorsLarps">Larpy autorů</wicket:message></div>
        <div wicket:id="gamesOfAuthors"></div>
    </div>

    <div class="sekce">
        <div class="nadpisSekce"><wicket:message key="game.wishesToPlay">Chtějí hrát</wicket:message></div>
        <div wicket:id="wantsToPlay"></div>
    </div>
</div>
</wicket:extend>