<wicket:extend xmlns:wicket="http://wicket.apache.org">

<div class="levaCast zebricky">
    <div class="profile_bar">
        <div class="container">
            <div class="row">
            <div>
                <i class="fa fa-bars"></i><wicket:message key="game.charts">Žebříčky</wicket:message>
            </div>
              
            </div>
        </div>
    </div>

    <!-- TODO - what this should do? -->
    <div class="profile_bar switcher">
        <div class="container">
            <div class="podzebricky">
                <a class="" wicket:id="all"><div class="btn btn-default btn-xs"><wicket:message key="game.all">Všechny</wicket:message></div></a>
                <wicket:container wicket:id="requiredLabels">
                    <a wicket:id="requiredOne"><div class="btn btn-default btn-xs" wicket:id="text"></div></a>
                </wicket:container>
            </div>  
        </div>
    </div>

    <div class="container main">

        <div class="row">

           <div class="col-md-8">
            
            
            


            <div wicket:id="listGame">
                <!--
                This panel is found in package: cz.larpovadatabaze.components.panel.game.ListGamePanel.html
                https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/ListGamePanel.html
                -->
            </div>
   
        </div>               
        <div class="col-md-4">
        <div>   
            <div class="nadpisMenu"><wicket:message key="filters.filters">filtry</wicket:message></div>
        </div>
        <div class="sekce" wicket:id="addGame">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.game.AddGamePanel.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/AddGamePanel.html
            -->
        </div>
        <div class="sekce" wicket:id="filterGames">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.game.FilterGamesPanel.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/FilterGamesPanel.html
            -->
        </div>
    </div>
</wicket:extend>