<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="levaCast" id="Komentáře">
        <div wicket:id="lastGamesAnnotated">
            <!--
            This panel is found in package: cz.larpovadatabaze.components.panel.game.ListGamesWithAnnotations.html
            https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/game/ListGamesWithAnnotations.html
            -->
        </div>
    </div>

    <div class="pravaCast" id="posledníHry">
        <div class="praveMenu">
            <div class="nadpisMenu"><wicket:message key="games.lastAdded">Poslední přidané hry</wicket:message></div>
        </div>

        <div class="sekce">
            <wicket:message key="game.seeLast">Zde si můžete prohlédnout poslední přidané hry.</wicket:message>
        </div>
    </div>
</wicket:extend>