<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="levaCast" id="Komentáře">
        <div wicket:id="lastGamesAnnotated">

        </div>
    </div>

    <div class="pravaCast" id="posledníHry">
        <div class="praveMenu">
            <div class="nadpisMenu"><wicket:message key="games.lastAdded">Poslední přidané hry</wicket:message></div>
        </div>

        <div class="sekce">
            Zde si můžete prohlédnout poslední přidané hry.
        </div>
    </div>
</wicket:extend>