<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="container main">
        <div class="row">
            <div class="col-sm-12 col-md-9">
                <div wicket:id="availableLanguages" class="translations">
                    <div class="translationHeader"><wicket:message key="game.translation"></wicket:message></div>
                    <form wicket:id="translation" class="sky-form gamepanel">
                        <fieldset>
                            <section>
                                <label class="input">
                                    <input type="text" wicket:id="name" wicket:message="placeholder:form.game.name">
                                </label>
                            </section>
                            <section>
                                <label class="textarea">
                                    <b><wicket:message key="form.game.description"></wicket:message></b><br />
                                    <textarea
                                            style="width:100%;"
                                            rows=8 wicket:id="description"></textarea>
                                </label>
                            </section>
                            <section>
                                <wicket:message key="game.lang"></wicket:message><span wicket:id="language"></span>
                            </section>
                            <section>
                                <input type="button" wicket:id="updateLanguage" wicket:message="value:language.update"/>
                                &nbsp;&nbsp;
                                <input type="button" wicket:id="removeLanguage" wicket:message="value:language.remove"/>
                            </section>
                        </fieldset>
                    </form>
                </div>
                <form wicket:id="addLanguage" class="sky-form gamepanel">
                    <fieldset>
                        <section>
                            <select wicket:id="language"></select>
                            <input type="button" wicket:id="addAnotherLanguage" wicket:message="value:language.add"/>
                        </section>
                    </fieldset>
                </form>
            </div>

            <div class="col-sm-12 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <wicket:message key="game.translate">Translate game</wicket:message>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <wicket:message key="game.translateInstructions">On the left side you can add or remove translation to different languages for your game.</wicket:message>
                    </div>
                </div>
            </div>
        </div>
    </div>

</wicket:extend>