.translations .translationHeader {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.translations .line {
    width: 100%;
}

.translation .translation {
    margin-bottom: 10px;
}