<wicket:panel xmlns:wicket>
    <!-- Recent photos -->
    <div class="profile_bar owl">
        <div class="container">
            <div class="owl-carousel" wicket:id="carousel">
                <wicket:container wicket:id="photos">
                    <a href="#" wicket:id="link">
                        <div class="item">
                                <img class="lazyOwl" wicket:id="gameImage" alt="" />
                            <div class="larp-name" wicket:id="gameName"></div>
                        </div>
                    </a>
                </wicket:container>
            </div>
        </div>
    </div>
    <!-- end recent photos -->

</wicket:panel>