<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="levaCast" id="Uzivatele">
        <form wicket:id="resetPassword">
            <div>
                <label for="password"><wicket:message key="form.newPassword">Nové heslo</wicket:message></label>
                <input type="password" wicket:id="password" />
            </div>
            <div>
                <label for="passwordAgain"><wicket:message key="form.passwordAgain">Heslo znovu</wicket:message></label>
                <input type="password" wicket:id="passwordAgain" />
            </div>
            <div>
                <input type="submit" wicket:id="submit" />
            </div>
        </form>
    </div>

    <div class="pravaCast" id="Uzivatele">

    </div>
</wicket:extend>