<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="cmpGallery" wicket:id="gallery">
        <a target="#" style="height: 0; width: 0;"></a>
        <div class="display">
            <div class="paging left"></div>
            <div class="paging right"></div>
        </div>
        <div class="bottom">
            <div class="buttons">
                <input type="button" name="modify" wicket:message="value:photo.update" value="Upravit" />
                <input type="button" name="delete" wicket:message="value:photo.delete" value="Smazat" />
                <input type="button" name="save" wicket:message="value:photo.save" value="Uložit" />
                <input type="button" name="cancel" wicket:message="value:photo.cancel" value="Zrušit" />
                <input type="button" name="order" wicket:message="value:photo.order" value="Pořadí" />
                <input type="button" name="publish" wicket:message="value:photo.publish" value="Publikovat" />
                <input type="button" name="unpublish" wicket:message="value:photo.unpublish" value="Skryt" />
            </div>
            <div class="description"></div>
            <textarea name="description"></textarea>
            <div class="orderText"><wicket:message key="game.dragPhotos">Pomocí drag &amp; drop přesuňte fotografie do požadovaného pořadí a klikněte výše na &quot;Uložit&quot;</wicket:message></div>
        </div>
        <ul></ul>
    </div>
</wicket:panel>