<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!-- Beginning of repetitive content for every Comment -->
    <div class="list-group-item" wicket:id="listComments">
        <h4 class="list-group-item-heading">
            <div style="float: right; margin-top: 25px;">
                <span class="comment-plus-one" wicket:id="pluses">2</span>
                <span class="comment-upvote" wicket:id="upvote"></span>
            </div>
            <div wicket:id="commentHiddenButton" style="float: right; margin-top: 50px;"></div>
            <a wicket:id="authorLink">
                <span class="comment-user-picture"><img class="media-object" wicket:id="avatar" alt=""></span>
                <span class="comment-user-nickname label label-info" wicket:id="nick">Imi</span><span
                    class="comment-user-name" wicket:id="name">Stanislava Pajerová</span>
            </a>
            <span class="comment-date" wicket:id="commentDate">8. 4. 2014</span>
        </h4>
        <wicket:container wicket:id="commentsContent"></wicket:container>

        <!-- Not in the template -->
        <div wicket:id="showGame" style="margin-top: 10px;">
            <wicket:message key="comment.aboutGame">o hře</wicket:message>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="position: relative;">
                <div wicket:id="gameRating" class="game-square"></div>
                <a wicket:id="gameDetail">
                    <span wicket:id="gameName"></span>
                </a>
            </span>
        </div>

    </div>
    <!-- End of repetitive content for every Game -->

    <div class="navigator">
        <span wicket:id="navigator">[dataview navigator]</span>
    </div>
</wicket:panel>
