<wicket:panel xmlns:wicket="http://wicket.apache.org">

<!--
This panel is used when you want to create or update game in the database.
It encapsulates relevant createOrUpdateGame with associated HTML markup.
It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/CreateOrUpdateGamePanel.html
Code - cz.larpovadatabaze.games.components.panel.CreateOrUpdateGamePanel.html
-->

<div wicket:id="createGroup">
    <!-- This will contain popup modal window with CreateOrUpdateGroupPanel -->
</div>
<div wicket:id="createAuthor">
    <!-- This will contain popup modal window with CreateOrUpdateAuthorPanel -->
</div>
<div wicket:id="createLabel">
    <!-- This will contain popup modal window with CreateOrUpdateLabelPanel -->
</div>

<form action="" id="sky-form4" class="sky-form gamepanel" novalidate="novalidate" wicket:id="addGame">
    <div class="row">

        <div class="col-md-9">
            <header><i class="fa fa-life-ring"></i> Help</header>
            <fieldset>
                <section>
                    <wicket:message key="info.moreLabels">Je záměrem, aby každý larp měl více štítků</wicket:message>
                </section>
                <section>
                    <wicket:message key="info.oneRequired">Každý larp musí mít alespoň jeden štítek ze sekce povinné</wicket:message>
                </section>
                <section>
                    <wicket:message key="info.labels">Pokud larp nespadá jednoznačně pod jeden štítků, zaškrtněte jich více a upřesněte rozdíl v popisu</wicket:message>
                </section>
                <section>
                    <wicket:message key="info.newLabel">Každý nový štítek musí být schválen moderátorem</wicket:message>
                </section>
            </fieldset>

<script type="text/javascript">
    $(document).ready(function () {
        $("input, textarea").each(function (idx, elm) {
            if ($(elm).attr("type") == "file") {
                return;
            }
            if ($(elm).attr("value") == "") {
                $(elm).attr("value", $(elm).attr("title"));
            }
        });

        $("input, textarea").bind("click", function (event) {
            var el = $(this);
            if (el.attr("type") != "file") {
                if (el.attr("value") == el.attr("title")) {
                    el.attr("value", "");
                }
            }
        });

        $("#submitButton").bind("mousedown", function (event) {
            $("input, textarea").each(function (idx, elm) {
                var el = $(elm);
                if (el.attr("type") == "file") {
                    return;
                }
                if (el.attr("value") == el.attr("title")) {
                    el.attr("value", "");
                }
            });
        });
    });
</script>

            <header><i class="fa fa-plus"></i>
                <wicket:message key="game.add">Přidat hru</wicket:message>
            </header>

            <fieldset>
                <wicket:message key="form.game.section.required"/>
            </fieldset>

            <fieldset>
                <div wicket:id="feedback"></div>

                <label class="input">
                    <i class="icon-append fa fa-folder-open"></i>
                    <input type="text" wicket:id="name" wicket:message="placeholder:form.name">
                    <b class="tooltip tooltip-bottom-right" wicket:id="nameFeedback"></b>
                </label>
                <br>

                <label class="textarea" wicket:id="descriptionWrapper">
                    <div wicket:id="toolbar"></div>
                    <div wicket:id="description"
                         style="width:100%;"
                    ></div>
                    <br/>
                    <div wicket:id="feedback"></div>
                    <br />
                    <b wicket:id="descriptionFeedback"></b>
                </label>

                <br>
                <wicket:message key="form.game.section.extended"/>
            </fieldset>

            <fieldset>
                <div class="row">
                    <section class="col col-6">
                        <label class="input" wicket:id="authorsWrapper">
                            <i class="icon-append fa fa-user-plus icon-link" wicket:id="createAuthorBtn"></i>


                            <input type="text" wicket:id="authors" wicket:message="placeholder:form.game.authors">
                            <b class="tooltip tooltip-bottom-right" wicket:id="authorsFeedback"></b>
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="input">
                            <i class="icon-append fa fa-users icon-link" wicket:id="createGroup" wicket:messsage="tooltip:form.newGroup"></i>

                            <input type="text" name="groupAuthor" wicket:id="groupAuthor" wicket:message="placeholder:form.game.authorGroups">
                        </label>
                    </section>
                </div>
                <div class="row">
                    <section class="col col-6">
                        <label class="input">
                            <i class="icon-append fa fa-calendar"></i>

                            <input type="text" wicket:id="year" wicket:message="placeholder:form.game.year"/>
                            <b class="tooltip tooltip-bottom-right" wicket:id="yearFeedback"></b>
                        </label>
                    </section>
                </div>

                <div class="row">
                    <section class="col col-3">
                        <label class="input">
                            <i class="icon-append fa fa-street-view"></i>
                            <input type="text" wicket:id="players" wicket:message="placeholder:form.game.players">
                            <b class="tooltip tooltip-bottom-right" wicket:id="playersFeedback"></b>
                        </label>
                    </section>
                    <section class="col col-3">
                        <label class="input">
                            <i class="icon-append fa fa-venus"></i>
                            <input type="text" wicket:id="womenRole" wicket:message="placeholder:form.game.womenRole">
                            <b class="tooltip tooltip-bottom-right" wicket:id="womenRoleFeedback"></b>
                        </label>
                    </section>
                    <section class="col col-3">
                        <label class="input">
                            <i class="icon-append fa fa-mars"></i>
                            <input type="text" wicket:id="menRole" wicket:message="placeholder:form.game.menRole">
                            <b class="tooltip tooltip-bottom-right" wicket:id="menRoleFeedback"></b>
                        </label>
                    </section>
                    <section class="col col-3">
                        <label class="input">
                            <i class="icon-append fa fa-transgender"></i>
                            <input type="text" wicket:id="bothRole" wicket:message="placeholder:form.game.bothRole">
                            <b class="tooltip tooltip-bottom-right" wicket:id="bothRoleFeedback"></b>
                        </label>
                    </section>
                </div>
                <div class="row">
                    <section class="col col-6">
                        <label class="input">
                            <i class="icon-append fa fa-history"></i>
                            <input type="text" wicket:id="hours" wicket:message="placeholder:form.hours">
                            <b class="tooltip tooltip-bottom-right" wicket:id="hoursFeedback"></b>
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="input">
                            <i class="icon-append fa fa-calendar-o"></i>
                            <input type="text" wicket:id="days" wicket:message="placeholder:form.days">
                            <b class="tooltip tooltip-bottom-right" wicket:id="daysFeedback"></b>
                        </label>
                    </section>
                </div>
                <div class="row">
                    <section class="col col-12">
                        <label class="input">
                            <i class="icon-append fa fa-upload"></i>
                            <input type="file" wicket:id="gameBlueprint" wicket:message="placeholder:form.blueprint"/>
                            <b class="tooltip tooltip-bottom-right" wicket:id="blueprintFeedback"></b>
                        </label>
                    </section>
                </div>

                <wicket:message key="form.game.section.presentation"/>
            </fieldset>

            <fieldset>
                <div class="row">
                    <section class="col col-6">
                        <label class="input">
                            <i class="icon-append fa fa-upload"></i>
                            <wicket:container wicket:id="coverImage" />
                            <b class="tooltip tooltip-bottom-right"><wicket:message key="form.game.coverImageHint" /></b>
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="input">
                            <i class="icon-append fa fa-external-link-square"></i>
                            <input type="text" wicket:id="web" wicket:message="placeholder:form.game.web">
                            <b class="tooltip tooltip-bottom-right" wicket:id="webFeedback"></b>
                        </label>
                    </section>
                    <section class="col col-4">
                        <label class="input">
                            <i class="icon-append fa fa-user-secret"></i>
                            <input type="text" wicket:id="photoAuthor" wicket:message="placeholder:form.game.photoAuthor">
                            <b class="tooltip tooltip-bottom-right" wicket:id="photoAuthorFeedback"></b>
                        </label>
                    </section>
                    <section class="col col-4">
                        <label class="input">
                            <i class="icon-append fa fa-picture-o"></i>
                            <input type="text" wicket:id="galleryURL" wicket:message="placeholder:form.game.galleryURL">
                            <b class="tooltip tooltip-bottom-right" wicket:id="galleryURLFeedback"></b>
                        </label>
                    </section>
                    <section class="col col-4">
                        <label class="input">
                            <i class="icon-append fa fa-video-camera"></i>
                            <input type="text" wicket:id="video" wicket:message="placeholder:form.game.video">
                            <b class="tooltip tooltip-bottom-right" wicket:id="videoFeedback"></b>
                        </label>
                    </section>
                </div>
                <wicket:message key="form.game.section.settings"/>
            </fieldset>

            <fieldset>
                <section>
                    <label class="checkbox"><input type="checkbox" wicket:id="ratingsDisabled"><i></i><strong>
                        <wicket:message key="form.game.ratingsDisabled"/>
                    </strong>
                        <br><span class="form-explain"><wicket:message key="form.game.ratingsDisabledHint"/></span>
                    </label>

                    <label class="checkbox"><input type="checkbox" wicket:id="commentsDisabled"><i></i><strong>
                        <wicket:message key="form.game.commentsDisabled"/>
                    </strong>
                        <br><span class="form-explain"><wicket:message key="form.game.commentsDisabledHint"/></span>
                    </label>

                    <!-- this will force larp out of archive if it has at least one new comment during past year
                        requires change in model - we should add it later
                    <label class="checkbox"><input type="checkbox" name="stillRunning" id="stillRunning"><i></i>Still running
                        <br><span class="form-explain">( Check this if larp is still in state of active runs )</span>
                    </label>
                    -->
                </section>
                <section>
                    <br>
                    <input type="button" class="btn-u" wicket:message="value:form.save"
                           wicket:id="submit" id="submitButton"/>
                </section>
            </fieldset>

        </div>

        <div class="col-md-3">
            <wicket:message key="form.game.labels"></wicket:message>
            <div wicket:id="labelsFeedbackWrapper" class="errorWrapper">
                <wicket:container wicket:id="labelsFeedback" />
            </div>

            <div wicket:id="labels"></div>
            <input type="button" value="Nový štítek" wicket:message="value:form.newLabel" wicket:id="createLabel"/>
        </div>
    </div>
</form>


</wicket:panel>