<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    It lists games given in parameter as square with color based on the rating of game followed by its name and year
    when it was created.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/GameListPanel.html
    Code - cz.larpovadatabaze.games.components.panel.GameListPanel.html
    -->
    <ul class="rating">
        <li wicket:id="listGames">
            <div wicket:id="gameRating" class="game-square"></div>
            <a wicket:id="gameDetail">
                <wicket:container wicket:id="gameName" />
                (<wicket:container wicket:id="gameYear" />)
            </a>
        </li>
    </ul>
</wicket:panel>