@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,900italic,900,700italic,700&subset=latin,latin-ext);

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}
body{
    font-family: Open Sans;
    font-size: 12px;
    background-color: #2F2F2F;
    background-repeat: repeat;
}
.logo{
    position: relative;
    top: -3px;
    margin-right: 10px;
}
@media (min-width: 768px) {

    nav .nav li a {
        padding-top: 17px;
        padding-bottom: 13px;
    }

}
.navbar-brand {
    padding-left: 15px;
}
@media (min-width: 728px) {
    .navbar-brand {
        padding-left: 0px;
    }
}
.navbar-default .navbar-collapse{
    border-color: transparent;
}
.navbar-form {

    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;

}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #373737;
}
.panel{
    margin-bottom: 12px;
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
}

.panel-default{
    background-color: transparent;
    border-color: transparent;

}

.panel-default>.panel-heading {
    color: ;
    background-color: transparent;
    border-bottom: 1px solid transparent;
}
.panel-title {
    font-weight: bold;
    color: #6F6F6F;
    font-size: 13px;
}

.comments .list-group-item {
    background-color: transparent;
    border: 1px solid #DFDFDF;
    font-size: 12px;
}

.panel-heading {
    color: #AFAFAF;
    background-color: #1A1A1A;
    border-bottom: 1px solid transparent;
}
h1 {
    margin-top: 5px;
    margin-bottom: 15px;
    color: #6dc8b7;
    font-size: 28px;
    font-weight: bold;
}
a {
    color: #6dc8b7;
    text-decoration: none;
}
a:hover{
    color: silver;
}
a:focus {
    text-decoration: none !important;
    outline:  none !important;
}
.container.main{
    padding-bottom: 15px;
}
.container.main a{
    color: #16b093;
}
.container.main a:hover{
    color: #5F5F5F;
}
.game-meta a{
    color: #0F0F0F;
    text-decoration: none;
}
.game-meta a:hover{
    color: #16b093;
}

.panel-footer {
    padding: 10px 15px;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.comment-user-nickname{
    background-color: #16b093;
}
.comment-user-name{
    background-color: white;
    color: #7F7F7F;
    left: 4px;
}
.comment-date{
    margin-left: 70px;
}
.comment-user-picture{
    margin-right: 15px;
}
.comment-user-picture img{
    width: 60px;
    float: left;
    height: 60px;
    padding: 2px;
    border: solid 1px #ccc;
    border-radius: 30px;
}
.comments .list-group-item-heading {
    margin-bottom: 20px;
}
.btn-default {
    color: #333;
    background-color: #F4F4F4;
}
.btn.play{
    width: 100%;
}
.btn-primary {
    color: #fff;
    background-color: #6F6F6F;
    border-color: #6F6F6F;
}
.btn-primary:hover, .btn-default:hover {
    color: white;
    background-color: #6dc8b7;
    border-color: #6F6F6F;
}
.progress {
    background-color: #3F3F3F;
}
.panel-heading .col-md-4{
    padding-left: 15px;
    padding-right: 15px;
}
.panel-heading .col-md-8{
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 736px) {

    .panel-heading .col-md-4 {
        padding-left: 15px;
        padding-right: 0px;
    }

}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.score{
    font-size: 2em;
}
@media (min-width: 330px) {
    .score {
        font-size: 3.9em;
    }
}
.game-picture{
    background-color: #4F4F4F;
}
.stars{
    color: #3F3F3F;
    font-size: 17px;
}
@media (min-width: 330px) {
    .stars {
        font-size: 1.7em;
    }
}
.stars .active{
    color: silver;
}
.navbar-default {
    background-color: #2F2F2F;
    border-color: transparent;
    box-shadow: 0px 0px 1px 1px #0F0F0F;
}
.navbar-default .navbar-nav>li>a {
    color: #E0E0E0;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #6dc8b7;
}
.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #6dc8b7;
}
.main-content {
    margin-top: 50px;
    padding-bottom: 0px;
    background-color: #EFEFEF;
}
.form-control{
    height: 26px;
    border: 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #3F3F3F;
    padding: 0 24px 0 8px;
    font-weight: normal;
    font-size: 12px;
    color: #f7f8fa;

}
.navbar-form .btn{
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: 26px;
    padding:  5px 10px 5px 10px;
    border: none;
    background-color: #3F3F3F;
    font-size: 11px;
    cursor: pointer;
    color:#CFCFCF
}
.navbar-form.navbar-left{
    margin-top: 13px;
}
.navbar-default .navbar-toggle {
    border-color: #3F3F3F;
}

.profile_bar{
    background-color: #272727;
    padding:  15px;
    box-shadow: 0px 0px 1px 1px #0F0F0F;
    color: #AFAFAF;
    position: relative;
    z-index: 2;
}
.profile_bar.switcher{
    background-color: #3F3F3F;
    position: relative;
    margin-bottom: 25px;
    z-index: 1;
    box-shadow: 0px 0px 1px 2px #CFCFCF;
    font-weight: bold;
    font-size: 10px;
}
.profile_bar.switcher.home{
    font-size: 8px;
}
@media (min-width: 330px) {
    .profile_bar.switcher, .profile_bar.switcher.home {
        font-size: 10px;
    }
}
@media (min-width: 420px) {
    .profile_bar.switcher, .profile_bar.switcher.home {
        font-size: 13px;
    }
}
.profile_bar.events{
    margin-bottom: 20px;
}
.glyphicon.glyphicon-home{
    color: #EFEFEF;
    position: absolute;
    top: 22px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    display: none;
}
@media (min-width: 330px) {
    .glyphicon.glyphicon-home {
        top: 24px;
    }
}
@media (min-width: 420px) {
    .glyphicon.glyphicon-home {
        top: 26px;
    }
}
.glyphicon.glyphicon-home.active{
    display: inline-block;
}
.small_bar:hover .glyphicon.glyphicon-home{
    display: inline-block;
}
.main_picture{
    margin-bottom: 0px;
    position: relative;
    margin-top: 0px;
    box-shadow: 0px 0px 2px 1px #0F0F0F;
    z-index: 3;
}
.game-picture {
    margin-top: 11px;
}
.panel-body.scores{

}
.row.description .line{
    border-top: 1px solid #2F2F2F;
    margin-bottom: 15px;
    margin-top: 15px;
}
.row.description .col-md-11, .row.description col-sm-11, .row.description .col-xs-11{
    padding: 0px 15px 15px 15px;
    margin-top: 0px;
}
@media (min-width: 736px) {

    .row.description .col-md-11, .row.description col-sm-11, .row.description .col-xs-11{
        padding: 0 15px;
        padding-top: 0px;
        margin-top: 0px;
        padding-right: 0px;
    }

}
.average {
    background-color: #6dc8b7;
}
.glyphicon-comment{
    color: #8F8F8F;
    font-size: 16px;
    position: relative;
    top: 4px;
    left: 6px;
}
.panel.comments .panel-heading, .game-meta .panel-heading{
    background-color: #F4F4F4;
}
.small_bar{
    display: inline-block;
    cursor: pointer;
    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
    position: relative;
}
.img-responsive{
    width: 100%;
}
footer{
    background-color: #2F2F2F;
    border-color: transparent;
    box-shadow: 0px 0px 1px 1px #0F0F0F;
    padding-top: 10px;
    color: #999;
    margin-top: 0px;
    position: relative;
    z-index: 2;
}
.links a{
    margin-right: 10px;
}
.signature {
    margin: 10px 0 14px;
    font-size: 0.85em;
}
.footer-line{
    background-color: #2F2F2F;
    height: 6px;
    position: relative;
    bottom: -3px;
}
footer .container a{
    color: silver;
}
footer .container a:hover{
    color: #AFAFAF;
}
footer .container .footer-socials a{
    color: grey;
    font-size: 16px;
}
footer .container .footer-socials a:hover{
    color: #6dc8b7;
}
.highchart-panel{
    position: relative;
    bottom: -40px;
    z-index: 0;
}


/*Testimonials
------------------------------------*/
/*Testimonials*/
.testimonials {
    margin-bottom: 10px;
    margin-top: 10px;
}
.heading-testimonials{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.testimonials .comment-date{
    font-size: 10px;
    margin: 0;
}
.testimonials .testimonial-info {
    color: #16b093;
    padding: 0 15px;
    margin-top: 18px;
}

.testimonials .testimonial-info span {
    top: 3px;
    position: relative;
}

.testimonials .testimonial-info em {
    color: #777;
    font-size: 12px;
    display: inline-block;
    font-style: normal;
}

.testimonials .testimonial-info img {
    width: 60px;
    float: left;
    height: 60px;
    padding: 2px;
    margin-right: 15px;
    border: solid 1px #ccc;
}

.testimonials .testimonial-author {
    overflow: hidden;
}

.testimonials .carousel-arrow {
    top: -65px;
    position: relative;
}

.testimonials .carousel-arrow i {
    color: #777;
    padding: 2px;
    min-width: 25px;
    font-size: 20px;
    text-align: center;
    background: #f5f5f5;
}

.testimonials .carousel-arrow i:hover {
    color: #fff;
    background: #72c02c;
}

.testimonials .carousel-control {
    opacity: 1;
    width: 100%;
    text-align: right;
    text-shadow: none;
    position: absolute;
    filter: Alpha(opacity = 100); /*For IE*/
}

.testimonials .carousel-control.left {
    right: 27px;
    left: auto;
}
.testimonials .carousel-control.right {
    right: 0px;
}

/*Testimonials v1*/
.testimonials.testimonials-v1 .item p {
    position: relative;
}

.testimonials.testimonials-v1 .item p:after,
.testimonials.testimonials-v1 .item p:before {
    left: 80px;
    bottom: -20px;
}

.testimonials.testimonials-v1 .item p:after {
    border-top: 22px solid;
    border-left: 0 solid transparent;
    border-right: 22px solid transparent;
}

/*Testimonials v2*/
.testimonials.testimonials-v2 .testimonial-info {
    padding: 0 20px;
}

.testimonials.testimonials-v2 p {
    padding-bottom: 15px;
}

.testimonials.testimonials-v2 .carousel-arrow {
    top: -55px;
}

.testimonials.testimonials-v2 .item p:after,
.testimonials.testimonials-v2 .item p:before {
    left: 8%;
    bottom: 45px;
}

.testimonials.testimonials-v2 .item p:after {
    border-top: 20px solid;
    border-left: 25px solid transparent;
    border-right: 0px solid transparent;
}

/*General Testimonials v1/v2*/
.testimonials.testimonials-v1 p,
.testimonials.testimonials-v2 p {
    padding: 15px;
    font-size: 12px;
    font-style: normal;
    background: #f5f5f5;
    color: #5F5F5F;

}

.testimonials.testimonials-v1 .item p:after,
.testimonials.testimonials-v2 .item p:after {
    width: 0;
    height: 0;
    content: " ";
    display: block;
    position: absolute;
    border-top-color: #f5f5f5;
    border-left-style: inset; /*FF fixes*/
    border-right-style: inset; /*FF fixes*/
}

/*Testimonials Backgrounds*/
.testimonials-bg-dark .item p,
.testimonials-bg-default .item p {
    color: #fff;
}

.testimonials-bg-dark .carousel-arrow i,
.testimonials-bg-default .carousel-arrow i {
    color: #fff;
}

/*Testimonials Default*/
.testimonials-bg-default .item p {
    background: #72c02c;
}

.testimonials.testimonials-bg-default .item p:after,
.testimonials.testimonials-bg-default .item p:after {
    border-top-color: #72c02c;
}

.testimonials-bg-default .carousel-arrow i {
    background: #72c02c;
}

.testimonials.testimonials-bg-default .carousel-arrow i:hover {
    background: #5fb611;
}

/*Testimonials Dark*/
.testimonials-bg-dark .item p {
    background: #555;
}

.testimonials.testimonials-bg-dark .item p:after,
.testimonials.testimonials-bg-dark .item p:after {
    border-top-color: #555;
}

.testimonials-bg-dark .carousel-arrow i {
    color: #fff;
    background: #555;
}

.testimonials.testimonials-bg-dark .carousel-arrow i:hover {
    background: #333;
}

.testimonials.testimonials-bg-dark .testimonial-info {
    color: #555;
}
/*Rounded and Circle Classes
------------------------------------*/
.no-rounded { border-radius: 0 !important;}
.rounded { border-radius: 4px !important;}
.rounded-x { border-radius: 50% !important;}
.rounded-2x { border-radius: 10px !important;}
.rounded-3x { border-radius: 15px !important;}
.rounded-4x { border-radius: 20px !important;}
.rounded-sm { border-radius: 2px !important;}
.rounded-md { border-radius: 3px !important;}
.rounded-top { border-radius: 4px 4px 0 0 !important;}
.rounded-left { border-radius: 4px 0 0 4px !important;}
.rounded-right { border-radius: 0 4px 4px 0 !important;}
.rounded-bottom { border-radius: 0 0 4px 4px !important;}

.testimonials a{
    position: relative;
}
.testimonials .game-square {
    position: relative;
    left: 0px;
    margin-left: 2px;
}
.profile_bar .testimonials .testimonial-info img {
    border: solid 1px #5F5F5F;
}
.profile_bar .testimonials a {
    color: silver;
}
.profile_bar .testimonials a:hover{
    color: #6dc8b7;
}
.profile_bar .testimonials .testimonial-info em {
    display: block;
}
.events .testimonials a{
    color: #6dc8b7;
}
.events .testimonials a:hover{
    color: silver;
}
.events .testimonials .comment-date{
}
.events .testimonials .testimonial-info{
    margin-top: 19px;
}
.profile_bar.recent-games{
    padding-bottom: 20px;
}
.recent-games .alert {
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 10px;
    color: #F0F0F0;
    font-weight: bold;
    width: 40px;
    display: inline-block;
    margin-bottom: 0px;
    float: left;
}
.events .row.recent-games div.item{
    padding-bottom: 20px;
}
.recent-game{
    display: inline-block;
    margin-left: 8px;
    font-size: 12px;
    font-weight: bold;
    padding-top: 2px;
}
.events .recent-game{
    font-size: 11px;
    margin-left: 0px;
}
.events .comment-date{
    margin-left: -5px;
    margin-right: 10px;
    margin-top: 3px;
}
@media (min-width: 420px) {
    .recent-game {
        font-size: 13px;
        padding-top: 1px;
    }
}
.testimonial-info .col-xs-7{
    padding-left: 5px;
}
.testimonial-info .col-xs-7 .hint{
    overflow: visible;
}
div.recent-game-players{
    display: inline-block;
    padding-left: 5px;
}

#owl{
    position: relative;
    z-index: 1;
}
#owl .item{
    margin: 15px;
    border-bottom: 2px solid #2F2F2F;
}
#owl .item:hover{
    border-bottom: 2px solid #6dc8b7;
}
#owl .item img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
}
.owl-pagination{
    display: none;
}
.owl-wrapper-outer{
    margin-top: 10px;
}
#owl .larp-name{
    text-align: center;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 11px;
}
.profile_bar.owl{
    box-shadow: 0px 0px 1px 2px #CFCFCF;
}
.profile_bar.owl a{
    color: #8F8F8F;
}
.row.comments{
}
.add-game-btn{
    position: absolute;
    padding: 12px;
    border-radius: 4px;
    font-size: 10px;
    color: #F0F0F0;
    font-weight: bold;
    background-color:  #CC333F;
    top: 7px;
    right: 7px;
}
@media (min-width: 400px) {
    .add-game-btn {
        top: 15px;
        right: 15px;
    }
}
.add-game-btn:hover{
    background-color:  #BD2430;
}
.view-more-btn{

    padding: 6px;
    border-radius: 4px;
    font-size: 10px;
    color: #9F9F9F;
    font-weight: bold;
    background-color:  #E7E7E7;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 6px;
}
.view-more-btn:hover{
    background-color:  #E0E0E0;
}
.fancy {
    line-height: 0.2;
    text-align: center;
}
.fancy span {
    display: inline-block;
    position: relative;
}
.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-top: 2px dotted #4F4F4F;
    top: 0;
    width: 400px;
}
.fancy span:before {
    right: 100%;
    margin-right: 35px;
}
.fancy span:after {
    left: 100%;
    margin-left: 35px;
}
.fancy i{
    margin: 0 10px 0 10px;
}
.row.recent-games div.item{
    background-color: #2F2F2F;
    padding-bottom:  16px;
    padding-top:  1px;
    border-radius: 4px;
}
#owl, #owl-2{
    cursor: pointer;
}
#owl-header .owl-controls {
    margin-top: 0px;
}
#owl-header .owl-wrapper{
    background-color: #E0E0E0;
}
.recent-game-pad{
    padding-right: 8px;
}
@media (min-width: 800px) {
    .recent-game-pad {
        padding-right: 15px;
    }
}
.recent-event-pad{
    padding-left: 8px;
}
@media (min-width: 800px) {
    .recent-event-pad {
        padding-right: 15px;
    }
}