@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,latin-ext,cyrillic-ext,cyrillic);
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400);

body{
    font-family: Open Sans;
    font-size: 13px;
}
a{
}
a:hover{
    text-decoration: none;
}

nav .navbar-form {
    width: 225px;
    padding-right: 25px;
}

nav .navbar-brand{
    font-family: Lobster;
    font-size: 2em;
    color: #00A0B0;
}
@media (min-width: 768px) and (max-width: 991px) {

    .nav li a {
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media (min-width: 1200px) {

    nav .navbar-form {
        width: 280px;
    }

}

.main-content {
    margin-top: 90px;
}

footer .text-right a {
    margin-left: 10px;
}

footer {
    margin-top:40px;
}

.panel-heading h1 {
    margin-top: 10px;
    color: #00A0B0;
}
.panel-heading h2{

}
.score {
    font-size: 4em;
    text-align: center;
}

.scores .pull-left {
    width: 20px;
    text-align: right;
    margin-right: 5px;
}

.scores .progress {
    margin-bottom: 10px !important;
}

.scores .btn {
    margin-bottom: 3px;
}
.scores .alert-info{
    font-family: 'Roboto', Helvetica;
    color: white;
    font-weight: normal;
}
img.user-picture {
  width: 100%;
  float: left;
  padding: 2px;
  border: solid 1px #4F4F4F;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 4px;
}
.logged-user-img{
  padding: 1px; 
  border: solid 1px #4F4F4F;  
  margin-right: 2px;
  border-radius: 2px;  
}
.comments{
    font-size: 0.9em;
}
.comment-user-picture {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    top: 26px;
    margin-right: 5px;
}

.comment-user-picture img {
    border-radius: 25px;
}
.comment-user-nickname, .comment-user-name{
    font-size: 13px;
    font-weight: bold;
    padding: 0 5px;
    color: white;
    background-color: #00A0B0;
    line-height: 15px;
    border-radius: 2px;
}
.comment-user-name{
    font-size: 10px;
    color: #666;
    padding: 2px 5px 2px 5px;
    background-color: white;
    line-height: 15px;
    text-align: left;
    position: relative;
    top: -1px;
    left: -2px;
    border-radius: 2px;
}
.comments .list-group-item{
    background-color: #FDFDFD;
}
.comments .list-group-item-heading {
    margin: -20px 0 16px;
}

.comment-date {
    display: block;
    font-size: 0.6em;
    color: #999;
    font-weight: normal;
    margin: 6px 0 0 60px;
}

.game-meta ul {
    padding-left: 15px;
    margin-bottom: 0;
}

.game-picture {
    margin-top: 16px;
}
footer a {
    white-space: nowrap;
}

@media (max-width: 991px) {

    footer .links {
        text-align: left;
    }

    footer .links a {
        margin: 0 10px 0 0;
    }

}

.signature {
    margin: 10px 0 20px;
    font-size:0.85em;
}
.col-md-4{

}
.stars{
    font-size: 1.7em;
}
.stars:hover{
    cursor: pointer;
}
.stars{
    color: #D0D0D0;
}
.stars.active{
    color: #393939;
}
.stars span:nth-of-type(10):hover,
.stars span:nth-of-type(9):hover,
.stars span:nth-of-type(8):hover,
.stars span:nth-of-type(10) .active:hover,
.stars span:nth-of-type(9) .active:hover,
.stars span:nth-of-type(8) .active:hover
{
    color: #CC333F;
}
.stars span:nth-of-type(7):hover,
.stars span:nth-of-type(6):hover,
.stars span:nth-of-type(5):hover,
.stars span:nth-of-type(7) .active:hover,
.stars span:nth-of-type(6) .active:hover,
.stars span:nth-of-type(5) .active:hover
{
    color: #6dc8b7;
}
.stars span:nth-of-type(4):hover,
.stars span:nth-of-type(3):hover,
.stars span:nth-of-type(2):hover,
.stars span:nth-of-type(1):hover,
.stars span:nth-of-type(4) .active:hover,
.stars span:nth-of-type(3) .active:hover,
.stars span:nth-of-type(2) .active:hover,
.stars span:nth-of-type(1) .active:hover
{
    color: #757575;
}
.rating-message{
    font-size: 0.8em;
    font-weight: bold;
}
.histogram .fa-star{
    font-size: 0.8em;
}
p.tags .btn{
    margin-top: 4px;
}
ul li{
    list-style: circle;
    color: #CCC;
}
ul.rating li{
    list-style: none;
    position: relative;
    padding-left: 3px;
}
.game-square {
    width: 11px;
    height: 11px;
    margin-right: 4px;
    vertical-align: -5%;
    display: inline-block;
    border-radius: 2px;
    position: absolute;
    left: -15px;
    margin-top: 4px;
}
.mediocre {
    background-color: #757575;
}

.great {
    background-color: #CC333F;
}

.average {
    background-color: #00A0B0;
}

.notrated {
    background-color: #CCC;
}
.dropdown-menu > li{
    list-style: none;
}
.btn.btn-default.dropdown-toggle.lang{
    margin-top: 16px;
    padding: 0px 6px;
}
@media (max-width: 760px) {

.btn.btn-default.dropdown-toggle.lang{
    margin-left: 12px;
    }
}
.navbar-collapse {
  max-height: 385px;
}
.delete{
    display: none;
}
