<wicket:extend xmlns:wicket="http://wicket.apache.org">
<div id="levaCastOdatabazi">
    <div class="nadpisStranky">
        <wicket:link>
            <i class="fa fa-question"></i>
        </wicket:link>
        <wicket:message key="aboutDatabase">O databázi</wicket:message>
    </div>

    <p>
        <wicket:message key="aboutParagraph1">Česko-slovenská larpová databáze (ČSLD) je projekt, mající za cíl
            evidovat staré i nové počiny, které se
            objeví na larpové scéně, a poskytnout možnost jejich účastníkům hodnotit jejich průběh a celkovou
            zdařilost.
        </wicket:message>
    </p>

    <p>
        <wicket:message key="aboutParagraph2">Slovo larp je složeninou anglického sousloví "live action
            role-playing". Jedná se o aktivitu určenou všem
            věkovým generacím, blízce podobnou tu akční dobrodružné hře, tu divadlu. Avšak divadlu, které má jen
            volný
            nebo vůbec žádný scénář a jeho příběh vytvářejí sami účastníci svým jednáním. Divadlu, hranému bez
            publika,
            jen pro vlastní potěchu. Více o fenoménu larpu se dozvíte na <a href="http://larp.cz/cs/info"
                                                                            target="_blank">http://larp.cz</a>.
        </wicket:message>
    </p>

    <p>
        <wicket:message key="aboutParagraph3">Pro účely databáze larpem míníme komorní, venkovní (outdoorový), jakož
            i městský larp a přes jen částečnou
            spřízněnost také bitvu. Larpem tedy nemusí být nutně larpová akce (jedná-li se např. o festival larpů).
            Pod
            larp se dají zařadit také některé malostrukturované hry zážitkové pedagogiky, mají-li mechanismy blízké
            larpům. ČSLD by měla shromažďovat primárně české a slovenské hry, larpy zahraniční provenience tu mají
            své
            místo pouze v případě, že byly na území Česka či Slovenska někdy uvedeny.
        </wicket:message>
    </p>

    <p>
        <wicket:message key="aboutParagraph4">Smyslem databáze je vytvořit prostor pro diskuzi a výměnu názorů nad
            jednotlivými hrami. Tím, že se
            zaregistrujete a stanete se hodnotitelem, můžete napomoci ostatním hráčům v rozhodování, zda se daného
            larpu
            či akce v budoucnu zúčastnit či ne. Poskytnete také důležitou zpětnou vazbu organizátorům, aby mohli své
            hry
            vylepšovat. Uživatelé ČSLD svými hodnoceními a komentáři tedy přispívají k snazší orientaci na současné
            larpové scéně a zároveň napomáhají zvyšovat její kvalitu. Proto zde vítáme každého nového uživatele!
        </wicket:message>
    </p>
        <div class="nadpisStranky">Časté otázky</div>
        <div id="accordion">
            <h3><wicket:message key="about.gameRating">Jak funguje hodnocení her?</wicket:message></h3>

            <div id="hodnoceniher">
                <p>
                    <wicket:message key="about.gameRatingAnswer">Hodnocení 10 je nejvyšší, hodnocení 0 pak nejnižší. Používáme stejné barevné rozlišení jako
                    ČSFD, které je generováno na základě průměrového hodnocení uživatelů. Larp, který nemá ještě
                    čtyři hodnocení, je zabarven šedě. Nad čtyři ohodnocení je barevné spektrum následující: červená
                    (nad 70 %), modrá (30-70 %), černá (1-30 %).</wicket:message>
                </p>
            </div>
            <h3><wicket:message key="about.commentsContent">Co patří do komentářů a proč je psát?</wicket:message></h3>

            <div id="komentare"><p><wicket:message key="about.commentsContentAnswer">Komentáře jsou nejlepším modelem zpětné vazby od hráčů tvůrci. Procentuální
                hodnocení není zdaleka tak výstižné a nedává autorům hry potřebný feedback. Proto jsme rádi, když
                doprovodíte své hodocení i komentářem. Komentář by měl být jakousi minirecenzí. Patří sem samozřejmě
                váš bezprostřední subjektivní dojem, ale ještě raději jsme za pokus objektivně zhodnotit, v jakých
                ohledech hra funguje či nefunguje, co je na ní zajímavého a činí ji specifickou. Naopak sem nepatří
                výkřiky do tmy ve stylu: "Tenhle larp stojí za starou bačkoru." V případě urážlivého či vulgárního
                komentáře si vyhrazujeme možnost váš komentář smazat. Komentář by taky neměl obsahovat výrazné
                spoilery, které kazí hráči překvapení z herního vývoje.</wicket:message>
            </p></div>
            <h3><wicket:message key="about.whoRates">Mohou larp hodnotit i lidé, kteří nebyli jeho hráči?</wicket:message></h3>

            <div id="komentareCP"><p><wicket:message key="about.whoRatesAnswer">Hráčem pro tyto účely míníme ryze účastníka
                akce. Larpu však za určitých okolností mohou být přítomni další lidé - organizátoři, CP (nehráčské
                vystupující postavy), přihlížející. Organizátor (případně spoluorganizátor) larpu by své hodnocení
                neměl přidávat za žádných okolností. V případě CP či přihlížejících ne-hráčů doporučujeme zdržet se
                procentuálního hodnocení, protože by mohlo zkreslovat celkové výsledky, ale vítáme jejich zasvěcené
                komentáře, které mohou být pro uživatele databáze relevantní.</wicket:message>
            </p></div>
            <h3><wicket:message key="about.playedButtonReason">K čemu slouží u larpu tlačítku "hrál jsem"?</wicket:message></h3>

            <div id="hraljsem"><p><wicket:message key="about.playedButtonReasonAnswer">Po zakliknutí se přemístí hra do vaší osobní
                "larpotéky", generované na osobním profilu. Je užitečné si je zaklikávat před hodnocením jakékoli
                hry, protože tak získáváte přehled o tom, které hry jste už hodnotili či komentovali.</wicket:message>
            </p></div>
            <h3><wicket:message key="about.addGamesOfOthers">Mohu přidávat i larpy, které jsem sám nehrál či nepořádal?</wicket:message></h3>

            <div id="pridavaniher"><p><wicket:message key="about.addGamesOfOthersAnswer">Ano, máte-li dost informací k vyplnění
                formuláře. Pokud nemáte, je užitečnější doplníte-li si napřed u tvůrce všechny potřebné údaje a
                vyzískáte-li si logo hry.</wicket:message>
            </p></div>
            <h3><wicket:message key="about.addNewAuthor">Jak přidám nového autora larpu?</wicket:message></h3>

            <div id="novyautor"><p><wicket:message key="about.addNewAuthorAnswer">Pod položkou "přidat hru". Je vhodné
                nejprve
                přidat všechny autory hry, než se pustíte do přidávání nového larpu.</wicket:message>
            </p></div>
            <h3><wicket:message key="about.addGamesWithYears">Jak je to s přidáváním larpu, které mají ročníky?</wicket:message></h3>

            <div id="vicerocniku"><p><wicket:message key="about.addGamesWithYearsAnswer">Jedná-li se o sérii larpů, které se pod
                stejným názvem opakuju v (např. ročních) intervalech, ale jejich děj je s každým ročníkem jiný,
                měl
                by mít každý ročník svoji vlastní stránku ideálně odlišenou podnázvem (např. Asterion 3: Dračí
                gambit) nebo alespoň vročením (Bitva pěti armád 2011).</wicket:message>
            </p></div>
            <h3><wicket:message key="about.featureRequests">Kde můžu vznést podněty k dalšímu rozvoji databáze?</wicket:message></h3>

            <div id="podnety"><p><wicket:message key="about.featureRequestAnswer">Ideálně na naší facebookové skupině, která
                je
                přesně tomuto účelu zasvěcena (<a href="https://www.facebook.com/groups/larpovadatabaze/"
                                                  target="_blank_">https://www.facebook.com/groups/larpovadatabaze/</a>)
                nebo na našem kontaktním emailu.
            </wicket:message></p></div>


            <h3><wicket:message key="about.isRatingObjective">Je hodnocení her objektivní?</wicket:message></h3>

            <div id="prvni"><p><wicket:message key="about.isRatingObjectiveAnswer">Není. A z principu ani nemůže být. Larp
                netvoří
                organizátor, ale z (různě velké části) hráči. Ti vytváři tu méně, tu více zajímavých herních
                situací
                a jsou to hlavně oni, kteří tvoří larp. I více běhů stejného larpu může být hodně rozdílných.
                Známe
                to na vlastní kůži. Cílem hodnocení není vytořit absolutně objektivní srovnání, ale poskytnout
                přibližnou orientaci hráčům, tvůrcům či organizátorům festivalů v nepřehledném larpovém poli.</wicket:message>
            </p></div>
            <h3><wicket:message key="about.correctLabelsUsage">Jak správně používat štítky?</wicket:message></h3>

            <div id="druhy"><p><wicket:message key="about.correctLabelsUsageAnswer">Štítky mají pomoci v rozlišení jednotlivých druhů larpu. Každý larp
                musí
                mít alespoň jeden štítek označující druh larpu. Existuje spousta larpů, které spadají do více
                kategorií a na první pohled můžou být štítky protichůdné. Štítky mají definovat ty vlastnosti,
                které
                jsou jim společné, proto larp odehrávající se v jedné místnosti, avšak s dobře připravenými
                postavami a řízeným dějem dostane štítky dva - komorní a dramatický. Maximální počet štítků je
                deset, ale užívejte je prosím s rozumem.</wicket:message>
            </p></div>
            <h3><wicket:message key="about.moderatorsRole">K čemu slouží moderátoři?</wicket:message></h3>

            <div id="treti"><p><wicket:message key="about.moderatorsRoleAnswer">Moderátoři dohlíží na chod databáze. Po pečlivém posouzení schvalují
                přidávání uživateli navržených
                (nových) štítků a kontrolují, že štítky ke hrám jsou přiřazeny správně; připadné chyby opraví.
                Pokud
                rozporný štítek přiřadil samotný tvůrce larpu, vždy se ptají tvůrce, proč přiřadil právě tento
                štítek.
                Nikdy nemažou štítky přiřazené autorem bez předchozí diskuse.</wicket:message>
            </p></div>
            <h3><wicket:message key="about.ratingsSecrecy">Proč je hodnocení uživatelů skryté?</wicket:message></h3>

            <div id="ctvrty"><p><wicket:message key="about.ratingsSecrecyAnswer">Zatímco na filmové databázi neexistuje osobní vztah mezi autorem
                filmu a
                divákem, u larpu tomu tak není. Hráči velmi často nadhodnocují larpy, protože si tvůrce váží,
                ačkoliv
                hra nebyla objektivně tak dobrá. Skrytím hodnocení uživatelů chceme dosáhnout reálného hodnocení
                namísto
                hodnocení ze zdvořilosti.</wicket:message>
            </p></div>
            <h3><wicket:message key="about.gameShownSinceRatings">Od kolika hodnocení se hra zařadí do žebříčku?</wicket:message></h3>

            <div id="paty"><p><wicket:message key="about.gameShownSinceRatingsAnswer">Od čtyřech.</wicket:message></p></div>
            <h3><wicket:message key="about.ratingCount">Jak se vypočítává žebříček?</wicket:message></h3>

            <div id="sesty"><p><wicket:message key="about.ratingCountAnswer">Pro výpočet žebříčku používáme váhované hodnocení. Algoritmus jsme
                převzali z
                IMDb, jeho přesný vzorec najdete na <a
                        href="http://en.wikipedia.org/wiki/Internet_Movie_Database#Ranking_.28IMDb_Top_250.29"
                        target="_blank">wikipedii</a>. Proměnnou m jsme prozatím stanovili na hodnotu 10.</wicket:message>
            </p></div>
            <h3><wicket:message key="about.technicalSolution">Jaké je technické řešení databáze?</wicket:message></h3>

            <div id="sedmy"><p><wicket:message key="about.technicalSolutionAnswer">Databáze běží na databázovém systému postgreSQL, programována je v
                jazyce
                java. Webdesign je řešený pomoci xhtml, css, javascriptu a knihovny jquery včetně jejích
                pluginů. Pokud
                Vám tyto pojmy nejsou cizí a chtěli byste nám pomoci s vylepšením databáze, napiště nám prosím
                na
                kontaktní e-mail.</wicket:message>
            </p></div>
            <h3><wicket:message key="about.financingDatabase">Jak je databáze financována?</wicket:message></h3>

            <div id="osmy"><p><wicket:message key="about.financingDatabaseAnswer">Hosting pro databázi běží na virtuálním serveru, který má v pronájmu
                hlavní
                administrátor Balda a pro účely databáze ho poskytuje zcela zdarma. Na něm je pak pro databázi
                vyhrazeno
                10GB diskového prostoru. Pokud bude nutnost hosting rozšířit či změnit, do budoucna zvažujeme
                různé
                modely financování, včetně dobrovolných příspěvků.</wicket:message>
            </p></div>
            <h3><wicket:message key="about.meaningfulProject">Larpová databáze mi připadá jako smysluplný projekt. Jak Vás můžu odměnit?</wicket:message></h3>

            <div id="devaty"><p><wicket:message key="about.meaningfulProjectAnswer">Larpová databáze v současnosti není výdělečným projektem a
                negeneruje žádný
                zisk. Pokud nás chcete nějak odměnit, pozvěte nás na některé akci na pivo ;-).</wicket:message>
            </p></div>

        </div>
</div>

<div id="pravaCastOdatabazi" wicket:id="rightPartAboutDb">
    <!--
    This panel is found in package: cz.larpovadatabaze.components.panel.about.AboutDbPanel.html
    https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/about/AboutDbPanel.html
    -->
</div>
</wicket:extend>