<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<div class="row listGames" wicket:id="listEvents">
		<div class="col-md-5 col-sm-5 col-xs-12" wicket:id="nameAndLabels">
		</div>

		<div class="col-md-3 col-sm-3 col-xs-4">
			<div class="t-data info detail">
				<span wicket:id="date"></span>
			</div>
		</div>

		<div class="col-md-1 col-sm-1 col-xs-4">
			<div class="t-data info detail">
				<span wicket:id="loc"></span>
			</div>
		</div>

		<div class="col-md-3 col-sm-3 col-xs-4">
			<div class="t-data info detail">
				<span wicket:id="web"></span>
			</div>
		</div>
	</div>

	<div class="navigator">
		<span wicket:id="navigator">[dataview navigator]</span>
	</div>
</wicket:panel>