<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<div class="row listGames" wicket:id="listEvents">

		<div class="col-md-2 col-sm-2 col-xs-12">
			<span wicket:id="name"></span>
		</div>

		<div class="col-md-7 col-sm-7 col-xs-12">
			<span wicket:id="description"></span>
		</div>

		<div class="col-md-1 col-sm-1 col-xs-4">
			<span wicket:id="loc"></span>
		</div>

		<div class="col-md-1 col-sm-1 col-xs-4">
			<span wicket:id="date"></span>
		</div>

	</div>

	<div class="navigator">
		<span wicket:id="navigator">[dataview navigator]</span>
	</div>
</wicket:panel>