<wicket:head xmlns:wicket="http://wicket.apache.org">
	<wicket:link>
		<link rel="stylesheet" type="text/css" href="CreateEventPanel.css"/>
	</wicket:link>
</wicket:head>

<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<div wicket:id="createGame"></div>

	<form action="" id="sky-form4" class="sky-form gamepanel" novalidate="novalidate" wicket:id="addEvent">
		<div class="row">

			<div class="col-md-9">
				<header><i class="fa fa-plus"></i>
					<wicket:message key="game.add">Přidat hru</wicket:message>
				</header>

				<fieldset>
					<wicket:message key="form.game.section.required"/>
				</fieldset>

				<fieldset>
					<label class="input">
						<i class="icon-append fa fa-folder-open"></i>
						<input type="text" name="name" wicket:id="name" wicket:message="placeholder:form.name">
						<b class="tooltip tooltip-bottom-right" wicket:id="nameFeedback"></b>
					</label>

					<label class="input">
						<i class="icon-append fa fa-calendar"></i>
						<input type="text" name="from" wicket:id="from" wicket:message="placeholder:form.dateFrom">
						<b class="tooltip tooltip-bottom-right" wicket:id="fromFeedback"></b>
					</label>

					<label class="input">
						<i class="icon-append fa fa-calendar"></i>
						<input type="text" name="to" wicket:id="to" wicket:message="placeholder:form.dateTo">
						<b class="tooltip tooltip-bottom-right" wicket:id="toFeedback"></b>
					</label>

					<label class="input">
						<i class="icon-append fa fa-users"></i>
						<input type="text" name="amountOfPlayers" wicket:id="amountOfPlayers" wicket:message="placeholder:form.amountOfPlayers">
						<b class="tooltip tooltip-bottom-right" wicket:id="amountOfPlayersFeedback"></b>
					</label>

					<label class="input">
						<i class="icon-append fa fa-external-link-square"></i>
						<input type="text" wicket:id="web" wicket:message="placeholder:form.game.web">
						<b class="tooltip tooltip-bottom-right" wicket:id="webFeedback"></b>
					</label>

					<label class="input">
						<i class="icon-append fa fa-location-arrow"></i>
						<input type="text" name="location" wicket:id="loc" wicket:message="placeholder:form.event.location">
						<b class="tooltip tooltip-bottom-right" wicket:id="locFeedback"></b>
					</label>

					<label class="textarea" wicket:id="descriptionWrapper">
						<textarea class="textarea"
								  wicket:id="description"
								  style="width:100%;"
								  rows=8
						></textarea>
							<b wicket:id="descriptionFeedback"></b>
					</label>
				</fieldset>

				<fieldset>
					<label class="input" wicket:id="gamesWrapper">
						<i class="icon-append fa fa-circle-plus icon-link" wicket:id="createGameBtn"></i>


						<input type="text" wicket:id="games" wicket:message="placeholder:form.event.games">
						<b class="tooltip tooltip-bottom-right" wicket:id="gamesFeedback"></b>
					</label>
				</fieldset>

				<div class="map" wicket:id="map">Map</div>

				<fieldset>
					<section>
						<br>
						<input type="button" wicket:id="submit" class="btn-u" wicket:message="value:form.save"
							   id="submitButton"/>
					</section>
				</fieldset>

			</div>

			<div class="col-md-3">
				<wicket:message key="form.game.labels"></wicket:message>
				<div wicket:id="labelsFeedbackWrapper" class="errorWrapper">
					<wicket:container wicket:id="labelsFeedback" />
				</div>

				<div wicket:id="labels"></div>
			</div>

		</div>
	</form>
</wicket:panel>