<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<div>
		<wicket:message key="event.name"></wicket:message>
		<span wicket:id="name"></span>
	</div>

	<div>
		<wicket:message key="event.description"></wicket:message>
		<span wicket:id="description"></span>
	</div>

	<div>
		<wicket:message key="event.location"></wicket:message>
		<span wicket:id="loc"></span>
	</div>

	<div>
		<wicket:message key="event.date"></wicket:message>
		<span wicket:id="from"></span>
	</div>

	<div>
		<wicket:message key="event.date"></wicket:message>
		<span wicket:id="to"></span>
	</div>

	<div>
		<wicket:message key="event.amountOfPlayers"></wicket:message>
		<span wicket:id="amountOfPlayers"></span>
	</div>
</wicket:panel>