<wicket:head xmlns:wicket="http://wicket.apache.org">
    <wicket:link>
        <link rel="stylesheet" type="text/css" href="Donors.css"/>
        <script type="application/javascript" src="Donors.js">;</script>
    </wicket:link>
</wicket:head>

<wicket:panel xmlns:wicket="http://wicket.apache.org">

        <h2>Seznam dárců</h2>

        <table>
            <caption>Přispěvovatelé</caption>
            <thead>
            <tr class="headerRow">
                <th scope="col" class="headerRowTd">Jméno přispěvatele</th>
                <th scope="col">Částka</th>
            </tr>
            </thead>
            <tbody wicket:id="donors">
            <tr>
                <td class="donorTd" wicket:id="name"></td>
                <td wicket:id="amount"></td>
            </tr>
            </tbody>
        </table>
</wicket:panel>