<wicket:panel xmlns:wicket>
    <div class="main_picture">
        <div wicket:id="carousel" id="owl-header" class="owl-carousel">

            <wicket:container wicket:id="games">
                <a href="#" wicket:id="link">
                    <div class="item">
                        <img wicket:id="image" class="media-object img-responsive" alt="" />
                    </div>
                </a>
            </wicket:container>

        </div>

        <!-- <a href="#" wicket:id="addNewsLink"><div class="add-game-btn add-new-button">+ <wicket:message key="news.add">Vytvořit novinku</wicket:message></div></a> -->
        <a href="#" wicket:id="addGameLink"><div class="add-game-btn">+ <wicket:message key="game.add">Přidat hru</wicket:message></div></a>
    </div>

</wicket:panel>