<wicket:panel xmlns:wicket>
    <div class="owl-wrapper-outer events">
        <div class="col-lg-6 col-md-12 recent-event-pad">

            <div class="row">
                <div class="col-md-12 jsUpcomingEvents">
                    <div class="heading-testimonials">
                        <span class="fancy"><wicket:message key="game.calendar">Kalendář akcí</wicket:message></span>
                    </div>

                    <!-- Template for item -->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 jsUpcomingEventTemplate" style="display: hidden">
                        <div id="testimonials-2" class="testimonials testimonials-v1">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="testimonial-info">
                                        <div class="recent-game"><a href="#" target="_blank" class="jsUELinkName"></a></div>
                                        <div class="row" style="margin-top: -2px;">
                                            <div class="col-xs-12">
                                                <div class="comment-date recent-game-players jsUEDate">19. - 22. 2. 2015 </div>
                                                <div class="comment-date recent-game-players"><i class="fa fa-user"></i> <data class="jsUEPlayers"></data></div>
                                                <div class="comment-date recent-game-players"><i class="fa fa-location-arrow"></i>&nbsp;<data class="calendar-place jsUEPlace"></data></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</wicket:panel>