<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    This panel shows shortened info about last comments.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/home/LastCommentsPanel.html
    Code - cz.larpovadatabaze.components.panel.home.LastCommentsPanel.html
    -->
    <div class="container main">

        <div class="row">
            <div class="col-md-12">

                <div class="heading-testimonials">
                    <wicket:message key="game.lastComments">Poslední komentáře</wicket:message>
                </div>

                <div class="row comments">

                    <wicket:container wicket:id="visibleComments">
                        <wicket:container wicket:id="comment" />
                    </wicket:container>

                    <div class="jsHiddenComments" style="display: none">
                        <wicket:container wicket:id="hiddenComments">
                            <wicket:container wicket:id="comment" />
                        </wicket:container>
                    </div>
                </div>

                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <div class="row">
                    <a href="#" class="jsMoreComments" onclick="$('.jsMoreComments').hide(); $('.jsLessComments').show(); $('.jsHiddenComments').slideDown(); $('.jsComment').trigger('update.dot'); return false;"><div class="view-more-btn">+ <wicket:message key="comments.more">Více...</wicket:message></div></a>
                    <a href="#" class="jsLessComments" style="display: none;" onclick="$('.jsLessComments').hide(); $('.jsMoreComments').show(); $('.jsHiddenComments').slideUp(); return false;"><div class="view-more-btn">+ <wicket:message key="comments.less">Méně...</wicket:message></div></a>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>

    <wicket:fragment wicket:id="commentFragment">
        <div class="col-md-4" >
            <div id="testimonials-2" class="testimonials testimonials-v1">
                <div class="carousel-inner">
                    <div class="item active">
                        <p class="rounded jsComment" style="height: 100px;" wicket:id="commentWrapper">
                            <wicket:container wicket:id="commentsContent" />
                            <a wicket:id="moreLink"><wicket:message key="comment.more" /></a>
                        </p>
                        <div class="testimonial-info">
                            <img class="rounded-x" wicket:id="commenterIcon" alt="" />
                            <span class="testimonial-author">
                                <a href="#" wicket:id="commenterLink"><wicket:container wicket:id="commenterName" /></a>
                                <em>o larpu <a href="hell-on-wheels" wicket:id="gameLink"><div class="game-square great" wicket:id="gameRating"></div><wicket:container wicket:id="gameName" /></a></em>
                                <span class="comment-date" wicket:id="commentDate"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </wicket:fragment>
</wicket:panel>