<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    This panel shows shortened info about last comments.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/home/LastCommentsPanel.html
    Code - cz.larpovadatabaze.components.panel.home.LastCommentsPanel.html
    -->
    <div class="nadpis">
        <wicket:message key="game.lastComments">Poslední komentáře</wicket:message>
    </div>

    <wicket:container wicket:id="visibleComments">
        <wicket:container wicket:id="comment" />
    </wicket:container>

    <a href="#" class="moreLink" onclick="$(this).hide(); $('#hiddenComments').slideDown(); return false;">
        <wicket:message key="comments.more">Více...</wicket:message>
    </a>

    <div id="hiddenComments" style="display: none">
        <wicket:container wicket:id="hiddenComments">
            <wicket:container wicket:id="comment" />
        </wicket:container>

        <div>
            <a wicket:id="allComments" class="moreLink"><wicket:message key="comments.last">Poslední komentáře</wicket:message></a>
        </div>
    </div>

    <wicket:fragment wicket:id="commentFragment">
        <div class="pridanaHra">
            <div class="HraIkonka" style="float:left; height: 100%;">
                <a wicket:id="commenterIconLink">
                    <img style='width: 75px; height: 75px;' wicket:id="commenterIcon" class="obrazekPopis">
                </a><br/>

                <div class="datum" wicket:id="commentDate">08.08.2013</div>
            </div>
            <div class="obsah" style="float:left; width: 70%;">
                <span class="nadpisHra">
                    <a wicket:id="commenterLink">
                        <span wicket:id="commenterName">Lucie</span>
                    </a>
                </span> o hře &nbsp;
                <span class="ctverecek" wicket:id="gameRating"></span>
                <a wicket:id="gameLink">
                    <span wicket:id="gameName" class="nadpisHra">Cesta dlouhým dnem do noci</span>
                </a>

                <div class="popisek komentar">
                    <span wicket:id="commentsContent"></span>
                    <a wicket:id="gameMoreLink">
                        <div class="HraKomentarVice"> ..více</div>
                    </a>
                </div>
            </div>
        </div>
    </wicket:fragment>
</wicket:panel>