<wicket:panel xmlns:wicket>
    <!--
    This panel shows information about last added games
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/home/LastGamesPanel.html
    Code - cz.larpovadatabaze.components.panel.home.LastGamesPanel.html
    -->
    <div class="nadpis">
        <wicket:message key="game.lastAdded">Naposledy přidáno</wicket:message>
    </div>

    <wicket:container wicket:id="visibleGamesView">
        <wicket:container wicket:id="game" />
    </wicket:container>

    <a href="#" class="moreLink" onclick="$(this).hide(); $('#hiddenGames').slideDown(); return false;">
        <wicket:message key="game.more">Více...</wicket:message>
    </a>

    <div id="hiddenGames" style="display: none">
        <wicket:container wicket:id="hiddenGamesView">
            <wicket:container wicket:id="game" />
        </wicket:container>
        <a wicket:id="allGames" class="moreLink"><wicket:message key="games.lastAdded">Poslední přidané hry</wicket:message></a>
    </div>

    <wicket:fragment wicket:id="gameFragment">
        <div class="pridanaHra">
            <div class="HraIkonka" style="float:left; height: 100%;">
                <a wicket:id="gameIconLink">
                    <img style='width: 75px; height: 75px;' wicket:id="gameIcon" class="obrazekPopis">
                </a><br/>

            </div>
            <div class="obsah" style="float:left; width: 70%;">
                <span wicket:id="gameRating" class="ctverecek"></span>
                <a wicket:id="gameLink">
                    <span wicket:id="gameName" class="nadpisHra">Protector X.</span>
                </a>

                <div class="HraKomentarPopisek"><span wicket:id="players">1200</span> hráčů<br/>
                    <span wicket:id="gameDescription"></span>
                </div>
            </div>
            <a wicket:id="gameMoreLink">
                <div class="HraKomentarVice"> ... více</div>
            </a>
        </div>
    </wicket:fragment>

</wicket:panel>
