<wicket:panel xmlns:wicket="http://wicket.apache.org">

    <div class="nadpis">
        <wicket:message key="game.lastAdded">Naposledy přidáno</wicket:message>
    </div>

    <div wicket:id="gamesView">
        <div class="pridanaHra">
            <div class="HraIkonka" style="float:left; height: 100%;">
                <a wicket:id="gameIconLink">
                    <img style='width: 75px; height: 75px;' wicket:id="gameIcon" class="obrazekPopis">
                </a><br/>

            </div>
            <div class="obsah" style="float:left; width: 70%;">
                <span wicket:id="gameRating" class="ctverecek"></span>
                <a wicket:id="gameLink">
                    <span wicket:id="gameName" class="nadpisHra">Protector X.</span>
                </a>

                <div class="HraKomentarPopisek"><span wicket:id="players">1200</span> hráčů<br/>
                    <span wicket:id="gameDescription">

                    </span>
                    <a wicket:id="gameMoreLink">
                        <div class="HraKomentarVice"> ... více</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div>
        <a wicket:id="moreGames"><wicket:message key="game.more">Více</wicket:message></a>
    </div>
</wicket:panel>