<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!-- It shows info about randomly choosen Larp from database. -->
    <div class="nadpisSekce">
        <wicket:message key="home.randomLarp">Náhodný larp</wicket:message>
    </div>

    <table>
        <tr>
            <td>
                <a wicket:id="gameIconLink">
                    <img wicket:id="gameIcon" class="obrazekHra">
                </a>
            </td>
            <td class="obsah">
                <div wicket:id="gameRating"></div>
                <a wicket:id="gameLink">
                    <span wicket:id="gameName" class="nadpisHra">Izmaelův návrat (Awain II)</span>
                </a>

                <div class="popisek">
                    <span wicket:id="players">29</span> hráčů<br/>
                    <span wicket:id="year">2004</span><br/>
                    Hodnocení: <span wicket:id="rating">0</span>%
                </div>
            </td>
        </tr>
    </table>
</wicket:panel>