<wicket:panel xmlns:wicket>
    <!--
    This panel shows information about last added games
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/home/RecentGamesPanel.html
    Code - cz.larpovadatabaze.components.panel.home.LastGamesPanel.html
    -->

    <div class="col-lg-6 col-md-12 recent-game-pad">

        <!-- game slides -->
        <div wicket:id="carousel" class="owl-carousel">

            <div class="row">
                <div class="col-md-12">

                    <div class="heading-testimonials">
                        <span class="fancy"><i class="fa fa-chevron-circle-left"></i> <wicket:message key="game.lastAdded">Naposledy přidáno</wicket:message> <i class="fa fa-chevron-circle-right"></i></span>
                    </div>

                    <div class="row recent-games">
                        <wicket:container wicket:id="recent1" />
                        <wicket:container wicket:id="recent2" />
                    </div>
                    <div class="row recent-games">
                        <wicket:container wicket:id="recent3" />
                        <wicket:container wicket:id="recent4" />
                    </div>
                    <div class="row recent-games">
                        <wicket:container wicket:id="recent5" />
                        <wicket:container wicket:id="recent6" />
                    </div>
                </div>
            </div>

            <!-- popular slide -->

            <div class="row">
                <div class="col-md-12">

                    <div class="heading-testimonials">
                        <span class="fancy"><i class="fa fa-chevron-circle-left"></i> <wicket:message key="game.mostPopular">Nejoblíbenější</wicket:message> <i class="fa fa-chevron-circle-right"></i></span>
                    </div>

                    <div class="row recent-games">
                        <wicket:container wicket:id="popular1" />
                        <wicket:container wicket:id="popular2" />
                    </div>
                    <div class="row recent-games">
                        <wicket:container wicket:id="popular3" />
                        <wicket:container wicket:id="popular4" />
                    </div>
                    <div class="row recent-games">
                        <wicket:container wicket:id="popular5" />
                        <wicket:container wicket:id="popular6" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
      Template for the game
    -->
    <wicket:fragment wicket:id="gameBox">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div id="testimonials-2" class="testimonials testimonials-v1">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="testimonial-info">

                            <div class="alert alert-info score" wicket:id="gameRating"></div>
                            <div class="recent-game"><a href="#" wicket:id="gameLink"><wicket:container wicket:id="gameName" /></a></div>
                            <div class="row">
                                <div class="col-xs-7">
                                    <div class="comment-date recent-game-players"><i class="fa fa-user"></i> <wicket:container wicket:id="players" /></div>
                                    <div class="comment-date recent-game-players"><i class="fa fa-comment"></i> <wicket:container wicket:id="comments" /></div>
                                    <div class="comment-date recent-game-players"><i class="fa fa-star"></i> <wicket:container wicket:id="ratings" />x</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </wicket:fragment>

</wicket:panel>
