<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    It shows basic statistics about larp database.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/home/StatisticsPanel.html
    Code - cz.larpovadatabaze.components.panel.home.StatisticsPanel.html
    -->
    <div class="nadpisSekce"><wicket:message key="home.statistics">Statistiky</wicket:message></div>
    <table>
        <tr>
            <td>
                <div style="width: 60px" class="pruhStatistika" wicket:id="amountOfUsers">591
                </div>
            </td>
            <td class="obsah">
                <div class="popisek"><wicket:message key="home.users">uživatelů</wicket:message></div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="width: 18px" class="pruhStatistika" wicket:id="amountOfAuthors">295
                </div>
            </td>
            <td class="obsah">
                <div class="popisek"><wicket:message key="home.authors">autorů</wicket:message></div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="width: 81px" class="pruhStatistika" wicket:id="amountOfComments">1188
                </div>
            </td>
            <td class="obsah">
                <div class="popisek"><wicket:message key="home.comments">komentářů</wicket:message></div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="width: 35px" class="pruhStatistika" wicket:id="amountOfLarps">352
                </div>
            </td>
            <td class="obsah">
                <div class="popisek"><wicket:message key="home.larps">larpů</wicket:message></div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="width: 100px" class="pruhStatistika" wicket:id="amountOfRatings">3763
                </div>
            </td>
            <td class="obsah">
                <div class="popisek"><wicket:message key="home.ratings">hodnocení</wicket:message></div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="width: 81px" class="pruhStatistika">
                    <span wicket:id="averageRating">73</span>%
                </div>
            </td>
            <td class="obsah">
                <div class="popisek"><wicket:message key="home.averageRating">průměrné hodnocení</wicket:message></div>
            </td>
        </tr>
    </table>
</wicket:panel>