<wicket:panel xmlns:wicket="http://wicket.apache.org">
<div class="cmpFileUploadBar" wicket:id="bar">
    <div class="uploadCover">
        <div class="progressBarContainer">
            <div class="progressBar" style="width: 0">
            </div>

            <div class="upText">Nahrávám...</div>
        </div>
    </div>

    <input type="button" value="Nahrát fotografie" />
    <input type="file" name="files[]" multiple>

    Klikněte na tlačítko a vyberte fotografie, nebo je prostě přetáhněte do této oblasti
</div>
</wicket:panel>