<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    It shows link to page for creating authors. Link is combined form image and text.
    This panel is shown only for logged users.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/author/AddAuthorPanel.html
    Code - cz.larpovadatabaze.components.panel.author.AddAuthorPanel.html
    -->

            <div class="pridatPopis">
                <a wicket:id="createAuthorIcon"><i class="fa fa-plus"></i></a>
                <a wicket:id="createAuthor">
                    <wicket:message key="addAuthor">Přidat autora</wicket:message>
                </a>
            </div>

</wicket:panel>