<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    It shows link to page for creating authors. Link is combined form image and text.
    This panel is shown only for logged users.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/author/AddAuthorPanel.html
    Code - cz.larpovadatabaze.components.panel.author.AddAuthorPanel.html
    -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    <a class="hide" wicket:id="createAuthorIcon"></a>
                                    <a class="btn btn-default" wicket:id="createAuthor">
                                        <span><i class="fa fa-user-plus"></i> <wicket:message key="addAuthor">Přidat autora</wicket:message></span>
                                    </a>
                                </h2>
                            </div>
                        </div> 

</wicket:panel>