<wicket:panel xmlns:wicket="http://wicket.apache.org">
<div class="praveMenu">
    <div class="nadpisMenu">Autorův panel</div>
</div>


<div class="sekce">
    <div class="nadpisSekce">Larpy autora</div>
    <div class="obsah">

        <div class="obsahPolozka">
            <img wicket:id="ctverecHra" class="ctverecek" >
            <a wicket:id="gameLink">
                <span wicket:id="gameName">Erinor XI. - Bílé noci</span>
                (<span wicket:id="gameYear">2010</span>)
            </a>
        </div>
    </div>
</div>
</wicket:panel>