<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    It combines panel allowing to create new author with panel showing author, who created most
    games.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/author/AuthorsPanel.html
    Code - cz.larpovadatabaze.components.panel.author.AuthorsPanel.html
    -->
    <div class="praveMenu">
        <div class="nadpisMenu"><wicket:message key="authorsCapitalized">Autoři</wicket:message></div>
    </div>
    <div class="sekce" wicket:id="addAuthor">
        <!--
        This panel is found in package: cz.larpovadatabaze.components.panel.author.AddAuthorPanel.html
        https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/author/AddAuthorPanel.html
        -->
    </div>
    <div class="sekce" wicket:id="mostActiveCreators">
        <!--
        This panel is found in package: cz.larpovadatabaze.components.panel.author.MostActiveCreators.html
        https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/author/MostActiveCreators.html
        -->
    </div>
</wicket:panel>