<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    Panel used for registering new author or adding new Author into the database.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/author/CreateOrUpdateAuthorPanel.html
    Code - cz.larpovadatabaze.components.panel.author.CreateOrUpdateAuthorPanel.html
    -->
    <form class="sky-form gamepanel" novalidate="novalidate" wicket:id="addUser">
        <fieldset>
            <section>
                <label class="input">
                    <i class="icon-append fa fa-envelope"></i>
                    <input type="email" wicket:id="person.email" wicket:message="placeholder:form.email" />
                    <b class="tooltip tooltip-bottom-right" wicket:id="emailFeedback"></b>
                </label>
            </section>

            <section>
                <label class="input">
                    <input type="text" wicket:id="person.name" wicket:message="placeholder:form.wholeName" />
                    <b class="tooltip tooltip-bottom-right" wicket:id="nameFeedback"></b>
                </label>
            </section>

            <section>
                <label class="input">
                    <input type="text" wicket:id="person.nickname" wicket:message="placeholder:form.nickname" />
                    <b class="tooltip tooltip-bottom-right" wicket:id="nicknameFeedback"></b>
                </label>
            </section>

            <section>
                <label class="textarea">
                    <textarea class="textarea" wicket:id="person.description" wicket:message="placeholder:form.description"></textarea>
                </label>
            </section>

            <section>
                <input type="button" class="btn-u" wicket:message="value:form.save" wicket:id="submit"/>
            </section>

        </fieldset>
    </form>
</wicket:panel>