<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    It contains information about the author, who created most games.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/author/MostActiveCreators.html
    Code - cz.larpovadatabaze.components.panel.author.MostActiveCreators.html
    -->
    <div class="nadpisSekce">
        <a wicket:id="mostActiveCommenterHead"><wicket:message key="mostActiveCreator">Nejaktivnější</wicket:message></a>
    </div>
    <table>
        <tbody>
        <tr>
            <td>
                <a wicket:id="mostActiveCommenter">
                    <img wicket:id="mostActiveCommenterImage" class="obrazekUzivatel">
                </a>
            </td>
            <td class="obsah">
                <a wicket:id="mostActiveCommenterContent">
                    <span class="nick" wicket:id="mostActiveCommenterNick"></span>
                    <span class="jmeno" wicket:id="mostActiveCommenterName"></span>
                </a>

                <div class="popisekUzivatel"><wicket:message key="mostCreatedGamesPrize">Ocenění</wicket:message></div>
                <div class="popisekUzivatel"><span wicket:id="amountCommented">38 vytvořených her</span></div>
            </td>
        </tr>
        </tbody>
    </table></wicket:panel>