<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    Panel combining together Info about Administrators with info about Editors.
    It also contains basic contact info.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/about/AboutDbPanel.html
    Code - cz.larpovadatabaze.users.components.panel.about.AboutDbPanel.html
    -->


    <h2 class="panel-title hide"><wicket:message key="contacts">Kontakty</wicket:message></h2>

            
    <div class="panel panel-default">

        <div class="panel-heading">    
        <div class="sekce">
            <h2 class="panel-title"><wicket:message key="writeUs">Napište nám</wicket:message></h2>
            
            <div class="napisteNam"><a href="mailto: larpovadatabaze@gmail.com">
                <wicket:message key="larpMail">larpovadatabaze@gmail.com</wicket:message>
            </a></div>
        </div>
        </div>
    </div>
    
    <div class="sekce" wicket:id="administrators">
        <!--
        This panel is found in package: cz.larpovadatabaze.users.components.panel.about.AdministratorPanel.html
        https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/about/AdministratorPanel.html
        -->
    </div>
    <div class="sekce" wicket:id="moderators">
        <!--
        This panel is found in package: cz.larpovadatabaze.users.components.panel.about.EditorPanel.html
        https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/about/EditorPanel.html
        -->
    </div>
</wicket:panel>