<wicket:extend xmlns:wicket="http://wicket.apache.org">
	<div class="container main">
		<div class="row">
			<div class="col-md-10 col-sm-10 col-xs-12">
				<div class="row listGames">
					<div class="col-md-2 col-sm-2 col-xs-12">
						Jmeno hry
					</div>

					<div class="col-md-7 col-sm-7 col-xs-12">
						Datum
					</div>

					<div class="col-md-1 col-sm-1 col-xs-4">
						Lokace
					</div>

					<div class="col-md-1 col-sm-1 col-xs-4">
						Popis
					</div>

					<div class="col-md-1 col-sm-1 col-xs-4">
						Pocet hracu
					</div>
				</div>
			</div>
		</div>
	</div>
</wicket:extend>