<wicket:head xmlns:wicket="http://wicket.apache.org">
	<wicket:link>
		<link rel="stylesheet" type="text/css" href="ListEventsPage.css"/>
	</wicket:link>
</wicket:head>


<wicket:extend xmlns:wicket="http://wicket.apache.org">
	<div class="profile_bar">
		<div class="container">
			<div class="podzebricky" wicket:id="requiredLabelsWrapper">
				<wicket:container wicket:id="requiredLabels">
					<a wicket:id="requiredOne">
						<div class="btn btn-default btn-xs">
							<wicket:container wicket:id="text"/>
							<span class="fa fa-remove" wicket:id="removeLink"></span></div>
					</a>
				</wicket:container>
			</div>
		</div>
	</div>

	<wicket:container wicket:id="tabs"/>

	<div class="container main">
		<div class="levaCast">
			<div class="col-md-9" wicket:id="tabContent">
				<div class="panel panel-default comments" wicket:id="tabContentPanel">
				</div>
			</div>

			<div class="col-md-3 game-meta">
				<div class="row">
					<div class="col-md-2 col-sm-2 col-xs-12">
						<div>
							<div class="nadpisMenu">
								<wicket:message key="filters.filters">Filtry</wicket:message>
							</div>
						</div>
						<div class="sekce" wicket:id="filterEvents"></div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<wicket:fragment wicket:id="events">
		<div wicket:id="eventsPanel"></div>
	</wicket:fragment>
</wicket:extend>