<wicket:head xmlns:wicket="http://wicket.apache.org">
    <wicket:link>
        <link rel="stylesheet" type="text/css" href="DonationPage.css"/>
    </wicket:link>
</wicket:head>

<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="donor">
        <div class="profile_bar">
            <div class="container main">
                <div class="col-md-12">


                    <h1>Přispěvovatelé a příspěvky</h1>

                    <p>Provoz larpové databáze stojí ročně cca 24 000 Kč. V minulosti tyto peníze platil převážně ze scého tým
                        larpové databáze. Kromě nich se příspěvkem podílela Role, Larpová chata, Hell on Wheels a Kmeny za což jim
                        tímto děkujeme. Budeme moc rád, když nám budete na provoz larpové databáze pravidelně přispívat. Přispívat
                        je možné na transparentní účet <a href="https://www.fio.cz/ib2/transparent?a=2300942293">2300942293/2010</a>.
                        Pokud do poznámky přidáte své jméno budete pod tímto jménem zveřejněni na této stránce v seznamu dárců.</p>

                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div wicket:id="donors"></div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
</wicket:extend>