<wicket:head xmlns:wicket="http://wicket.apache.org">
	<wicket:link>
		<link rel="stylesheet" type="text/css" href="DonationPage.css"/>
	</wicket:link>
</wicket:head>

<wicket:extend xmlns:wicket="http://wicket.apache.org">
	<h2>Přispěvovatelé a příspěvky</h2>

	<div>Provoz larpové databáze stojí ročně cca 24 000 Kč. V minulosti tyto peníze platil převážně ze scého tým larpové databáze. Kromě nich se příspěvkem podílela Role, Larpová chata, Hell on Wheels a Kmeny za což jim tímto děkujeme. Budeme moc rád, když nám budete na provoz larpové databáze pravidelně přispívat. Přispívat je možné na transparentní účet <a href="https://www.fio.cz/ib2/transparent?a=2300942293">2300942293/2010</a>. Pokud do poznámky přidáte své jméno budete pod tímto jménem zveřejněni na této stránce v seznamu dárců.</div>

	<div wicket:id="donors"></div>
</wicket:extend>