<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="praveMenu">
        <div class="nadpisMenu">kontakty</div>
    </div>

    <div class="sekce" wicket:id="addAuthor"></div>
    <div class="sekce">
        <div class="nadpisSekce">Napište nám</div>
        <div class="napisteNam"><a href="mailto: larpovadatabaze@gmail.com">larpovadatabaze@gmail.com</a></div>
    </div>
    <div class="sekce" wicket:id="administrators"></div>
    <div class="sekce" wicket:id="moderators"></div>
</wicket:panel>