<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="praveMenu">
        <div class="nadpisMenu"><wicket:message key="contacts">kontakty</wicket:message></div>
    </div>

    <div class="sekce">
        <div class="nadpisSekce"><wicket:message key="writeUs">Napište nám</wicket:message></div>
        <div class="napisteNam"><a href="mailto: larpovadatabaze@gmail.com"><wicket:message key="larpMail">larpovadatabaze@gmail.com</wicket:message></a></div>
    </div>
    <div class="sekce" wicket:id="administrators"></div>
    <div class="sekce" wicket:id="moderators"></div>
</wicket:panel>