<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    Panel combining together Info about Administrators with info about Editors.
    It also contains basic contact info.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/about/AboutDbPanel.html
    Code - cz.larpovadatabaze.components.panel.about.AboutDbPanel.html
    -->
    <div class="praveMenu">
        <div class="nadpisMenu">
            <wicket:message key="contacts">kontakty</wicket:message>
        </div>
    </div>

    <div class="sekce">
        <div class="nadpisSekce">
            <wicket:message key="writeUs">Napište nám</wicket:message>
        </div>
        <div class="napisteNam"><a href="mailto: larpovadatabaze@gmail.com">
            <wicket:message key="larpMail">larpovadatabaze@gmail.com</wicket:message>
        </a></div>
    </div>
    <div class="sekce" wicket:id="administrators">
        <!--
        This panel is found in package: cz.larpovadatabaze.components.panel.about.AdministratorPanel.html
        https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/about/AdministratorPanel.html
        -->
    </div>
    <div class="sekce" wicket:id="moderators">
        <!--
        This panel is found in package: cz.larpovadatabaze.components.panel.about.EditorPanel.html
        https://github.com/CSLD/CSLD/blob/master/src/main/java/cz/larpovadatabaze/components/panel/about/EditorPanel.html
        -->
    </div>
</wicket:panel>