<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    It shows information about all administrators of the database.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/about/AdministratorPanel.html
    Code - cz.larpovadatabaze.components.panel.about.AdministratorPanel.html
    -->
    <div class="nadpisSekce"><wicket:message key="administrators">Administrátoři</wicket:message></div>
    <table>
        <tr wicket:id="listAdministrator">
            <!-- Beginning of repetitive part for every administrator -->
            <td>
                <a wicket:id="administratorLink">
                    <img wicket:id="administratorImage" class="obrazekModerator" />
                </a>
            </td>
            <td class="obsah">
                <a wicket:id="administratorLinkContent">
                    <span wicket:id="nicknameAdministrator" class="nick">Manik</span>
                    <span wicket:id="nameAdministrator" class="jmeno">Michal Havelka</span>
                </a>
                <div class="popisek">
                    <a href="mailto:">
                        <span wicket:id="administratorMail">dmanik@seznam.cz</span>
                    </a><br>
                </div>
            </td>
            <!-- End of repetitive part for every administrator -->
        </tr>
    </table>
</wicket:panel>