<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="nadpisSekce"><wicket:message key="administrators">Administrátoři</wicket:message></div>
    <table>
        <tr wicket:id="listAdministrator">
            <td>
                <a wicket:id="administratorLink">
                    <img wicket:id="administratorImage" class="obrazekModerator" />
                </a>
            </td>
            <td class="obsah">
                <a wicket:id="administratorLinkContent">
                    <span wicket:id="nicknameAdministrator" class="nick">Manik</span>
                    <span wicket:id="nameAdministrator" class="jmeno">Michal Havelka</span>
                </a>
                <div class="popisek">
                    <a href="mailto:">
                        <span wicket:id="administratorMail">dmanik@seznam.cz</span>
                    </a><br>
                </div>
            </td>
        </tr>
    </table>
</wicket:panel>