<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="nadpisSekce"><wicket:message key="editors">Moderátoři</wicket:message></div>
    <table>
        <tbody>
        <tr wicket:id="listModerator">
            <!-- Beginning of repetitive part for every editor -->
            <td>
                <a wicket:id="moderatorLink">
                    <img wicket:id="moderatorImage" class="obrazekModerator">
                </a>
            </td>
            <td class="obsah">
                <a wicket:id="moderatorLinkContent">
                    <span wicket:id="moderatorNick" class="nick">Čiki</span>
                    <span wicket:id="moderatorName" class="jmeno">Petr Kuběnský</span>
                </a>
            </td>
            <!-- End of repetitive part for every editor -->
        </tr>
        </tbody>
    </table>
</wicket:panel>