<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="cmpGallery" wicket:id="gallery">
        <a target="#" style="height: 0; width: 0;"></a>
        <div class="display">
            <div class="paging left"></div>
            <div class="paging right"></div>
        </div>
        <div class="bottom">
            <div class="buttons">
                <input type="button" name="modify" value="Upravit" />
                <input type="button" name="delete" value="Smazat" />
                <input type="button" name="save" value="Uložit" />
                <input type="button" name="cancel" value="Zrušit" />
                <input type="button" name="order" value="Pořadí" />
            </div>
            <div class="description"></div>
            <textarea name="description"></textarea>
            <div class="orderText">Pomocí drag &amp; drop přesuňte fotografie do požadovaného pořadí a klikněte výše na &quot;Uložit&quot;</div>
        </div>
        <ul></ul>
    </div>
</wicket:panel>