<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="container main">
        <div class="row">
            <div class="col-md-12">
                <ul style="margin-top: 20px; font-size: 20px;">
                    <wicket:enclosure child="manageUserRights">
                        <li><a wicket:id="manageUserRights">
                            <wicket:message key="admin.manageUserRights">Správa uživatelských práv</wicket:message>
                        </a></li>
                    </wicket:enclosure>
                    <li><a wicket:id="manageLabels">
                        <wicket:message key="admin.manageLabels">Správa štítků</wicket:message>
                    </a></li>
                    <li><a wicket:id="ratingStatistics">
                        <wicket:message key="admin.ratingsStatistics">Statistiky hodnoceni</wicket:message>
                    </a></li>
                    <li><a wicket:id="commentStatistics">
                        <wicket:message key="admin.commentStatistics">Statistiky komentářů</wicket:message>
                    </a></li>
                    <li><a wicket:id="authorRatedOwnGame">
                        <wicket:message key="admin.authorRatedOwnGame">Správa štítků</wicket:message>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</wicket:extend>