<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="container main">
        <div class="row">
            <div class="col-md-12">
                <form wicket:id="manageUser">
                    <table>
                        <caption>
                            Manage the rights of the users.
                        </caption>
                        <thead>
                        <tr>
                            <th scope="col">
                                <wicket:message key="form.name">Jméno</wicket:message>
                            </th>
                            <th scope="col">
                                <wicket:message key="form.description">Pr8va</wicket:message>
                            </th>
                        </tr>
                        </thead>

                        <tbody wicket:id="users">
                        <!-- Beginning of part, which is repeated for every user -->
                        <tr>
                            <td>
                                <span wicket:id="name"></span>
                            </td>
                            <td>
                                <select wicket:id="role">
                                    <option wicket:id="user"><wicket:message key="user.user">Uživatel</wicket:message></option>
                                    <option wicket:id="editor"><wicket:message key="user.editor">Editor</wicket:message></option>
                                    <option wicket:id="admin"><wicket:message key="user.administrator">Administrátor</wicket:message></option>
                                </select>
                            </td>
                        </tr>
                        <!-- End of part, which is repeated for every user -->
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</wicket:extend>