<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <h2><wicket:message key="comments"/></h2>
    <!--
    This Panel shows List of comments. Everything about comment is shown and the
    full text of the comment.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/CommentsListPanel.html
    Code - cz.larpovadatabaze.components.panel.game.CommentsListPanel.html
    -->
    <div wicket:id="commentList" class="list-group-item">
        <h4 class="list-group-item-heading">
            <div wicket:id="commentHiddenButton" style="float: right; margin-top: 40px;"></div>
            <div style="float: right; margin-top: 25px;">
                <span class="comment-plus-one" wicket:id="pluses">2</span>
                <span class="comment-upvote" wicket:id="upvote"></span>
            </div>
            <a wicket:id="authorLink">
                <span class="comment-user-picture"><img class="media-object" wicket:id="avatar" alt=""></span>
                <span class="comment-user-nickname label label-info" wicket:id="nick">Imi</span><span class="comment-user-name" wicket:id="name">Stanislava Pajerová</span>
            </a>
            <span class="comment-date" wicket:id="commentDate">8. 4. 2014</span>
        </h4>
        <wicket:container wicket:id="commentsContent"></wicket:container>

        <!-- Not in the template -->
        <div wicket:id="showGame" style="margin-top: 10px;">
            <wicket:message key="comment.aboutGame">o hře</wicket:message>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="position: relative;">
                <div wicket:id="gameRating" class="game-square"></div>
                <a wicket:id="gameDetail">
                    <span wicket:id="gameName"></span>
                </a>
            </span>
        </div>
    </div>
</wicket:panel>