<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    This panel contains link for deleting the game.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/DeleteGamePanel.html
    Code - cz.larpovadatabaze.components.panel.game.DeleteGamePanel.html
    -->
    <div class="panel panel-default">
        <div class="panel-body">
            <a wicket:id="deleteGame">
                <span wicket:id="deleteGameLabel"></span>
            </a>
        </div>
    </div>
</wicket:panel>