<wicket:panel xmlns:wicket="http://wicket.apache.org">
<!--
It shows pageable list of games ordered by time when they were added to the database
It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/ListGamesWithAnnotations.html
Code - cz.larpovadatabaze.components.panel.game.ListGamesWithAnnotations.html
-->
<div class="row recent-games played" wicket:id="rows">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" wicket:id="game1"></div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" wicket:id="game2"></div>
</div>

</wicket:panel>