<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
     The Played Panel has three states of being. Either the player does not have any
     interest in game or the player played the game, or the player is interested in
     playing the game.
     It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/PlayedPanel.html
     Code - cz.larpovadatabaze.components.panel.game.PlayedPanel.html
    -->
    <a href="#" wicket:id="didntPlay" class="btn btn-xs play hint--rounded hint--top" data-hint="Nehrál jsem. Klikněte pro reset hodnocení"><wicket:message key="game.didntPlay">Nehrál jsem</wicket:message></a>
    <a href="#" wicket:id="played" class="btn btn-xs play hint--rounded hint--right" data-hint="Hrál jsem"><wicket:message key="game.played">Hrál jsem</wicket:message></a>
    <a href="#" wicket:id="wantToPlay" class="btn btn-xs play hint--rounded hint--bottom" data-hint="Chci hrát"><wicket:message key="game.wishToPlay">Chci hrát</wicket:message></a>
</wicket:panel>                                               