<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <!--
    This panel is shown when user does not have right to rate the game.
    Therefore when he is not logged.
    It is found in https://github.com/CSLD/CSLD/tree/master/src/main/java/cz/larpovadatabaze/components/panel/game/LoginToRatePanel.html
    Code - cz.larpovadatabaze.components.panel.game.LoginToRatePanel.html
    -->
    <div class="hodnoceniUziv"><strong><wicket:message key="game.ratingDisabled"></wicket:message></strong></div>
</wicket:panel>